[2014-05-23 02:30] dylang opened #2 "default to current directory when there is a package.json in that directory"
`$ devdep` in a directory that has a `package.json` should just assume by default that's the directory you care about and not require a path.

[2014-05-23 02:31] dylang opened #3 "devDependencies by default"
I'm not sure why you wouldn't want devDependencies.

[2014-05-23 02:33] dylang opened #4 "List dependencies and devDependencies separetly"
Something like

[code]

[2014-05-25 21:24] #2 closed, assigned to nobody

[2014-05-25 21:35] #3 closed, assigned to nobody

[2014-05-25 22:17] #4 closed, assigned to rumpl

[2014-05-27 02:11] dylang opened #5 "main should point to index.js, not the cli js"
In `package.json`:

[code]

Main should point to `index`.

[2014-05-27 07:20] #5 closed, assigned to nobody

[2014-06-03 15:51] dylang opened #6 "option to ignore directories"
Right now depcheck walks every directory except `node_modules`

[code]

It would be helpful if we could provide an array of directories to ignore so we could avoid scanning our `build` directory which happens to be huge.

For example

[code]

[2014-06-09 14:51] dylang opened #7 "don't change string prototype"
[code]

This means you are changing how `string` works for all code that depends on your code.

It would be prefered to use a function or something like `underscore.string`. https://github.com/epeli/underscore.string

I'm not sure if this is related, but a co-worker is seeing this:

[code]

[2014-06-13 22:59] max-mapper opened #9 "dependency-check comparison"
crazy timing, i went to go publish this today https://github.com/maxogden/dependency-check and found out you picked the same name 4 days ago! haha! I just renamed it to `dependency-check` instead

my use case was to do a consistency check before I publish a module to make sure all of the modules used are listed in the package.json. that way I can have `dependency-check` run as a pre-publish hook a

[2014-06-14 20:05] #6 closed, assigned to nobody

[2014-06-14 20:18] #7 closed, assigned to nobody

[2014-06-14 20:23] #9 closed, assigned to nobody

[2014-06-15 22:28] elliots opened #10 "Clean install fails to run, missing dependency "optimist""
Looks like you moved it to devDependencies
https://github.com/rumpl/depcheck/blob/master/package.json#L30

[2014-06-16 10:02] #10 closed, assigned to nobody

[2014-09-05 16:56] goldibex opened #11 "Depcheck is busted"
[code]

[2014-09-09 07:49] #11 closed, assigned to nobody

[2014-09-30 19:13] alanhoff opened #14 "depcheck should accept metadata from options"
I think that depcheck should accept `package.json` metadata from the options, so we could use it dynamically.

[code]

[2014-11-07 13:46] #14 closed, assigned to nobody

[2014-11-13 18:54] braco opened #16 "Support for coffee?"
How difficult would it be to add coffee-script support so that the "unused" checks are accurate in coffee projects?

[2014-12-02 01:31] marcellodesales opened #17 "Question: Gulp support?"
Hi there,

I'm looking for a Gulp support for addressing this problem... Have you integrated your app to Gulp or Grunt? Any suggestions? I can submit a PR if there's interest...

thanks!

[2014-12-17 07:10] staxmanade opened #18 "False Positives with gulp-load-plugins && gulp-jshint"
Hello,

Was looking around at how to determine un-used npm packages and found your project.

When I ran it the following report was generated. However, due to the way I'm loading gulp plugins (using `gulp-load-plugins`, my guess is this tool is not picking up anything that is dynamically loaded. Similarly, I'm asking it to use the `jshint-stylish` reporter for my jshint, which I presume is another

[2015-01-26 15:51] sevko opened #19 "add support for files with a node shebang"
depcheck doesn't appear to take into account files without a `.js` extension but that contain a node shebang (eg `#!/usr/bin/env node`). Example:

[code]

Renaming `executable` to `executable.js` resolves the problem, though.

[2015-01-26 15:53] sevko commented on #19
I can work on a PR for this later today.

[2015-01-26 15:59] rumpl commented on #19
Hello,

Yes, depcheck only checks [for js files](https://github.com/rumpl/depcheck/blob/master/index.js#L48). I'm not sure that `detective` can parse files with the shebang in them, if he can than that's great!

It would be great if there was a command line parameter for forcing additional files that are not `.js`.

Something like: `depcheck --additionnal=bin/main,bin/other`. What do you think abo

[2015-01-26 16:20] sevko commented on #19
Since shebangs are only ever present at the beginning of a file, you can check the first line containing non-whitespace characters against a regular expression like `^[ \t]*#!.*node` (`jshint` somehow [implements this](https://github.com/jshint/jshint/issues/66)). A flag could be a useful additional feature.

[2015-01-27 20:12] goloroden commented on #17
+1 for Grunt support, would <3 this :-)

[2015-01-27 20:23] rumpl commented on #17
Ok guys, [grunt plugin](https://github.com/rumpl/grunt-depcheck) is coming soon, a gulp one after that.

[2015-01-27 22:12] rumpl commented on #18
Hey guys, thanks for the interest in depcheck :)

Internally, depcheck handles this kind of things with its `ignoreMatches` option but I couldn't find a way to put it on the command line.

I started a new repo for a grunt plugin, as soon as it's released I will start working on a gulp plugin too, with these plugins you will be able to set the `ignoreMatches` option.

At one time I was thinking abo

[2015-01-27 23:43] marcellodesales commented on #17
@rumpl Awesome... I would love to contribute with the gulp one!

thanks!

[2015-02-24 20:28] tomekwi opened #21 "ES6 support?"
Hi, and first of all thanks for a great piece of code.

Have you considered adding support for ES6 files – run via [babel](https://www.npmjs.com/package/babel) or [traceur](https://www.npmjs.com/package/traceur)?

It should be as simple as looking for `import .+ from "<dependency>(/.+)?";` as well as  `require\("<dependency>(/.+)?"\);`.

[2015-03-01 17:49] SgtPooki commented on #18
@rumpl I think rc files are good, but I also think building a command line tool that can be passed all the options is the most versatile and future proof solution. If you add a .depcheckrc file that would be nice solution for some I am sure. I am starting to dislike rc files, because the last project I inherited had about 10 rc files in the project root.

[2015-03-09 20:39] juancabrera commented on #21
Running through the same issue. It's saying that some packages are not being used and actually they are. I'm also assuming this is because of the ES6 syntax.

As an example it's saying the package ```fluxible-plugin-routr``` is not in use, but actually its on a root file app.js, this is the syntax I'm using to load it.
[code]

[2015-03-09 20:53] rumpl commented on #21
Hey guys,

I will look into it, ES6 support is definitely a must have.

Thanks for taking the time to write an issue.

[2015-03-09 21:54] PavelKonon commented on #16
+1

[2015-03-12 18:52] kylemac commented on #16
+1

[2015-03-25 04:01] rahatarmanahmed commented on #16
+1

[2015-04-25 13:56] callum commented on #21
I wonder if a more versatile approach would be to allow piping via stdin, then it would be possible to do something like `babel file.js | depcheck`.

[2015-05-04 17:06] vmeurisse commented on #17
For those interested, here is my way of doing the gulp support ;)

[code]

[2015-05-11 11:41] ensonic commented on #16
+1

[2015-05-11 23:11] jonathanong opened #26 "support for multiple entry points"
seems like it detects all my client-side dependences as unused as they have a different entry point which isn't defined in main. also, our grunt dependencies are not included either. can we have an option to manually input multiple entry points?

[2015-05-11 23:12] jonathanong commented on #26
actually... this might be because all my client-side code is ES6+. not sure

[2015-05-16 00:54] dantman commented on #21
I have this issue too. I started using React in my code recently. I run `.es6` and `.jsx` files with babel so I can use JSX and ES6 functionality in some of my code.

My requires are still traditional `require(...)` calls. But because depcheck only looks for files ending in `.js` and parses ES3/ES5. Any module I only use in ES6/JSX code like `require('classnames')` is marked as not used.

I'm not

[2015-06-03 10:43] bettiolo commented on #21
:+1: for es6 support in .js and .jsx

[2015-06-11 18:14] lijunle commented on #21
:+1: here. :)

[2015-06-18 10:35] lijunle commented on #21
I think that the package [detective-es6](https://www.npmjs.com/package/detective-es6) can be leveraged to resolve this issue.

[2015-06-23 23:02] dominicbarnes commented on #19
+1

[2015-06-25 20:03] geirsagberg commented on #21
+1 :)

[2015-07-16 21:04] christophehurpeau commented on #21
:+1:

[2015-07-21 06:12] lijunle commented on #21
@rumpl I have implemented the support for ES6 in #29, could you please take a look?

[2015-07-21 06:22] lijunle commented on #26
Seem a dup of #21

[2015-07-21 06:25] lijunle commented on #19
The [**acorn**](https://www.npmjs.com/package/acorn) parse support `allowHashBang` options naturally.

[2015-07-30 13:47] alinex commented on #16
+1

[2015-08-07 12:13] Wilfredfury commented on #16
+1

[2015-08-10 10:49] ngryman commented on #21
:+1:

[2015-08-11 15:32] dkebler opened #31 "includeDirs"
Enhancement:

To compliment your ignoreDirs how about includeDirs?  Default is all directories below the cwd or a given path if not used.  Otherwise just the array of given includeDirs.

In a project typically I would have only one or two directories I want checked.  Using ignoreDirs I must specify a longer list of directories that changes and is thus harder to maintain.

Seems like maybe you aren

[2015-08-18 23:44] fakewaffle opened #32 "npm scoped packages"
I am using scoped packages and depcheck is telling me that I have both unused `dependencies` and `devDependencies`.

https://docs.npmjs.com/misc/scope

[2015-08-18 23:46] fakewaffle opened #33 "dead project?"
Is this project dead? I see some pull requests asking for feedback from the maintainer but no follow up.

[2015-08-21 14:25] rumpl commented on #33
Hello,

The project is not dead, and I am alive too.
Will try to find time this weekend and cleanup the mess.

Sorry for the inconvenience.

[2015-08-21 14:25] #33 closed

[2015-08-26 18:55] fakewaffle commented on #33
:+1:

[2015-09-19 16:38] woodb commented on #21
This has been closed in #29

[2015-09-19 17:02] lijunle commented on #21
Hi, all.

Because @rumpl don't response on my PR. I decide to publish my fork to NPM and rename to `depcheck-es6`. It is a drop-in replacement for `depcheck` package.

Modify your `package.json` to replace `depcheck` to `depcheck-es6` and update your `require` or `import` statements.

Personally, besides ES6 support, I am proposing supports for JSX and gulp. If anybody have some ideas, please open

[2015-10-20 17:23] mathieudutour commented on #16
Support for coffeeScript has just landed in [depcheck-es6](https://github.com/lijunle/depcheck-es6)

See [the comment from lijunle](https://github.com/rumpl/depcheck/issues/21#issuecomment-141687991).

[2015-10-22 13:57] mcasimir commented on #17
https://github.com/mcasimir/gulp-depcheck

[2015-11-03 08:41] rumpl commented on #17
@mcasimir That's awesome!
I just created an organization for depcheck, would you want your repo to be in there ?
I can add you to the organization.

Thanks for the module! :)

[2015-11-03 08:41] #17 closed

[2015-11-04 18:30] lijunle commented on #32
Please update to [0.5.9 release](https://www.npmjs.com/package/depcheck) to get this feature.

[2015-11-04 18:30] #32 closed

[2015-11-04 18:31] lijunle commented on #31
Please update to [0.5.9 release](https://www.npmjs.com/package/depcheck) to get this feature.

Use as `--ignore-dirs=a,b,c`.

[2015-11-04 18:31] #31 closed

[2015-11-04 19:09] lijunle commented on #21
Hi all, I am back. :smiley:

Depcheck-es6 is merged back to original depcheck now. I have released [version 0.5.9](https://www.npmjs.com/package/depcheck) on depcheck package in NPM.

Thanks for @rumpl moving the repo under the org. I will continue to develop and maintain the project.

[2015-11-04 19:09] #21 closed

[2015-11-04 19:18] lijunle commented on #16
Thanks for @mathieudutour 's PR. Those codes finally come back to the original depcheck. I have released version 0.5.9 to [depcheck package](https://www.npmjs.com/package/depcheck) in NPM to include CoffeeScript support.

Please enjoy it. Open issue here if get any problem.

[2015-11-04 19:18] #16 closed

[2015-11-04 19:21] lijunle commented on #26
Closing this issue because no follow ups. If get any concerns, please reply.

[2015-11-04 19:21] #26 closed

[2015-11-04 19:33] lijunle commented on #19
I think version 0.5.9 has supported this now. Could anybody help to test it?

I will add a test case to cover this later.

[2015-11-05 18:47] #19 closed

[2015-11-11 02:28] lijunle opened #41 "vice versa function"
_From @js08 on October 28, 2015 18:20_

Is it possble to identify the package name in package.json file when that module is not present. I mean can we do a vice versa function in depcheck-es6

_Copied from original issue: lijunle/depcheck-es6#99_

[2015-11-11 02:28] lijunle commented on #41
That is possible. Seems like a feature.

@js08 Are you going to implement it?

[2015-11-11 02:28] lijunle commented on #41
_From @js08 on October 28, 2015 18:28_

@lijunle it would be great if you provide us guidance, where to start with it

[2015-11-11 02:28] lijunle commented on #41
You need to read and understand the source code. I do roughly look on the code, the main modification could be [here](https://github.com/lijunle/depcheck-es6/blob/master/src/index.js#L134-L136).

I suppose you have the knowledge about the JavaScript programming, ES6 syntax and Promise based asynchronous pattern. If not, please google around to learn them. They are very useful.

[2015-11-11 02:28] lijunle commented on #41
_From @js08 on October 28, 2015 19:7_

@lijunle I looked into the code, it would be great if you add some comments before each function,
If its a small fix, can you update at your end

[2015-11-11 02:28] lijunle commented on #41
1. Do not expect great document, read the first sentence in my previous post.
2. If you can not help, I will not start on it immediately - until I get some time.

[2015-11-11 02:28] lijunle commented on #41
_From @js08 on October 28, 2015 20:6_

@lijunle yeah I am looking at the code and debugging, is it a small fix

[2015-11-11 02:28] lijunle commented on #41
_From @trkailash on October 28, 2015 20:41_

@lijunle  I shall help. What is the process to contribute ?
1. fork and raise a PR ?
2. Question with respect to the marked code above: I see "used" is an array of necessary dependencies. But, how do I recognize whether to add it to dependencies or devDependencies for the feature in question ?? Hint/pointers would give me a lead.
Thanks !

[2015-11-11 02:28] lijunle commented on #41
Hi, @trkailash

1. Yes, please fork and send a PR. I am welcome with that.
2. No, you cann't. One more property beside to `dependencies`  looks like a solution. Suppose name as `notSaved` or similar.
3. I think a bit more on this, **that is not so easy.** The current [design](https://github.com/lijunle/depcheck-es6/blob/master/doc/pluggable-design.md) allows *undetermined* dependencies returned fr

[2015-11-11 02:28] lijunle commented on #41
Besides, when providing such function, we will lost the chance to [optimize the performance](https://github.com/lijunle/depcheck-es6/issues/49), because it already need to look all files to determine which package is not saved in `package.json` file.

However, I think, function is important than performance.

[2015-11-11 02:28] lijunle commented on #41
@trkailash I made a design change in #100. Please read the design and you will find the clue to implement this.

Thanks!
Junle

[2015-11-11 02:28] lijunle commented on #41
_From @trkailash on November 1, 2015 14:53_

Hello @lijunle I am a lot more familiar with the codebase now. I had a few questions to ask (some are elementary):

1. How do I generate a new bin/depcheck ? I would like to generate this when I make a change to the source to run depcheck.

2. From a solution standpoint I was thinking of running a third field called **inclusions** in the resolved promis

[2015-11-11 02:28] lijunle commented on #41
Hi, @trkailash Thanks for your investigation.

Run `npm run prepublish`, which is the [standard hook](https://docs.npmjs.com/misc/scripts) before publish. However, you could just run `npm run compile`, because I suppose you will not add new components.

However, a better way is to add unit test first, then you can verify your change without wait for bin/depcheck is generated.

That sounds good.

H

[2015-11-11 02:29] lijunle opened #42 "Webpack loader support"
_From @lijunle on September 19, 2015 21:20_

[Webpack loaders](http://webpack.github.io/docs/loaders.html) are a special way to "load" code into webpack.

There are two syntax to use webpack loader:

- Via `require` function
- Via webpack config file

_Copied from original issue: lijunle/depcheck-es6#14_

---

There are several syntaxes about Webpack loaders:

- [ ] The `require` calls. ([example]

[2015-11-11 02:29] lijunle commented on #42
_From @js08 on October 21, 2015 16:3_

@lijunle is the issue fixed

[2015-11-11 02:29] lijunle commented on #42
No, not yet. I do not have **full scenario** to support this. If you have a project using webpack, then you can depcheck the project and resolve the webpack issues. I guess webpack might be complex because it use its naming convention to *require* packages.

[2015-11-11 02:29] lijunle commented on #42
_From @js08 on October 21, 2015 16:16_

@lijunle to check webpack dependencies do I need to use special commands

[2015-11-11 02:29] lijunle commented on #42
Let me clarify, webpack has many loaders, plugins, etc. There is a simple way to depend on one webpack loader/plugin (check [this docs](http://webpack.github.io/docs/using-loaders.html#usage)). Those usages do not follow `require` function call. We may need to some special way to detect them.

Currently, such special command does not exist.

If you want to work on this, read [webpack's document](h

[2015-11-11 02:29] lijunle commented on #42
_From @js08 on October 21, 2015 17:12_

@lijunle does this npm package https://github.com/dylang/npm-check supports  webpack

[2015-11-11 02:29] lijunle commented on #42
I don't think they support. Npm-check use depcheck to detect unused dependencies.

[2015-11-11 02:29] lijunle commented on #42
_From @js08 on October 21, 2015 17:21_

@lijunle so are you not checking for packages in devDependencies which is mention in package.json

[2015-11-11 02:29] lijunle commented on #42
@js08  I don't get your meaning, is that related to webpack issue? If not, please open another issue.

[2015-11-11 02:29] lijunle commented on #42
_From @js08 on October 21, 2015 18:4_

@lijunle if npm-check packages supports webpack we can use the same code in depcheck-es6

[2015-11-11 02:29] lijunle commented on #42
_From @js08 on October 22, 2015 18:50_

@lijunle can you tell what exactly is the issue its confusing

[2015-11-11 02:29] lijunle commented on #42
_From @js08 on October 23, 2015 14:6_

@lijunle https://github.com/lijunle/depcheck-es6/issues/27 if you look at this it seems you have closed

[2015-11-11 02:29] lijunle commented on #42
_From @js08 on October 26, 2015 14:19_

@lijunle here is an example for todomvc app, can you fix it https://github.com/rackt/redux/blob/master/examples/todomvc/webpack.config.js#L22

[2015-11-11 02:29] lijunle commented on #42
Hi, @js08

I am sorry to tell you that, I am not going to work on this issue. Because of the estimated complexity of this issue is high, and the benefit is not very high. I will not work on this issue until my another working project reach my bar.

However, if you have ideas on this, please go ahead to implement it. I am welcome for a PR.

[2015-11-11 02:30] lijunle opened #43 "Performance enhancement"
_From @lijunle on September 26, 2015 14:28_

Currently, depCheck looks for all files under directory to get dependency result.

Some strategies can be used to optimize the performance:

1. First, it get packages from a part of files, compare with declaring packages.
2. If all declaring packages are used, stop reading files. Return everything is good. :white_check_mark:
3. If not all declaring pack

[2015-11-11 02:30] lijunle commented on #43
Use [benchmarkjs](http://benchmarkjs.com) to compare the performances of different strategies.

[2015-11-11 02:30] lijunle commented on #43
_From @mathieudutour on October 16, 2015 10:8_

What about using regex instead of building an AST for each file? Should be much quicker right?
I just created a package to find the require statements (including ES6 and coffeescript) in a string (https://github.com/mathieudutour/deps-regex)

[2015-11-11 02:30] lijunle commented on #43
_From @mathieudutour on October 16, 2015 10:9_

I tried to implement it (https://github.com/mathieudutour/depcheck-es6/commit/1174755c4f4df87b2ad6dd71be1fd243ef238c64) but tests are failing. I'm not sure where they come from as I'm not familiar with the test suit

[2015-11-11 02:30] lijunle commented on #43
Hi, @mathieudutour Thanks for working on this.

Actually, build an AST is not necessary to parse a file. As said in my [pluggable design](https://github.com/lijunle/depcheck-es6/blob/master/doc/pluggable-design.md), the parser has a second option - **find all package dependencies, and return them as a string list**. The main program will [handle](https://github.com/lijunle/depcheck-es6/blob/master

[2015-11-11 02:30] lijunle commented on #43
Besides, this thread is **not** discussing the performance about **parsing a file** with which method (AST, or regex pattern).

It focuses on another problem - currently, we are looking on all files in your package to get the unused packages. However, in most of the case, the developer should have all packages in use. We should **stop looking on files once we find out all declaring packages are in

[2015-11-11 02:30] lijunle commented on #43
_From @mathieudutour on October 16, 2015 14:33_

make sense

[2015-11-11 02:30] lijunle commented on #43
_From @js08 on October 21, 2015 16:19_

@lijunle do you have solution how to fix it

[2015-11-11 02:30] lijunle commented on #43
Read the thread from top to bottom, some clues have mentioned.

[2015-11-11 02:30] lijunle opened #44 "Babel plugin support"
_From @lijunle on October 26, 2015 19:29_

In `.babelrc`:

[code]

Expected packages:

- babel-plugin-react-transform
- react-transform-hmr

---

Work items:

- [x] The configs in `.babelrc` file.
- [x] Configs with options ([example](https://babeljs.io/docs/plugins/#options)).
- [x] The configs in envionment ([example](https://babeljs.io/docs/usage/babelrc/#env-option)).
- [x] The configs in `pac

[2015-11-11 02:30] lijunle commented on #44
_From @js08 on October 27, 2015 21:45_

@lijunle any idea how to fix it

[2015-11-11 02:30] lijunle commented on #44
Babel is shipping 6.x with new plugin syntax. No idea if that is related.

Reference: http://babeljs.io/blog/2015/10/29/6.0.0/

[2015-11-11 02:30] lijunle commented on #44
Reopen the issue because `react-transform-hmr` is another issue.

[2015-11-11 03:04] lijunle opened #45 "Recognize babel-plugin-react-transform transformers."
Related: #44

NPM document: https://www.npmjs.com/package/babel-plugin-react-transform

Example:

[code]

[2015-11-11 03:04] lijunle commented on #44
Babel support is basically there - #39

babel-plugin-react-transform transformers is tracked by another issue - #45

Close this issue.

[2015-11-11 03:04] #44 closed

[2015-11-11 04:08] lijunle opened #46 "TypeScript support."

[2015-11-18 15:34] lijunle opened #50 "eslint-config-airbnb does not depend on babel-eslint any more"
See its changelog: https://github.com/airbnb/javascript/tree/master/packages/eslint-config-airbnb#100

[2015-11-18 17:18] #50 closed

[2015-11-18 18:20] lijunle commented on #18
Hi, all.

I am taking care of this project. Could anybody tell me if he still has this problem with version 0.5.9? Is it worth to worth on this?

[2015-11-19 15:41] lijunle opened #54 "Peer dependencies and optional dependencies support."
- [x] Peer dependencies
- [x] Optional dependencies

---

The peer and optional dependencies may not work when host dep is scoped package. If open an issue if you get into that trouble.

[2015-11-19 21:12] gtanner opened #57 "wrong repo link in published module"
https://www.npmjs.com/package/depcheck

![screen shot 2015-11-19 at 4 12 18 pm](https://cloud.githubusercontent.com/assets/317051/11284545/5adedade-8ed8-11e5-8b2a-efc369a5ee2d.png)

[2015-11-20 02:27] lijunle commented on #57
Thanks for reporting. I have fixed this in [package.json](https://github.com/depcheck/depcheck/blob/master/package.json#L11). However, because no new version is published to npm, the info in npm is not changed yet.

[2015-11-20 11:53] LiaoSept opened #58 "eslint support issues"
.eslintrc
[code]

run results:
[code]

It does not seem to depend on the correct handling of devDependencies?

[2015-11-20 11:58] lijunle commented on #58
Hi, @LiaoSept

This is a known issue. I hope to resolve it tonight.

[2015-11-20 16:49] #54 closed

[2015-11-20 18:29] #58 closed

[2015-11-21 13:01] #42 closed

[2015-11-21 16:45] lijunle commented on #45
It [is not supporting Babel 6](https://github.com/gaearon/babel-plugin-react-transform#babel-6-not-supported-yet). In such case, I think it is *not* worth to invest on it.

I will revisit here after Babel 6 is supported by it.

[2015-11-22 01:21] lijunle commented on #57
Version 0.5.10 is published, link is updated.

[2015-11-22 01:21] #57 closed

[2015-11-22 06:26] LiaoSept opened #73 "request support: -h/--help arguments"
returns https://github.com/depcheck/depcheck#usage

**get arguments always need to look at the _document_ you want to support the more convenient**

[2015-11-22 12:31] lijunle commented on #73
The `--help` argument is there. Does it work?

[2015-11-23 06:34] LiaoSept commented on #73
[code]

[2015-11-23 06:54] lijunle commented on #73
Weird, which OS are you using?

It works fine on my Windows and Ubuntu environment.

---

Ubuntu:

[code]

Windows:

[code]

[2015-11-23 06:57] LiaoSept commented on #73
[code]

[2015-11-23 07:00] LiaoSept commented on #73
[code]

[2015-11-23 07:05] LiaoSept commented on #73
perhaps because I've used I [n](https://www.npmjs.com/package/n) the reason caused.
thx.

remove `/usr/local/bin/depcheck` after normal

[2015-11-23 07:07] lijunle commented on #73
From the [npm document](https://docs.npmjs.com/files/folders), it should be installed to `/usr/local` folder. I have no idea about how `n` handle this.

Besides, version 0.5.10 should handle the eslint related packages. Enjoy it. :smiley:

[2015-11-23 07:08] LiaoSept commented on #73
thx

[2015-11-23 07:08] #73 closed

[2015-11-23 07:08] lijunle opened #74 "Add --version parameter."
For easier debug CLI issues, like #73 .

[2015-11-23 07:09] LiaoSept commented on #73
[code]

[2015-11-23 07:10] lijunle commented on #73
OK, how could you run your `eslint` command? Is it in your `package.json` or `.travis.yml`?

[2015-11-23 07:11] LiaoSept commented on #73
.eslintrc file
see http://eslint.org/docs/user-guide/configuring.html

[2015-11-23 07:12] lijunle commented on #73
Do you install eslint as a global package or a local one?

[2015-11-23 07:14] LiaoSept commented on #73
[code]
I think "eslint" is "devDependencies"

[2015-11-23 07:15] lijunle commented on #73
OK.

Do you run eslint by manually running `./node_modules/eslint .` command, or add it to `scripts` section in `package.json`, or somewhere else?

[2015-11-23 07:16] LiaoSept commented on #73
yep

[2015-11-23 07:21] lijunle commented on #73
You mean, you run by manually input the `./node_modules/eslint .` command?

In that case, I think that is a *useless* dev dependency for your package, because you could install it globally.

However, another option is to integrate the `eslint` command to `package.json` file, or your CI configuration file. Then, it will be considered as a *useful* dependency.

[2015-11-23 07:31] LiaoSept commented on #73
Yep, understand
If you meet this condition jslint proposal to include warning

[2015-11-23 07:37] lijunle commented on #73
What's the meaning of "jslint proposal to include warning"?

[2015-11-24 06:53] lijunle opened #75 "Output error call stack in JSON output."
Treat `--json` as `--debug` output, output as many information as possible.

[2015-11-25 18:37] lijunle opened #76 "Implement mocha.opts special parser."
Reference issue: https://github.com/dylang/npm-check/issues/22

Reference document: http://mochajs.org/#mocha-opts

---

From the [source code](https://github.com/mochajs/mocha/blob/c4393c456839d6bf2cbb4abb1cd177010ee06458/bin/options.js#L17), there are two bullets:

- [x] The default value could be `test/mocha.opts`
- [ ] User could specify the file via `--opts` argument.

[2015-11-27 17:19] lijunle opened #77 "Ignore doc folder in NPM deployment."
Need to update `.npmignore` file.

[2015-11-28 11:28] #77 closed

[2015-11-28 12:30] #75 closed

[2015-11-28 14:10] #74 closed

[2015-12-02 03:25] smazurov opened #81 "Bug with subdirectories?"
I'm running into an issue where files in subdirectories aren't correctly checked (at least for `peerDependancies`) for `require` statements

### Quick test:
**./package.json** and `npm install`
[code]

**./entry.js**
[code]

Running `depcheck`:

_Working as intended_

### Breaks:

make a folder `test/` and move `entry.js` there:
[code]

Running `depcheck`:

---------

Debug info:
[code]
depcheck i

[2015-12-02 11:17] lijunle commented on #81
Confirmed as a bug, It is caused by `subdir` is passed to `checkDirectory` by mistake ([code](https://github.com/depcheck/depcheck/blob/master/src/index.js#L161)), should be (root) `dir`.

[2015-12-02 14:50] lijunle commented on #81
Release [0.5.11](https://github.com/depcheck/depcheck/releases/tag/0.5.11) to fix this.

[2015-12-02 14:57] #81 closed

[2015-12-02 18:19] smazurov commented on #81
Thanks a ton, this is an awesome tool (I use it with `npm-check`), thank you for maintaining it.

[2015-12-31 02:53] zeke commented on #45
I ran into a similar issue:

[code]

The code in use:

[code]

[2016-01-05 14:34] chrisbateman opened #83 "Find dependencies which aren't listed in package.json"
I know it's kind of the inverse of what it does right now, but I was just wondering if you'd be open to having this kind of functionality added to depcheck.

There is a separate tool that already does this (dependency-check), but it doesn't support ES6 syntax yet. Depcheck may have better infrastructure ready to cover both cases.

And by the way - this is a great tool, thanks for all your work on

[2016-01-05 18:21] lijunle commented on #83
Yes, I wanna implement it. That is tracked by #41. I am open for a PR. However, I am on vacation, will have a look and continue on it after back work.

[2016-01-05 19:27] smazurov commented on #45
`babel-plugin-react-transform@2.0.0` is released now.  Also, we have a slightly different pattern by using multiple webpack configs:

[code]

[2016-01-07 08:25] lijunle commented on #45
Cool! I will take a look after vacation. :)

[2016-01-11 17:37] cblair opened #84 "ReferenceError: Promise is not defined"
Using node v0.10.38. All I did was npm install -g depcheck and try to run it. I need to remember where Promise comes from, but seems like depcheck's package.json dependencies is incomplete.

[code]

[2016-01-12 08:41] lijunle commented on #84
Sorry, we don't support v0.10.x anymore. Please upgrade to 0.12.x or newer. I could like to update the `package.json` file.

[2016-01-13 16:30] #84 closed

[2016-01-14 02:17] lijunle commented on #84
I have specified the version in package.json file.

[2016-01-14 10:27] lijunle commented on #45
@zeke You are hitting a different issue. Could you please open a new issue for that?

[2016-01-16 14:51] lijunle commented on #43
With feature #84 request, I don't think we could apply such optimization any more - it always needs to look up all files to find out all dependencies to decide which are not listed in `package.json` file.

I am closing this issue. For more question, reply on it.

[2016-01-16 14:51] #43 closed

[2016-01-16 15:16] #45 closed

[2016-01-17 04:33] #41 closed

[2016-01-17 04:34] lijunle commented on #83
Closed by #90

[2016-01-17 04:34] #83 closed

[2016-01-19 10:57] tamascsaba commented on #46
:+1:

[2016-01-24 15:34] #76 closed

[2016-01-28 13:20] lijunle commented on #18
I looked into this problem. The false alerts are caused by [gulp-load-plugins](https://github.com/jackfranklin/gulp-load-plugins) loading dependencies with its own way.

[2016-02-15 20:34] eckdanny commented on #18
@lijunle I don't think dynamic loaders (e.g.; `gulp-load-plugins`, [`require-dir`](https://www.npmjs.com/package/require-dir), ...) should be in scope for `depcheck`. Includes silliness like:

[code]

Maybe just me, but I don't expect this behavior to be supported in a tool like this.

[2016-02-15 20:40] eckdanny commented on #18
@staxmanade re `jshint-stylish`: sol'n that made most sense to me was to *explitize* dependency with a require:

[code]

[2016-02-19 15:24] daviestar opened #99 "doesn't work with CSS dependencies"
package.json:
[code]
styles.scss:
[code]
depcheck:
[code]

[2016-02-19 17:02] lijunle commented on #99
Thanks for reporting. This should be a feature.

[2016-02-19 17:05] daviestar commented on #99
Great, depcheck saved me a lot of time today, thankyou :+1:

[2016-02-19 17:43] lijunle commented on #18
@eckdanny I understand that, it is very hard to detect all dynamic dependencies. However, our principle is to try to enable one more, and one more detector.

For this particular issue (`gulp-load-plugins`), there are three levels of supports:

- [ ] When seeing `gulp-load-plugins` package, all `gulp-*` dependencies are considered in use.
- [ ] Recognize the dynamic reference (the packages are lazy

[2016-02-21 06:43] harshjv opened #100 "Error: toString failed"
`Error: toString failed` when used with `node v4.3.1`

`$ depcheck`

[code]

[2016-02-21 08:09] lijunle commented on #100
Strange, how about `depcheck --json`?

[2016-02-21 08:18] harshjv commented on #100
Same error with `depcheck --json`

[2016-02-21 08:32] lijunle commented on #100
It sems related to node.js: https://github.com/nodejs/node/issues/2767

Are there large files in your project?

[2016-02-25 14:30] lijunle commented on #100
@harshjv do you have any update on this issue? I am going to close this issue if you have no reply in 1 day.

[2016-02-26 08:59] veob commented on #100
I'm having the same issue.
Node's version: `v4.4.1`

[2016-02-26 09:00] lijunle commented on #100
@veob do you have a large file in your project?

[2016-02-26 09:06] veob commented on #100
Large .js file? I don't think so. I have some .bson, .json files that might be large, but not .js.
Btw, before crashing `depcheck` runs for, like, 3-5 minutes.
Maybe it is my project that too large?

[2016-02-26 09:07] lijunle commented on #100
Depcheck not only read for `.js` file - it *may* read JSON files. How large is your JSON file?

[2016-02-26 09:13] veob commented on #100
@lijunle
Nothing larger than 1 Mb.

[2016-02-26 09:16] lijunle commented on #100
OK, let me assume that 1M in this case.

Besides, how many files under your project folder?

[2016-02-26 09:23] veob commented on #100
~1400 .js files

[2016-02-26 09:32] veob commented on #100
Hm. I've just ran `depcheck` in project with ~300 .js files and everything is OK.

[2016-02-26 10:20] lijunle commented on #100
@veob thanks for your information. I will test offline tonight and revisit here later.

[2016-02-26 23:07] cblair commented on #84
Seems like a good fix, I'll try again.

[2016-02-27 23:41] lijunle opened #105 "Performance debug parameter"
_Proposal_ with `--debug-performance` parameter, it calculates how much time on each file for process (parse, detect). With such information, we can find out where the bottleneck is.
- [ ] Local performance debugging
- [ ] Test and CI for performance
- [ ] Custom real time performance debug parameter
- [ ] Others?

Reference: #100

[2016-03-03 10:04] ianbytchek commented on #46
And then I remembered that I'm using TypeScript… :+1:

[2016-03-04 17:07] lijunle commented on #100
@veob Sorry that I tried different ways, however cannot repro this issue.

Are you still getting this exception? Could you provide more information?

- Node version
- NPM version
- OS

[2016-03-08 17:02] tamasmagedli opened #107 "Allow to define patterns against absolute file path"
First of all it's a great tool and I wanted to integrate it into my project, though the use case of mine is a little bit different how you prefer to use it. Acutally I wanted to parse only a specific file list within the root directory so ignoring dirs doesn't help.

Reading the codebase I realised that I have another option, namely I can define parsers for patterns which is a cool a feature thoug

[2016-03-08 17:07] lijunle commented on #107
I think this is a good change and all existing globs can be backward compatible because the `*` in `*.js` will match the dirname part.

Could you please send a pull request to implement it?

[2016-03-08 17:10] lijunle commented on #107
Besides, it could be great to add one more test case to support the feature. :D

[2016-03-08 17:38] tamasmagedli commented on #107
Yeah, I'll do that with new tests just wanted to know your opinion on this prior the changes.

[2016-03-09 06:05] veob commented on #100
node version: `4.1.1`
npm version: `2.14.4`
OS: `Ubuntu 14.04.4 LTS`

Just so you know, It's not critical for me to check dependencies for this particular project and if you wouldn't be able to reproduce and fix this issue, for me personaly it's okay. Don't about other people though.

[2016-03-10 21:12] lijunle commented on #107
Closed by #108.

[2016-03-13 23:23] jmealo commented on #100
@lijunle I'm having the same issue. I do use ES6/harmony features and generators (koa app). I'm not sure if this impacts anything.

node version: ``4.3.1``
npm version: ``2.14.12``
OS: ``OSX 10.11.3``

[2016-03-14 05:40] lijunle commented on #100
I am considering it is caused by binary files (either custom binary file or node.js addons). I am not having time to verify it. Could you please help to verify it? Great thanks.

[2016-03-15 00:50] jmealo commented on #100
@lijunle I'm not sure what you mean. I checked and the biggest JSON file that I had was 1.3MB. I removed that file and still no luck.

[2016-03-15 01:28] lijunle commented on #100
@jmealo do you have binary files in your project folder? If yes, could you please remove them and re-run depcheck?

[2016-03-15 17:06] lijunle opened #110 "Support feross/standard custom parser"
Related:

- https://github.com/dylang/npm-check/issues/88#issuecomment-196673374
- https://github.com/feross/standard#can-i-use-a-custom-js-parser-for-bleeding-edge-es6-or-es7-support

/cc @LinusU

[2016-03-16 18:52] #110 closed

[2016-03-17 03:40] #46 closed

[2016-03-17 15:08] ianbytchek commented on #46
:scream: yes…

[2016-03-17 19:34] lijunle commented on #99
@daviestar Do you want to take a look on the PR #113?

The depcheck declare `node-sass` as peer dependency.

- When you use depcheck as global package, install node-sass as global package.
- When install depcheck as project dev dependency, install node-sass as dev dependency too.

Do you think this is OK?

[2016-03-18 03:53] lijunle opened #114 "Deprecate the withoutDev parameter"
The `with-dev` parameter makes with `missing` dependencies results being wrong.

- deprecate it in 0.6.x
- remove it from 0.7.x :point_right: tracked by #117

[2016-03-18 03:56] lijunle opened #115 "Missing dependencies result is not handled peer and optional dependencies"
Found while running CI test, refer to [this](https://travis-ci.org/depcheck/depcheck/jobs/116730202#L882).

[2016-03-18 20:54] #99 closed

[2016-03-18 21:06] lijunle opened #117 "Remove the withoutDev parameter"
Related #114

[2016-03-19 14:46] #115 closed

[2016-03-21 10:21] LinusU opened #119 "Support for commitizen modules"
[Commitizen](https://github.com/commitizen/cz-cli) is a tool for enforcing style of git commit messages, it's quite useful. However, `npm-check` is giving me a hard time about unused dependencies.

[code]

My package.json looks like this:

[code]

[2016-03-21 10:22] LinusU commented on #119
btw. I don't know why commitizen thought it was a good idea to use `./node_modules/test-cz` instead of just `test-cz` (it internally uses `require.resolve` so both should work) but that is how it does when running `commitizen init test-tz --save-dev`...

[2016-03-21 12:50] lijunle commented on #119
It looks an excellent tool. Do you want to help to support it?

BTW, both `./node_modules/test-cz` and `test-cz` are OK. We can use the same logic to resolve the path.

[2016-03-21 17:08] #114 closed

[2016-03-22 13:47] #117 closed

[2016-03-23 20:10] jimthedev commented on #119
Commitizen author here. @LinusU you can use either syntax in commitizen too. :) We need to update that in the docs, it is a historical artifact but was fixed recently in a PR that made it possible to use either. The main reason we offer it is if you want to write a custom adapter then we want you to be able to just point to a path. <3

[2016-03-23 23:31] nfantone commented on #18
Came here for this.

`depcheck` on my projects lists a _lot_ of false positives (mostly, gulp related):

[code]

* All `gulp-*` are used through `gulp-load-plugins`.
* `pre-commit` has no explicit `require` and is used through a declaration in `package.json` itself, like:

[code]

* `eslint` is used a the project's linter and installing locally avoids the need for a global dep and ensures equal ve

[2016-03-24 02:35] lijunle commented on #18
Hi, @nfantone thanks for reporting this. Could you please open a issue to track you requirements.

Besides, for the gulp-load-plugins, I have ideas and actively develop it [here](https://github.com/lijunle/depcheck-es6/tree/gulp-load-plugins). Hope it can resolve most of your cases. :)

[2016-03-24 09:35] LinusU commented on #119
@lijunle I have this bookmarked and I would love to send a pr, I can't give any guarantees on when though but hopefully I'll get some time this weekend.

@jimthedev Cool, let's support both here as well. As a side note, would it be possible to update `commitizen init` to put in `test-cz` instead of `./node_modules/test-cz`? I think it looks cleaner...

[2016-03-24 16:21] LinusU commented on #119
Pull request submitted :raised_hands:

[2016-03-24 20:56] Faleij opened #126 "False positives produced by deduping"
False positives are reported when having done a [dedupe](https://docs.npmjs.com/cli/dedupe). Would be nice to have an option to exclude deduped packages.

[2016-03-25 02:15] lijunle commented on #126
I don't understand how false happens on this case. Does the `npm-dedupe` affect the `package.json` file?

[2016-03-25 02:19] lijunle commented on #119
Resolved by #122, thanks to @LinusU :D

[2016-03-25 02:19] #119 closed

[2016-03-25 09:58] Faleij commented on #126
Yes, it moves the deduped packages into ``package.json``

[2016-03-25 14:29] lijunle commented on #126
OK, is there any extra information to indicate which dedup package is used by which package?

Maybe I should try soon and revisit here.

[2016-03-25 15:32] lijunle commented on #126
@Faleij

I run `npm ddp` on my project, the `package.json` file is not changed. I am using npm@3, are you running npm@2? Could you provide an example project that `npm ddp` will affect the `package.json`?

[2016-03-25 17:36] Faleij commented on #126
Yes I'm running npm 2. Here's a sample package.json:
[code]
After dedupe:
[code]

[2016-03-25 17:48] lijunle commented on #126
I get it. This is do-able. However, I want to ask the first simple question, why not use npm@3?

[2016-03-25 20:16] Faleij commented on #126
npm 3 is considerably slower and I have had some compatibility issues

[2016-03-25 21:53] lijunle commented on #126
OK. I will implement this after the current version 0.6.2 is out. Mark it on 0.6.3.

[2016-03-26 07:42] lijunle opened #128 "Add scenario test infrastructure."
Currently, I manually setup an environment with yoeman and yoeman-web-app to test depcheck on it. We should automate the process and integrate it into CI build.

[2016-03-27 12:43] lijunle commented on #18
Version 0.6.2 will be released soon to recognize the lazy loaded gulp plugins via `gulp-load-plugins` package. (Check [this list](https://github.com/depcheck/depcheck/issues/18#issuecomment-186324639))

From my offline testing, a yoeman generated web-app has 99% support. The only exception is `babel-core`, which I am not sure it is a false alert or really useless dependency.

I am closing this iss

[2016-03-27 12:43] #18 closed

[2016-03-27 19:25] dylang opened #130 "Find a solution to declare peer dependencies"
`npm@2` is installing the peer dependencies which is an unexpected behavior, as they are optional for `depcheck`, and this means when using `npm@2`, they are always installed.

`npm@3` won't install them, but gives unexpected warnings:

[code]

I feel like the feature of using the dependencies when they are available is great, but instead of including them as peer dependencies, just include instru

[2016-03-27 19:32] dylang opened #131 "bump to 1.0.0 for semver support"
Not a bug, just a friendly request. :smile:

By bumping to `1.0.0` it means _minor_ and _patch_ releases are backwards compatible and projects that depend on `depcheck` like [npm-check](https://github.com/dylang/npm-check) can easily upgrade.

If you think the API is not stable enough for a `1.0.0` I still wouldn't worry. I personally don't mind frequent major bumps - it tells me the API is evolvi

[2016-03-28 02:40] lijunle commented on #131
I could seriously consider this. However, I am planning a big API and CLI change on 0.7.x.

The returned result object is suggested to name as `unused` and access as `unused.dependencies` and `unuser.devDependencies`. This is OK until we introduced the feature to find out the missing dependency and dependency usage - the access `unused.missing` does make sense.

Proposal: access via `result.unused

[2016-03-28 15:11] nfantone commented on #18
Nice!

[2016-03-28 15:15] nfantone opened #132 "False positivies on app-module-path"
While using [app-module-path](https://www.npmjs.com/package/app-module-path), every `require`d module affected by that is reported as a "missing dependency".

[code]

Here, `logger` and `config` are  actually located under an `./app` directory, but the relative path can be  omitted thanks to:

[code]

being present at the beginning of the main script. Moreover, `services` is not even a module. The

[2016-03-28 17:47] lijunle commented on #132
Some bullets:

1. This package does something really bad - it changes the node.js built-in behavior.
2. Its feature looks good. I am not sure what happen on published module - it does not load `node_modules`
3. I could like to support it in depcheck.
4. It is very hard to support it. The current design is not good to handle this case.
5. I added it to backlog and will think about how to support th

[2016-03-28 18:18] lijunle commented on #130
I follow the pattern from [eslint-config-airbnb](https://github.com/airbnb/javascript/tree/master/packages/eslint-config-airbnb). They mark react as peer dependency. There is [some discussions](https://github.com/airbnb/javascript/issues/751) to remove the peer dependency or split the package into three sub-packages.

In my option, those UMET warnings are fine because they are warnings not errors.

[2016-03-28 21:04] nfantone commented on #132
@lijunle

Depends on what you consider "bad". I think it's awesome. Nevermore those `'../../../../middlewares/stack/chain` things on your imports.

Great news! Thank you very much for your support.

[2016-03-29 10:32] lijunle commented on #132
@nfantone Is the lodash in your list in the same case?

[2016-03-29 12:20] nfantone commented on #132
No, it's not. Lodas was an actual miss. So, +1 for depcheck.
On Mar 29, 2016 7:32 AM, "Junle Li" <notifications@github.com> wrote:

[2016-03-29 13:41] lijunle commented on #132
Aha, glad to see the tool is helping you. :)

[2016-03-31 19:06] lijunle commented on #130
Because the peer dependencies is blocking `npm shrinkwrap` (https://github.com/dylang/npm-check/issues/108) caused by NPM bug (https://github.com/npm/npm/issues/10836), I decide to remove the peer dependencies from `package.json` and only keep them in README.

However, let us keep this open and find a better solution to resolve these *optional peer dependencies*.

[2016-04-01 04:25] petermikitsh opened #134 "[Request] Integrate npmsearch.com scores"
It would be nice to provide the npmsearch.com score, or rather, a warning for a specific module if the score is low.

As a developer, I want to be sure I am using projects that are well tested, that way I can be confident in depending on a module.

Ideally the developer should vet each module they use, but on existing projects it's considerable work to analyze all of your modules for quality.

[2016-04-01 05:46] Calvein opened #135 "Add browserify transforms/plugins"
As said in [this issue in npm-check](https://github.com/dylang/npm-check/issues/100), depcheck doesn't check for browserify transforms or plugins (I'll just talk about transforms for now) when they are passed as strings.
Browserify's documentation defines transform like this:

It basically means that:

[code]

Is the same as:

[code]

The first example will works because it explicitly import `mytr

[2016-04-01 19:50] lijunle commented on #134
@petermikitsh

Sorry, I don't think that is in the scope of this package. This tool is only to provide the dependency usage information for user.

I tried npmsearch.com, I think those functions should be check BEFORE install a package. However, depcheck and npm-check are for action AFTER install packages. A better interface to check available packages is web pages.

The score in npmsearch.com is i

[2016-04-01 19:50] #134 closed

[2016-04-01 19:57] lijunle commented on #135
Hi, @Calvein

Thanks for reporting this. I get your ideas now. This is do-able. I ever did something similar for `gulp-load-plugins`. However, the implementation is tricky. I want a better way to solve the problem. I could like to add it to backlog.

Reference: https://github.com/substack/node-browserify#btransformtr-opts

[2016-04-04 02:25] lijunle commented on #126
@Faleij

While [working](https://github.com/depcheck/depcheck/compare/master...lijunle:dedup) on detected dedup packages, I have some questions:

1. Is it that, all level dependencies are flatten to root `package.json`? For example, dependency graph as `a -> b -> c`, the package b and c will be written to package.json if no conflict.
2. How about `optionalDependencies` and `peerDependencies`? In n

[2016-04-04 08:46] lijunle opened #136 "A big JavaScript file makes depcheck run very slow"
Script to generate a big JavaScript file (with only JSON blob)

[code]

Run result:
- Before this big JS file exist: **163 ticks, 132 unaccounted, 0 excluded**.
- After exist: **9582 ticks, 6595 unaccounted, 0 excluded**.

[2016-04-29 19:43] ruoti opened #138 "Nest directories in --ignore-dirs"
If I put a nested directory for --ignore-dirs (e.g., --ignore-dirs=src/resources), the directory is not ignored.

Also, on the README.md, --ignore-dirs is written as --ignores-dirs once.

[2016-05-02 19:59] LinusU opened #139 "Add binding.gyp support"
Currently, [NAN](https://github.com/nodejs/nan) is reported as not used even though it's being used in my `binding.gyp` file. This one might be a bit hard though since it's not really straight forward on how to parse it. The file is actually a Python file and is quite often not a valid json document.

Below is a simple example from fs-xattr.

[code]

[2016-05-02 22:01] lijunle commented on #139
:crying_cat_face: Sorry, I completely have no idea about how node-gyp works. Do you want to try on it?

[2016-05-03 05:15] LinusU commented on #139
Sure thing 👌

[2016-05-24 15:02] domharrington opened #140 "Exit code from `depcheck` executable"
Using the `depcheck` executable should exit with an error code if there are unused dependencies. Running it on my project this doesnt appear to be the case.

[code]

Results in an exit code:

[code]

Versions:
Node: v5.7.0
depcheck: 0.6.3.

I've had a look around in the code and the issue appears to stem from this block of code:
https://github.com/depcheck/depcheck/blob/6cb92533adf3ed2ed3f6054d6cb

[2016-05-24 21:57] lijunle commented on #140
Hi, @domharrington thanks for your awesome investigation! I will take a look on your code later.

@gtanner, do you have any ideas about this?

[2016-06-02 09:30] iamstarkov commented on #140
@lijunle i guess it can be fixed by using `process.exitCode = 1;`

[2016-06-02 09:40] domharrington commented on #140
I'm not sure that it can... because the callback [https://github.com/depcheck/depcheck/blob/6cb92533adf3ed2ed3f6054d6cb3c51e56731615/bin/depcheck#L12]() never gets called. We can just remove this callback, but then i'm not sure what issues this was causing in #98

[2016-06-02 11:00] iamstarkov commented on #140
we can remove this callback all together, and just set `process.exitCode = 1` in the cli if there is [anything unused](https://github.com/depcheck/depcheck/blob/master/src/cli.js#L118) or [in case of error](https://github.com/depcheck/depcheck/blob/master/src/cli.js#L121)

[2016-06-02 11:56] iamstarkov commented on #140
are there any tests covering required behaviour?

[2016-06-02 13:42] lijunle commented on #140
I saw [this](https://github.com/dylang/npm-check/pull/150) pork request to do similar thing in npm-check. It looks like we can do the same thing here.

@iamstarkov Yes, there will be treat case cover the exit code. But I think the test codes need to update too, if we are going to remove the process.exit call.

[2016-06-02 13:49] lijunle commented on #140
And, for @domharrington 's requirement, check the *update 2* from the first post. That test is very nice, should be cherry picked to here. :)

[2016-06-03 04:23] ericelliott commented on #132
FYI, it's reporting false positives for modules in `NODE_PATH`, too.

[2016-06-08 19:35] Zerim opened #143 "False unused alert for webpack-and babel plugins"
Thanks for the great module! (Saved me a lot of time this morning). Adding a few issues to your list of false alerts.

This issue refers to plugin based modules. Specifically in the repo I'm working with, modules that follow the `babel-*` or `*-loader` naming convention, which are loaded automatically and crucial to the build process even if they are not required/imported.

[2016-06-08 19:37] Zerim opened #144 "False missing alert for webpack aliases."
Our project heavily uses [webpack aliases](https://webpack.github.io/docs/configuration.html#resolve-alias), so we have many imports/requires that refer to modules that are not explicitly listed in our package.json.

Ideally these would not be alerted as missing modules.

[2016-06-08 19:40] Zerim opened #145 "False unused alert for local CLI tools/ binaries."
For example, I am using depcheck in our project in the following manner:

[code]

I'm not sure what the best solution is here. Perhaps not trigger alerts on local binaries that are used by npm scripts, grunt, etc.

[2016-06-14 12:26] vjpr opened #146 "Depcheck should return a promise"
Depcheck appears to use promises internally, but then only provides user with a callback.

[2016-06-14 12:33] lijunle commented on #146
We are returning a promise! We should document it...

[2016-06-14 12:35] vjpr commented on #146
Ah yep, missed that return. Docs would be good.

[2016-06-14 12:35] #146 closed

[2016-06-16 13:18] SimonSchick opened #147 "False positive when requiring files from modules directly:"
Assume there is a module called `@org/my-module` installed but it's never required as `require('@org/my-module')` but instead only submodules are loaded such as `require('@org/my-module/my-sub-module')`.
depcheck does not pick those up and instead flags them as unused.
This should be relatively easy to fix.

[2016-06-16 13:33] lijunle commented on #147
This should be handled. We are using [require-package-name](https://www.npmjs.com/package/require-package-name) to handle this.

Could you detail your case? Which package is reported? Hope does it be used?

[2016-06-16 13:38] lijunle commented on #132
@ericelliott could you please open a new issue to details the information? Thank you!

[2016-06-16 14:37] SimonSchick commented on #147
The problem seems to be non deterministic.
It appears that it only shows these false positives every few runs.

[2016-06-18 09:00] lijunle commented on #140
Found this package and it will handle the stdout for us: https://www.npmjs.com/package/exit

[2016-06-19 13:35] lijunle opened #150 "Support ESLint YAML and JS config."
Document: http://eslint.org/docs/user-guide/configuring#configuration-file-formats

[2016-06-19 13:37] lijunle commented on #147
@SimonSchick I looks strange, do you still get into this problem? Could you please provide more details about it?

[2016-06-19 13:40] lijunle commented on #145
Hi, @Zerim, thanks for reporting issue.

Could you please more details about which binary is not reported as false alert? This is a [simple detector](https://github.com/depcheck/depcheck/blob/master/src/special/bin.js) for CLI command, however, it does not cover all test cases. Could you provide details about your case?

[2016-06-19 19:12] #140 closed

[2016-06-19 19:12] lijunle commented on #140
Fixed with the awesome `process.exitCode`. Thank you, all! :clap:

[2016-06-19 19:24] lijunle commented on #138
Hi, @mathflair Thanks for reporting issue.

1. The nest directories should be supported. I will take a look.
2. The README typo will be fixed soon.

[2016-06-19 19:29] lijunle commented on #143
Hi @Zerim , glad to hear this tool is helping you.

1. How do you use the babel plugins? This tool will detect the plugins listed in `.babelrc` file.
2. For the webpack loader. They must be list in `webpack.config.js` file. The filename is critical.

How is your case? Could you please provide more details?

[2016-06-19 19:32] lijunle commented on #100
Hey, everybody here. After release v0.6.3 to npm-check, I don't get similar issues. Does anybody still getting this issue (with newest node.js)?

[2016-06-20 09:04] vjpr opened #153 "ES7 babylon plugins wildcard not working"
https://github.com/depcheck/depcheck/blob/master/src/parser/es7.js#L9

The plugins wildcard here is not working for me...at least not for `flow`. I could not see it documented in the Babylon library either.

[2016-06-20 10:11] lijunle commented on #153
It is defined here: https://github.com/babel/babylon/blob/8b150813f5a534e4279df25c41c37cc9dd860ebe/src/parser/index.js#L26

It is a undocumented feature.

[2016-06-20 10:17] vjpr commented on #153
Ok looks like a bug in Babylon. There is code to make `flow` run last when passed in as a plugin. This special case doesn't work when only passing in a wildcard.

[2016-06-20 10:19] vjpr commented on #153
Closing in favor of https://github.com/babel/babylon/issues/43

[2016-06-20 10:22] lijunle commented on #153
@vjpr Actually, I am not sure how the special code is affecting the wildcard. It looks good to me. For other logic, the `jsx` and `flow` looks similar situation. I am not clear why flow not works.

[2016-06-20 10:24] lijunle commented on #153
It might a bug from out side. I looked the [jsx.js](https://github.com/depcheck/depcheck/blob/master/src/parser/jsx.js#L9) is using `plugins: ['*', 'jsx']`.

[2016-06-20 10:27] lijunle commented on #153
@vjpr Could you please add a regression test and list `flow` and `jsx` besides the wildcard?

[2016-06-20 10:48] vjpr commented on #153
I'll have to find some time later to dive in further and regression test it.

Babylon `plugins` is `*` when using `depcheck.parser.es7`, but when I replace it with my own function that is identical...`plugins` reports correctly. Both are using the same root level `babylon` dep too. Maybe its some sort of Babel caching on my end.

[2016-06-20 11:11] iamstarkov commented on #140
cool

[2016-06-21 20:07] evenfrost commented on #144
Doubling this. Using
[code]
in my webpack config, and all assets under 'client' folder, when required as
[code]
are shown as `missing`.

[2016-06-22 14:08] vjpr opened #154 "Support (package.json).eslintConfig.extends for `special.eslint`"
http://eslint.org/docs/user-guide/configuring

[2016-06-22 14:21] lijunle commented on #154
Hi, @vjpr Are you referring to **this** support?

[2016-06-22 14:24] vjpr commented on #154
Yep. Just saw https://github.com/depcheck/depcheck/issues/150 which looks like it covers it.

[2016-06-22 14:24] #154 closed

[2016-06-22 14:32] lijunle commented on #154
I could make sure u understand you requirement. Are you writing the eslint config in the package.json file?

[2016-06-22 14:34] vjpr commented on #154
Yep.

[code]

[2016-06-22 15:29] lijunle commented on #154
@vjpr Could you like to make some changes to [eslint.js](https://github.com/depcheck/depcheck/blob/master/src/special/eslint.js#L90) to get package.json support? I think the most logic for `.eslintrc` can be reused for your case.

[2016-06-22 19:28] lijunle opened #155 "Support jspm"
http://jspm.io/

See: https://github.com/dylang/npm-check/pull/152

[2016-06-23 22:19] vjpr opened #157 "Allow detection of dev dependencies"
Allow specifying rules for determining whether a dependency is only used during development.

E.g. Allow specifying a glob of files in which dependencies should only be in `devDependencies`.

Maybe something similar to https://github.com/charlierudolph/dependency-lint/blob/master/docs/configuration.md

[2016-06-24 19:54] webzepter commented on #100
@lijunle I have this issue with v0.6.3

[2016-06-26 18:28] Zerim commented on #145
Actually just ran depcheck again on our project and not seeing any of these. I think it may be because I switched from npm 3.x back down to 2.x.

In 3.x since peer dependencies must exist in one flat node_modules folder, I think it's possible to end up with dependencies in your package.json that are actually peer dependencies of a CLI tool or other module. I think a good example of this might be [

[2016-06-26 18:40] Zerim commented on #143
Ah I think the naming is the issue then. Our webpack config files are called `webpack.development.config.js` and `webpack.production.config.js` ... I think this pattern is not uncommon for webpack setups. Not sure what the best solution is, maybe to allow us to specify this as a comand-line agument.

[2016-06-29 20:13] pdehaan commented on #140
Any chance we get get a new release published to npm with this fix?

[2016-07-06 12:43] vjpr commented on #132
For this to work currently you would need to add all the modules inside your NODE_PATH dirs to `ignoreMatches`.

[2016-07-08 19:16] jaredmcateer opened #159 "Cannot scan large project"
I am working on a large webapp (1200+ files) that I want to check for unused dependencies however depcheck kept reporting a whole bunch of false positives that when I manually checked most of them were definitely used.

I noticed that you get more verbose output if you format the results as json so I did that and I found that a large number of files in the `invalidDirs` section had the error:

`Er

[2016-07-09 05:43] lijunle commented on #159
Hi, @jaredmcateer

Thanks for trying it in a big project. Are you changing every `fs` to `graceful-fs`? What false positive do you find?

[2016-07-14 06:33] KrekkieD commented on #138
I have the same issue. Reason is found in `check.js`, in the `ignoreDirs.indexOf` part.

The `_path2.default.basename(subdir)` will truncate the provided `subdir` to the last folder name. That means when it's checking for `src/resources` to be ignored, it truncates it to `resources` and uses that value to search in the `--ignore-dirs` values.

I suppose the solution would be to use `_path.relative

[2016-07-23 02:27] gflarity opened #160 "new release time?"
There's a bug in 0.6.3 where the exitcode is 0 even when there's unused deps. Looks like a fix was landed. Any chance you could push a new release for this fix?

Thanks!

[2016-07-23 02:28] gflarity commented on #140
Publish please :)

[2016-07-24 10:44] lijunle commented on #160
Hi, @gflarity Version 0.6.4 is out to respect the exit code. Sorry for the delay.

[2016-07-24 10:44] #160 closed

[2016-07-28 15:31] mcasimir opened #162 "Improvements for CI use"
We use depcheck in our CI to prevent devs from commiting unused deps

Due to ignored deps and false positives it is not currently possible to just say `depcheck .`

I see 3 major issues there:
1. fail on unsuccessful execution
2. support `.depcheckignore`, `.depcheckrc` or `package.json` section
3. allows to skip missing dependencies (its more likely that those are covered by tests so it just repo

[2016-08-03 12:37] johanneserber commented on #131
👍  all npm published packages should start from 1.0.0, not from 0.x.x

[2016-08-06 18:56] ChrisPearce opened #163 "Add support for @types declaration packages"
Typescript v2 is moving to support a new approach to adding typings to a project.

Type definitions will be included in packages contained within the @types scope (e.g. @types/mypackage), which can simply be installed via npm (just like other packages).

More information can be found at:
https://blogs.msdn.microsoft.com/typescript/2016/06/15/the-future-of-declaration-files/

Currently any of these

[2016-08-07 07:09] lijunle commented on #163
Good feature!

Do you want to ignore all the @types packages? Or only the ones on use?

[2016-08-07 07:52] ChrisPearce commented on #163
Ideally, it would be great to recognise the ones that are used, but if that doesn't prove possible it would be great to have an option that just ignores all @types scoped packaged.

[2016-08-19 22:03] gregglind opened #164 "better --ignores documentation"
Perhaps I am not clear on what `--ignores` is for, or how to use it.

In my example below, I want to tell it to silence everything about missing the `sdk` module [1].

[code]

[1] `sdk` is included by the loader by default in Firefox addons.

[2016-08-23 02:48] lijunle commented on #164
I think you want `--ignore-dirs` parameter.

[2016-08-24 13:54] domharrington commented on #140
Can you publish a new version to npm?

[2016-08-28 16:14] lijunle commented on #140
@domharrington The version 0.6.4 should include this fix. Could you please test it?

[2016-09-01 14:27] ChrisPearce commented on #162
A .depcheckrc file would be very useful for automated builds

[2016-09-01 14:30] mcasimir commented on #162
I've ended up wrapping it https://github.com/mcasimir/depcheck-ci

 But i'd really like to see those features in depcheck itself.

[2016-09-01 14:45] ChrisPearce commented on #163
As a workaround, I'm currently using the following command to ignore all @types scoped packages:
`depcheck --ignores @types/*`

[2016-09-21 21:12] pdehaan opened #167 "False alerts on some browser add-on 'sdk' and 'chrome' faux dependencies"
Per our [**mozilla-jetpack/jpm**](https://github.com/mozilla-jetpack/jpm) repo, we have the following files (and special dependencies):
1. [data/index.js:1](https://github.com/mozilla-jetpack/jpm/blob/413022d1c647565d24090061c1c5898ae092d24d/data/index.js#L1) &mdash; `var self = require("sdk/self");`
2. [data/test-index.js:19](https://github.com/mozilla-jetpack/jpm/blob/413022d1c647565d24090061c1c

[2016-09-21 21:30] pdehaan commented on #138
I too have this problem, where my sad `--ignore-dirs=` value is a horrible, deeply nested:

[code]

[2016-09-24 19:31] rojobuffalo opened #168 "False negative for imported css"
I'm getting an unused dependency result for a CSS module that is actually being used.

The module gets imported inside another css file.
### `styles/base.css`

[code]

[2016-10-03 18:11] gregglind opened #169 "False Alert: Firefox Addons "chrome" and "sdk""
mozilla/shield-studies-addon-template#5

These two modules are 'special' in the loader, so files won't exist.  Which is fine, except that I can't figure out why they can't be skipped :)
## Expected:
- either `ignore-dirs` or `ignores`  would work.
## Example file

https://github.com/mozilla/shield-studies-addon-template/blob/master/lib/study.js
## output

[code]

Result:

[code]

[2016-10-05 14:45] mpacary opened #170 "unused dependency "querystring" : false positive"
In a new directory, using :

**package.json**

[code]

**index.js**

[code]

Running `depcheck`, I get

[code]

`node -v` => v4.6.0
`npm -v` => 3.10.8
`depcheck --version` => 0.6.4

Ran this using babun/cygwin on a Windows 10 machine.

[2016-10-05 21:46] SameerSiddiqui opened #171 "depcheck not triggering fail from bashscript-"
I have a bashscript which executes git/grunt commands automatically, checks for outdated packages and updates/publishes/deploys the app on npm and git.

i want to introduce depcheck in my script so i did the following.

[code]

But bash is not detecting if depcheck command has failed.  if i assign the depcheck command to variable i do get result but why isn't bash detecting it automatically with $

[2016-10-05 21:47] fastcodejava commented on #171
Yeah, seems like an valid issue.

[2016-10-14 18:45] NetOperatorWibby opened #172 "False Alert"
[code]

I am not using any of these dependencies and my app works just fine. `selectize.js` is a regular JavaScript/jQuery plugin and `localstorage.js` comes from Feathers.

Love `depcheck` btw, no need for wasted space!

[2016-10-17 09:19] lijunle commented on #172
@NetOperatorWibby Thank you for report. I am not quite understand your issue. Are you want to ignore `selectize.js` and `localstorage.js` files? If you want to ignore all files under `/app/public/scripts` folder, you could try [`--ignore-dirs` parameter](https://github.com/depcheck/depcheck#usage).

[2016-10-17 11:18] NetOperatorWibby commented on #172
You are correct. I didn't know about that flag, I just installed the module and did the README said to do.

[2016-10-17 18:06] lijunle commented on #172
That is great! I am closing this. If you have more question, please reopen it.

[2016-10-17 18:06] #172 closed

[2016-11-03 08:54] swearer23 commented on #144
[code]

don't know if it would be helpful

but you could resolve this issue by adding a custom detector like above

and add it to your depcheck options.

[2016-11-07 12:04] cnolimit commented on #143
@lijunle have the suggestions made by @Zerim been implemented? or is there an alternative way to removing them from the output and avoiding the strict naming convention?

[2016-11-07 17:01] lijunle commented on #143
I am fine to change the name check in [this line](https://github.com/depcheck/depcheck/blob/master/src/special/webpack.js#L43). Do we have some naming convention here? `/webpack\..*\.config.js/`?

[2016-11-15 15:15] goloroden commented on #154
This is implemented by https://github.com/depcheck/depcheck/pull/173

[2016-11-15 15:15] goloroden commented on #150
This is implemented by https://github.com/depcheck/depcheck/pull/173

[2016-11-15 20:05] goloroden opened #174 "Allow scoped packages for special ESLint"
In the special handler for ESLint there is currently an option disabled where it is about scoped packages (see [this line of code](https://github.com/depcheck/depcheck/blob/fc44c61dfcc4e3e64c86bb87ce9e29a7dec8529e/src/special/eslint.js#L47)).

I would like to do something about it, but I am note sure what to do.

Basically, you could just say, that any scoped package is fine here. This would be th

[2016-11-15 20:39] lijunle commented on #174
Hi, @goloroden

Basically, the idea is to look at the linked mentioned in the comment 3 lines above your referenced code. I think ESLint has a big change on that function now: https://github.com/eslint/eslint/blob/master/lib/config/config-file.js#L461

Read and understand how ESLint handles the scoped package case, then copy the pattern here.

I do a rough review on the newest ESLint code, it look

[2016-11-15 20:41] goloroden commented on #174
Thanks for replying that fast :-)

I will have a look at this the day after tomorrow.

[2016-11-18 17:07] #174 closed

[2016-11-22 11:21] remcohaszing opened #181 "Installed peer dependencies are marked as unused"
For example, `babel-core` is a peer dependency of `babel-loader`. It should not be marked as unused. The same goes for `jasmine-core` and `karma-jasmine`.

There are probably many more similar cases.

[2016-11-22 14:19] lijunle commented on #181
Hi, @remcohaszing

Thanks for reporting issues for depcheck. Which version of node and npm are you using?

[2016-11-22 14:36] remcohaszing commented on #181
[code]

[2016-11-24 08:57] Matt-Webb commented on #181
I am also seeing the same issue.

[code]
 Note: I am using Webpack (v1.13.2) as my module builder.

[2016-11-26 18:12] lijunle commented on #181
@remcohaszing It is strange, the peer dependencies should be supported. Which version of depcheck are you running?

@Matt-Webb If it is related to webpack, what is your file name of webpack config? Currently, it is hard code as `webpack.config.js` (related to https://github.com/depcheck/depcheck/issues/143).

[2016-11-26 18:43] #143 closed

[2016-11-26 20:04] lijunle opened #183 "Recongnize the required module by nyc."
[There](https://github.com/istanbuljs/nyc#support-for-custom-require-hooks-babel-webpack-etc) are three ways to require additional packages by nyc:

1. CLI: `nyc --require babel-register --require babel-polyfill mocha`
2. In `package.json`
3. In `.nycrc`

Should support the last two as MVP.

[2016-11-29 08:49] remcohaszing commented on #181
I'm using `depcheck@0.6.5`.

Note that `babel-core` is marked as unused, not `babel-loader`.

***webpack.config.js***:

[code]

[2016-11-29 17:15] lijunle commented on #181
Thank you @remcohaszing , I identify it as a bug.

Bascially, it is caused by the webpack detector [returns an array](https://github.com/depcheck/depcheck/blob/master/src/special/webpack.js#L49) as dependencies, For the such case, depcheck [directly returns the array](https://github.com/depcheck/depcheck/blob/master/src/check.js#L102) as dependencies without drill out its peer dependencies and opt

[2016-11-29 18:03] #181 closed

[2016-11-29 18:11] lijunle commented on #181
*Update*: I published version 0.6.6 to resolve this issue. Please test it. Again, thank you for reporting this. 👍

[2016-11-29 18:11] lijunle commented on #143
I published version 0.6.6 to support webpack config name with regex `/webpack(\..+)?\.config.js/`. Please test it and give feedbacks. Again, thank you for reporting this. 👍

[2016-11-29 18:13] remcohaszing commented on #181
It works! Thanks :smile:

[2016-12-01 07:54] screendriver opened #187 "Unused url dependency"
### index.js

[code]

### package.json

[code]

### depcheck `v0.6.6`

[code]

I am using Node.js `v7.2.0`

[2016-12-01 07:59] screendriver opened #188 "Unused devDependencies with Karma"
I am using Karma and Webpack for my unit tests. Unfortunately depcheck `v0.6.6` tells me

[code]

### karma.conf.js

[code]

[2016-12-01 17:06] lijunle commented on #188
I don't think that current depcheck is parsing karma config file to extract the webpack loaders. Let me add it to the backlog.

[2016-12-01 17:07] lijunle commented on #187
This is strange, what is the output of `depcheck --json`?

[2016-12-02 14:04] screendriver commented on #188
Ok. Thank you.

[2016-12-06 18:40] lijunle commented on #171
@SameerSiddiqui Did you resolve your problem? It sounds like not a problem from depcheck side.

[2016-12-06 18:44] lijunle commented on #170
@Frosty-Z Did you resolve the problem? What is the output of `depcheck --json`?

[2016-12-06 18:48] lijunle commented on #169
Hi, @gregglind

The `ignores` value is concatenated with comma `,` instead of pipe `|`.

The `ignore-dirs` is telling depcheck to skip checking the source files under these folders. In your case, it should be the `lib` folder.

[2016-12-06 18:52] lijunle commented on #168
Hi, @rojobuffalo I suppose you are writing Sass code. Depcheck assume the Sass code is having extension `.sass` or `.scss` instead of `.css`.

[2016-12-06 20:22] gregglind commented on #169
thank you for the response!

`--ignores` is skipping  `usused`, but not working for `Missing Dependencies`

Thank you for clarifying what `ignore-dirs` is doing.

It seems like there is no way to suppress individual `Missing Dependency` packages.

[2016-12-07 03:21] lijunle commented on #169
Aha, you are in the missing part. It is not working as you expect now.

I could say that is a good idea and I would like to implement it if I have time.

[2016-12-07 14:20] heruan opened #189 "Wrong unused dep detected"
I have this TypeScript code:

[code]
and packages `aurelia-dependency-injection` and `aurelia-framework` installed:
[code]

But…
[code]

[2016-12-07 14:38] heruan commented on #189
I suspect that types imported and used in function arguments are not considered by `depcheck`.

[2016-12-07 16:03] lijunle commented on #189
It looks strange that, `aurelia-framework` is reported as *unused*. What is the output with `--json` parameter?

[2016-12-07 17:36] heruan commented on #189
[code]

[2016-12-07 20:47] rojobuffalo commented on #168
Hey @lijunle. Actually this is just plain CSS-Modules.

[2016-12-08 11:53] goloroden opened #190 "ignoreMatches does not work on missing dependencies"
Supposed, I have a dependency in my `package.json` file that is not needed in my code, i.e. I have a unused dependency. Then, if I provide the dependency's name using `ignoreMatches`, anyway I won't get a warning. This is fine.

If I do the same thing with a missing dependency, i.e. I use it from within my code, but I don't add it to my `package.json` file, I *always* get a warning, no matter whet

[2016-12-08 14:48] lijunle commented on #190
Awesome! This is @gregglind needs in #169.

[2016-12-08 15:51] #190 closed

[2016-12-08 15:52] #169 closed

[2016-12-08 16:23] lijunle commented on #169
Version 0.6.7 is out for this.

@gregglind , thank you for reporting this!

[2016-12-08 18:18] jedwards1211 opened #192 "might be better to check what packages get required during tests/build"
Considering the numerous dynamic ways in which packages can be required, I think it will always be hard to statically analyze which packages are used.

Here's a more foolproof suggestion: run the tests and build with a require hook (which looks like [this](https://github.com/mdlawson/piping/blob/master/src/launcher.coffee#L13)) that keeps track of what actually gets required, and then check that a

[2016-12-08 18:58] lijunle commented on #192
I think this is an awesome idea! I love it! I think it is worth to open another project for this and not affecting the current logic.

My understanding is like this:

- In the beginning of the test code, `require('depcheck/inspect')`.
- It hook on `require` and `process.exit` function to collect/write data.
- There is another CLI tool to generate report from the data (or may we pollute the test ou

[2016-12-08 20:23] jedwards1211 commented on #192
Right, actually I'm thinking it's ideal for it to be a command runner like istanbul's `nyc`.  I may try to start a project that does this soon.

[2016-12-08 22:38] Frosty-Z commented on #170
Still same issue with depcheck 0.6.7.

`depcheck --json` output is :
[code]

[2016-12-09 19:39] lijunle commented on #192
My concern is, there is so much prefix command. If it is named `depcoverage`, the command will go to `depcoverage nyc mocha` which looks ugly to me. 🐶

I could suggest to be a register module, which can be used by `nyc` config or `mocha -r` to include this module. Then, we have another step to collect the data, like `nyc --report`.

Of course, we could have both.

I would like to help on the proje

[2016-12-10 01:25] jedwards1211 commented on #192
Agreed, it's a lot of nesting.  I'm not sure if it will work with `mocha -r` because I think one might have to patch `module._load` and then `require` the code to be run.  But I'll have to find out.

My boss may want me to put the project under our company's org, for marketing's sake, but of course I got half of the idea from depcheck anyway, so I'll try to convince him to let me contribute the pr

[2016-12-10 01:38] jedwards1211 commented on #192
Ah, so `_load` is actually a global in `require("module")._load`.  So we could use `mocha -r`.

However, like `nyc`, we would want to do something (checking deps) after the tests run, and I think the way `nyc` manages that is having the child process it runs your tests in (and **its* descendant processes too!) send their coverage back to `nyc` in a `process.on('exit')` hook.  This way no matter ho

[2016-12-10 11:56] lijunle commented on #192
@jedwards1211 Under your company's org is fine. I care more about the license. If that is friendly, I can contribute to it and leverage it back in depcheck.

As you mentioned, I am not sure how much it can help. For some cases, like `eslint`, a simple static analysis + package.json discover looks a better choice than runtime hook. There are many other tools is not a part of test - babel, webpack,

[2016-12-10 20:23] jedwards1211 commented on #192
@lijunle well, I typically run `eslint`, `flow`, test, and build in my `prepublish` scripts, so theoretically I just need to run `depcoverage npm prepublish`.

[2016-12-11 06:52] lijunle commented on #192
I read the code of `nyc`, they are not using `module._load`. It is require extension: https://gist.github.com/jamestalmage/df922691475cff66c7e6

[2016-12-12 16:26] lijunle commented on #192
Take a deep look into the `spawn-wrap` package. Basically, it hooks on [`ChildProcess#spawn` and `spawn_sync.spawn`](https://github.com/tapjs/spawn-wrap/blob/master/index.js#L64-L67) functions. It use various ways to [detect it](https://github.com/tapjs/spawn-wrap/blob/master/index.js#L82) is calling to a node/iojs call, then redirect the call to a [prepared shim script](https://github.com/tapjs/s

[2016-12-12 18:05] jedwards1211 commented on #192
wow, it's unfortunate that spawn_sync has to be so complicated!  That's neat though, you've looked into this deeper than I have already.

What they say about performance is kind of vague though.  I would think they mean it just slows down the startup of spawned processes?  Certainly I wish mocha + babel + nyc would start faster (it takes 5 seconds or so on my machine) but once it's up the tests se

[2016-12-12 18:42] lijunle commented on #192
I understand *depcheck* is pretty slow because of its bad IO bomb in one thread. I want to have numbers here to exactly identify the problem and improve it. It is lesson for next project to think about metric from the beginning.

In regards to the CI build, I don't mean *nyc* is doing some special in CI environment. I am still thinking about how the end experience will be.

- Option 1

[code]

- O

[2016-12-14 15:58] mrchief commented on #132
I agree with @lijunle on this one. The extra dots are simple and intuitive. `app-module-path` not only alter default behaviors and thus breaking any tool chain that rely on default behavior, but it also open up the possibility of abuse and violates the principle of least surprise.

I'd actually vote for not supporting it. If possible, make the support for non-standard things available via plugins.

[2016-12-16 22:32] mrchief opened #194 "False positives for nyc, babel, eslint, webpack and its loaders"
I've read through all the issues but this cannot get this tool to stop giving out false positives.

For example, I've

`.babelrc`
[code]

yet I get `babel-preset-save` as unused. Same goes for several webpack, eslint loaders.

It also lists out things like nyc, cross-env as unused but they are being used in npm scripts.

I tried `depcheck --specials=webpack,eslint,babel` but no luck. I still get t

[2016-12-17 03:44] lijunle commented on #194
Hi

Which version depcheck are you using? What is the output with `--json` parameter?

[2016-12-17 18:43] mrchief commented on #194
I'm using the latest.

![image](https://cloud.githubusercontent.com/assets/781818/21288969/b4df4d7c-c45e-11e6-969c-dbff6b07a3e8.png)

[code]

You can try this repo (my stuff is based on this): https://github.com/iam4x/isomorphic-flux-boilerplate

[2016-12-19 06:20] CatzillaOrz commented on #130
try to use ``` nvm ls-remote ``` find a stable node version then use ``` nvm use ```

[2016-12-21 22:29] jedwards1211 commented on #192
Weird, I thought I had replied to this.  I think I like Option 3 best.  It may be tricky to cover all modules for some projects, for instance for some of my webapps there are deps I only use for starting my app in dev mode, and it's not always worth the time to write integration tests for my dev mode scripts.

I have so much on my plate that I don't want to spend time implementing this right now,

[2016-12-22 13:12] sobolevn opened #195 "Support Vue.js"
Hello, thanks for the project!

I would really like to see a `vue.js` special plugin, so we could use it with `.vue` files.

Any plans on it?

[2016-12-28 13:00] goloroden commented on #17
Great news 🎉

The [gulp-depcheck](https://github.com/depcheck/gulp-depcheck) module is now part of this organisation 😊

[2017-01-09 10:22] batjko commented on #194
I got the same for all webpack loaders and babel-polyfill, which I am using as an entry point in the webpack config.
Essentially, anything that isn't explicitly imported anywhere.

One caveat: I also briefly got eslint as a false positive, but after another `npm i` that didn't happen anymore.

[2017-01-18 11:08] Alex-Werner opened #197 "False alert with node-gcm"
Using v.0.6.7 I've got two first alert :

The first is on node-gcm :

![image](https://cloud.githubusercontent.com/assets/5849920/22061650/3dfc859a-dd76-11e6-942f-7cfd817001d9.png)

The second is on sharp, I use sharp in a file having this stucture :

[code]

I then use UserController using a require-like method (reqRoot)

[2017-01-18 19:49] mattkime opened #198 "false alert - a module is a peerDependency of a used dependency"

[2017-01-25 23:49] robhaswell opened #200 "devDependencies defined in package scripts not detected."
Thank you for this wonderful tool. However, `depcheck` seems to think that my project is not using `standard`, yet it is used in my package scripts:

[code]

depcheck --json | json_pp:
[code]

Many thanks,

[2017-02-06 15:51] yurii-sorokin opened #201 "*.tsx parser fails"
Hi. I've tried to use depcheck with tsx files + typescript@2, but with no luck. I reciving parsing error like:
[code]

To reproduce go to test/fake_modules/typescript and change component.tsx from

[code]
to
[code]

and run tests.

You will see that there are 2 failing tests. Both about typescript parser.

[2017-02-15 04:21] aleung opened #202 "Question: Create new npm module for plugin?"
I created a plugin to detect Express.js view engine. Shall I contribute it to this project or publish it as a new npm module? There are only few lines of code.

[2017-02-16 05:01] lijunle commented on #202
Hi, @aleung

You are welcome to send PR to this repo.

[2017-02-16 08:52] aleung commented on #202
Thanks. I'll do that.

[2017-02-16 08:52] #202 closed

[2017-03-01 15:16] dan-lee commented on #144
Thanks to @swearer23!
As it didn't work right away I had to tweak it.
Here's my result, for anyone concerned:

[code]

[2017-03-25 02:51] dsernst commented on #187
I'm seeing this as well in a `react-native` project.

[2017-03-25 03:00] dsernst commented on #187
Depcheck error if `url` is in package.json dependencies:
[code]

--------------------

React native fatal error after `npm rm -S url`:

<img src="https://cloud.githubusercontent.com/assets/6340841/24318933/02abcc60-10cc-11e7-9162-5f491362ed13.png" height="687px" />

[2017-04-05 13:12] #147 closed

[2017-04-09 19:52] mvayngrib opened #207 "limit resources used"
first, thanks for a useful module :) Haven't had any issues till today when I ran it on a large React Native project and it made my mac completely unresponsive

[2017-04-17 02:56] awebdeveloper opened #208 "Is it good to run at pre-commit level"
Is it a good tool to run at pre-commit level. Check on each commit if something is missing/unused

[2017-04-26 18:51] dpmott opened #209 "Modules loaded via Hapi Glue manifest are identified as not used"
See Hapi Glue API documentation & usage here:
https://github.com/hapijs/glue/blob/master/API.md#usage

Given a module which defines a manifest object containing registrations containing any of:
* registrations[x].plugin.options.reporters.reporter[x].module: [module name]
* registrations[x].plugin.register: [module name]
* registrations[x].plugin: [module name]

then Hapi Glue will dynamically requ

[2017-05-10 14:40] sgen opened #210 "@types packages causing false positives"
[As of TypeScript 2.0 type definitions of pre-existing packages are available via `@types/pkg`](http://stackoverflow.com/questions/37548066/typescript-typings-in-npm-types-org-packages#answer-39998720).

`depcheck` should be able to recognize this.

Simply noting the packages that being with `@types/` and checking them against a list of used packages with the corresponding package name should do i

[2017-05-10 14:48] rumpl commented on #210
Hey @sgen thanks for the issue, would you want to make a PR for this?

[2017-05-10 14:50] sgen commented on #210
I might, very busy atm so I can make no promises.

[2017-05-12 04:23] travi commented on #209
i would love this ability as well. one of my manifests that could be used as an example: https://github.com/travi/travi.org-admin/blob/master/src/server/manifest.js

[2017-06-15 11:22] junedev commented on #200
I am experiencing the same a lot of times. Here is one example where nodemon is considered unused.
package.json:
[code]

depcheck --json:
[code]

[2017-06-16 15:14] nicolaerusan opened #211 "FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory"
I just hit this error while running depcheck on a project that has about 3200 NPM modules installed. Thought I'd share it for a heads up.

`<--- Last few GCs --->

  200749 ms: Mark-sweep 1387.6 (1435.2) -> 1387.6 (1435.2) MB, 1550.4 / 0.0 ms [allocation failure] [GC in old space requested].
  202167 ms: Mark-sweep 1387.6 (1435.2) -> 1387.5 (1419.2) MB, 1417.2 / 0.0 ms [last resort gc].
  203589 m

[2017-06-23 06:12] edj-boston opened #212 "Babel special false alert"
HI, I am using `gulp-depcheck` like so in my gulpfile:

[code]

It says:

[code]

Here is what it is missing (also in my gulpfile)

[code]

[2017-06-27 12:41] vmeurisse opened #213 "Publish new release"
There are a few fixes that are not yet released in any version https://github.com/depcheck/depcheck/compare/0.6.7...master.
In particular https://github.com/depcheck/depcheck/pull/196 would be very useful.

Could you please release a new version to npm?

[2017-06-27 21:29] rumpl commented on #213
Hey @vmeurisse,

Sure, I'll get to it first thing tomorrow morning, sorry for the inconvenience.

[2017-06-28 03:27] lijunle commented on #213
Hey, Djordje.

You could just add a new tag with version name and the release note, then
push it to Github. The CI build will publish it to NPM.

2017年6月28日 上午5:29，"Djordje Lukic" <notifications@github.com>写道：

Hey @vmeurisse <https://github.com/vmeurisse>,

Sure, I'll get to it first thing tomorrow morning, sorry for the
inconvenience.

—
You are receiving this because you are subscribed to this

[2017-07-06 04:08] jitendravyas opened #214 "For most of the modules I use in my gruntfile.js are showing as Unused devDependencies, why?"

[2017-07-18 04:19] sudo-suhas opened #215 "Outdated dependencies"
The following dependencies are outdated:

|Package                |Current |Latest |Package Type   |
|-----------------------|--------|-------|---------------|
|babel-plugin-istanbul  |3.1.2   |4.1.4  |devDependencies|
|cross-env              |3.2.4   |5.0.1  |devDependencies|
|eslint                 |3.19.0  |4.2.0  |devDependencies|
|eslint-config-airbnb   |13.0.0  |15.0.2 |devDependencies|
|esl

[2017-07-18 04:52] lijunle commented on #215
No. Node v0.12 is not supported. I remember it is mentioned in README.

2017年7月18日 下午12:19，"Suhas Karanth" <notifications@github.com>写道：

[2017-07-18 04:59] sudo-suhas commented on #215
From readme:

And in `package.json` the engines field also matches this - [`package.json#L7`](https://github.com/depcheck/depcheck/blob/master/package.json#L7)

[2017-07-21 14:24] #215 closed

[2017-07-26 03:21] sudo-suhas opened #217 "npm install runs prepublish"
This only affects people looking to contribute to the project. If I try npm install, the following happens:
[code]

`yarn install` also runs the prepublish script.

[2017-08-03 10:22] lostpebble commented on #194
Yep, noticing that all my webpack loaders are showing up as unused dependencies, even while using the `specials=webpack` flag.

[2017-08-11 04:29] kaihendry opened #220 "Doesn't appear to work 0.6.7"
[code]

I use `uuid` as well as `json-loader`, so why the false positives?

[2017-08-11 07:15] lijunle commented on #220
You can get more information with *--json* parameter.

2017年8月11日 下午12:29，"Kai Hendry" <notifications@github.com>写道：

[2017-08-11 23:04] kaihendry commented on #220
[code]

It's not giving me much to go on ...

[2017-08-19 16:50] niftylettuce commented on #220
Doesn't work with node v8.x either

[2017-08-19 16:56] niftylettuce commented on #220
Upon using `--json` I see there's some issue with `renderSync` in parseSASS?

<https://github.com/depcheck/depcheck/blob/master/src/parser/sass.js#L9>

[code]

[2017-08-19 16:58] niftylettuce commented on #213
?

[2017-09-16 10:27] wesleymostien commented on #143
my webpack config is in "webpack.config.js" file on the root but I still have alerts.
using : npm-check --specials bin,webpack

[2017-09-16 10:30] wesleymostien opened #221 "error ELIFECYCLE"
What's the problem ? I got :

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! hello@1.0.0 check: `npm-check --specials bin,webpack`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the hello@1.0.0 check script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.

[2017-09-16 10:45] wesleymostien commented on #221
more details:

11 silly lifecycle shizzlz@1.0.0~check: Returned: code: 1  signal: null
12 info lifecycle shizzlz@1.0.0~check: Failed to exec check script
13 verbose stack Error: shizzlz@1.0.0 check: `npm-check --specials bin,webpack`
13 verbose stack Exit status 1
13 verbose stack     at EventEmitter.<anonymous> (/Users/wmostien/.nvm/versions/node/v8.4.0/lib/node_modules/npm/node_modules/npm-lifec

[2017-09-16 22:23] wesleymostien commented on #194
Same here

[2017-09-19 15:39] Ionaru opened #222 "Consider dependencies used when used in scripts"
In my `package.json` I use ts-node to quickly run my program while developing, but depcheck says ts-node isn't used at all.

[code]

[code]

Since I am using ts-node in an npm script, it shouldn't be caught by depcheck as an unused dependency.

[2017-09-21 09:35] PatrickEickmeier commented on #140
HI @lijunle I use version 0.6.7 and it doesn't work for me.

[2017-09-21 11:23] PatrickEickmeier commented on #140
I made some tests and it seems that there is only an exit code >0 when there are unused dependencies.

[code]

[code]

[2017-10-09 09:32] goloroden commented on #138
Any update on this?

[2017-10-09 14:04] lijunle commented on #222
Hmm...

This is interesting. You are using `--require` parameter to declare dependency. The strings (`ts-node/register`) is not a `bin`, it is actually a module.

[2017-10-09 15:14] jwhitmarsh commented on #213
@lijunle Any chance this can get published?

[2017-10-09 17:13] lijunle commented on #213
Sorry, James.

There are some ESLint failures and test failures. Could you please help to
fix them? Then, I can publish a new version.

Thanks!
Junle

On Mon, Oct 9, 2017 at 11:14 PM, James <notifications@github.com> wrote:

[2017-10-10 08:48] jwhitmarsh commented on #213
I've just forked the repo and all the tests are completing.

The lint errors are all `no-return-assign` errors, so this:
[code]

becomes this:
[code]

I prefer the first one, but it's not my repo and I don't want to step on toes and change code format, but I'd recommend we just disable the `no-return-assignment` rule in eslint.

[2017-10-10 09:40] lijunle commented on #213
We don't need to return the value.

This is fine:

2017年10月10日 16:48，"James" <notifications@github.com>写道：

[2017-10-10 13:50] lijunle commented on #213
Hi, thank you to @jwhitmarsh . The version 0.6.8 is out. I am closing this issue.

[2017-10-10 13:50] #213 closed

[2017-10-11 07:26] #217 closed

[2017-10-13 12:04] #222 closed

[2017-10-27 16:51] jacalata commented on #211
I'm getting the same error, but I only have about 600 modules.

[2017-10-28 07:03] tdmalone opened #229 "gulp-load-plugins outside of gulpfile.js"
Hi,

Thanks for covering `gulp-load-plugins` - I was impressed to see that this was existing functionality!

I'm having trouble with it however. I have quite a large gulpfile, and have modularised it into separate js files under `/tasks/`. I noticed [this line](https://github.com/depcheck/depcheck/blob/26c0b3ddcfdaa5bb3ebfb7716b95d084650eb5d9/test/special/gulp-load-plugins.js#L7) in the tests... w

[2017-11-09 09:39] rjmunro commented on #210
This seems to be a duplicate of #163.

[2017-11-28 21:57] rajington commented on #201
that PR worked for me, might want to submit a PR

[2017-11-29 08:03] lijunle commented on #201
I am sorry that, I don't notice this issue. Why TypeScript compiler not happy with your code? How does it happen?

[2017-11-29 10:27] yurii-sorokin commented on #201
As I can see the problem is that `depcheck` uses some default config for compiler options. After PR which added `jsx` option it might work in most cases. But I believe that instead of providing some defaults `depcheck` should try to read `tsconfig` from package first and use it.

As I still can repro the issue and `depcheck` tests are passing I've created the repo.
https://github.com/yurii-sorokin

[2017-11-29 15:48] lijunle commented on #201
I see. I suppose that is controlled here:

https://github.com/depcheck/depcheck/blob/153aa50925e4a02f1b418a7d1349bff8f5f925eb/src/parser/typescript.js#L11-L14

We need to change this hard coded compile option to read it from file. Not sure if TypeScript provides util to help here.

@yurii-sorokin Could you please help on this issue?

[2017-11-29 19:24] yurii-sorokin commented on #201
I could, I just can't give any estimations.

[2017-12-06 14:02] NtgJoshi commented on #188
+1

[2017-12-08 12:03] EdwardSalter opened #231 "Add support for rollup configs"
Rollup is a tool that is very similar to webpack and makes rather heavy usage of plugins.
At current, every single rollup dependency is showing as unused.

[2017-12-20 05:06] NomiJ opened #232 "Add support for Angular aot mode"
There are some dependencies required when building with --aot for Angular projects. Currently depcheck mark them as unused.

[2018-01-05 14:11] davidsielert commented on #195
Yeah I wonder what would be needed here? probably just support vue-loader ?

[2018-01-24 08:45] jpetitcolas opened #236 "False positive when using inline Webpack loader"
This tool returns a false positive when calling a script using an inline Webpack loader. For instance:

[code]

Here, `depcheck` considers `slick-carousel` as unused.

[2018-01-27 13:21] Milad opened #237 "False positive when using extract-text-webpack-plugin"
extract-text-webpack-plugin allows us to extract CSS code to a css file instead of depending on webpack to inject styles into the webpage.

My usage in webpack.config.js is the standard:
[code]
But depcheck claims they are not used, node-sass is a dependency of sass-loader and it will go if sass-loader is captured correctly.
[code]

[2018-01-27 13:25] Milad opened #238 "False positive when using vue-sticky in a vue component"
When importing vue-sticky to a Vue component, depcheck can't recognize its usage:

My Vue component
[code]
`depcheck --json` output:
[code]

[2018-01-27 13:39] Milad opened #239 "False dependency when using ESLint vue plugin"
Usage of `eslint-plugin-vue` in `.eslintrc.js`

[code]
`depcheck --json` output:

[code]

[2018-01-27 13:46] Milad opened #240 "False positive when using nsp-reporter-checkstyle with nsp"
My package.json:

[code]
`depcheck --json` output:

[code]

[2018-01-27 13:52] Milad opened #241 "False positive when using vuegister with mocha"
My package.json:

[code]

`depcheck --json` output:

[code]

[2018-02-15 13:37] shusak opened #243 "requires using template literals report as missing dependencies"
if I have:

[code]

reports `update-notifier` as unused even though it is

[2018-02-22 12:52] aecz commented on #239
Same error here with this config:
[code]
Result:
[code]

[2018-02-23 11:32] aecz commented on #239
I found a workaround. We can use the relative/absolute path syntax in the extends array and add the specific rules to activated them.
[code]

[2018-02-24 19:55] Hypnosphi opened #245 "Support yarn workspaces (monorepos)"
Currently, depcheck only checks root level dependencies

[2018-02-26 21:21] cbrianball opened #246 "Support for Typescript webpack files"
It looks like the webpack special only works if the webpack config file is a .js file. I use .ts files for my webpack configuration.

[2018-02-28 00:48] mattfysh opened #247 "Publish to NPM"
Hi @lijunle - I've noticed you've been merging pull requests to master... but have not been publishing updates to NPM. The last released version according to https://libraries.io/npm/depcheck was v0.6.8 on Oct 10, 2017

There have been a few merged pull requests since then, but these updates are not available if installing depcheck using your install instructions i.e. `npm install -g depcheck`

An

[2018-02-28 03:43] lijunle commented on #247
So, I am sorry. I will publish it soon.

[2018-02-28 03:53] lijunle commented on #247
@mattfysh I just push the tag 0.6.9. Once the [CI build](https://travis-ci.org/depcheck/depcheck) is finished, the new version should be published to NPM.

Sorry that I miss your request!

[2018-02-28 03:55] lijunle commented on #247
Done!

[2018-02-28 03:55] #247 closed

[2018-02-28 04:11] lijunle commented on #246
Hi,

You are right. It is only recognize the .js file. It could be great that
you can help on it.

Brian Ball <notifications@github.com>于2018年2月27日 周二上午5:21写道：

[2018-02-28 09:50] mattfysh commented on #247
Awesome :D thank you @lijunle

[2018-03-14 10:09] steevessaillant opened #248 ""selenium-server": "^3.4.0" false alert with nightwatch"
"selenium-server": "^3.4.0" false alert with nightwatch

[2018-03-16 13:57] Zjaaspoer commented on #245
Yes! Right now repo's using Yarn's workspaces are uncheckable by depcheck

[2018-03-16 14:43] Hypnosphi commented on #245
Well, they're not completely uncheckable, you just have to do it separately for each package

[2018-03-16 14:46] Zjaaspoer commented on #245
Well it gives false positives for the dependencies used within those workspaces. Workaround could be to ignore the workspaces directory I guess :)

[2018-03-29 08:48] anuragl94 commented on #189
I'm facing a similar issue. Folder structure is something like this:
[code]

Almost all dependencies are listed as unused.

[2018-03-30 12:18] b-fett opened #249 "feature: support for *.mjs extension"

[2018-04-04 01:39] donaldm314 opened #251 "Modules with same name as a built-in (e.g. 'path') are incorrectly identified as unused dependency"
It appears as though path is incorrectly identified as an unused dependency.

[code]

This is a trivial demo project, containing server.js which includes log.js, which uses path.

To reproduce:
1. unpack depcheck-path.zip
2. npm install
3. npm run depcheckjson

[depcheck-path.zip](https://github.com/depcheck/depcheck/files/1874044/depcheck-path.zip)

[2018-04-18 02:42] ronkorving opened #253 "feature request: ignore bin only if "main" field does not exist"
Some packages, like [`husky`](https://www.npmjs.com/package/husky), are specifically made to only be run from the command line. They have a "bin", but I don't want to blanket ignore all packages that happen to have a "bin". How about either changing the `--ignore-bin-package` logic or adding a new flag to say: ignore if it's a bin-package that *has no "main" field in its package.json*?

[2018-05-23 17:19] camflan commented on #207
I noticed a bunch of swapping immediately after starting it myself. I monitored it and depcheck was using ~15.2GB of RAM for most of it's run 😬

[2018-06-18 18:39] abelosorio commented on #251
Facing this same issue.

[2018-07-02 19:47] magillj opened #256 "Symlinked files are ignored"
depcheck does not process source files that are symlinked to a file outside the package being analyzed.

This is simple to repro:

1. Create a new package with a blank package.json
2. Add a js file where the only line is `var test = require('lodash');`
3. Running depcheck on that package properly shows that the dependency lodash is missing
4. Move the js file somewhere outside the package and syml

[2018-07-03 10:52] dunnkers opened #257 "Inline script commands in package.json are ignored"
When a dependency is only used inside parenthesis of another command in `package.json` scripts, depcheck marks this dependency as unused. e.g.:

[code]

Here, `cross-env` and `wait-on` are marked as **unused**.

Besides, thanks for the useful plugin! Great work. 🥂

[2018-07-05 21:58] NetOperatorWibby commented on #239
The year is half over and this is still an issue. Shame.

[2018-07-24 16:32] InstanceOfMichael commented on #211
probably the same:
[code]
also tried with `--max_old_space_size=4096`, but I ran out of system memory via OOM.
[code]

[2018-07-29 21:02] jakeleventhal opened #259 "False 'unused dependency' for asyncawait."
When importing asyncawait as such:
`const async = require('asyncawait').async;
const await = require('asyncawait').await;`

It says that asyncawait is an unused dependency.

[2018-07-31 11:08] bennypowers opened #260 "Add esm to specials"
esm is a useful runtime polyfill for standard modules that many projects use e.g.
[code]

It should be added to the default list of specials

[2018-07-31 11:10] bennypowers opened #261 "Add pre-commit to specials"
`pre-commit` is a handy npm package that lets maintainers run their package scripts in pre-commit hooks. It's use looks like this:

[code]

It should be added to the list of default specials

[2018-08-06 14:58] ubnt-marc-khouri commented on #201
@lijunle in my testing, the linked PR (#230) resolves this issue -- is there any chance you would be able to merge it? Thanks!

[2018-08-07 06:55] marcjordan commented on #154
Are we sure this was fixed? If I remove my .eslintrc file it doesn't appear to be looking at the config in package.json.

[2018-08-07 07:02] marcjordan commented on #150
I don't believe #173 is opening and reading 'package.json' as one of the allowed filenames. Can we get this or #154 re-opened?

[2018-08-08 01:02] lijunle commented on #150
Re-opened.

Hey, @marcjordan I am sorry that, I really don't have time to continue working on this project. If you are interested in fixing these issue, please tell me and I will loop you as contributors.

[2018-08-08 01:02] lijunle commented on #201
Hey, @ubnt-marc-khouri I am sorry that, I really don't have time to continue working on this project. If you are interested in fixing these issue, please tell me and I will loop you as contributors.

[2018-08-08 17:20] kaime opened #262 "False "unused dependencies" for `export ... from ...`"
I'm using a lot lines like this one:

[code]
If a package is used only this way, depcheck will issue an "unused dependency" message. If I change it to this other equivalent code, then it won't detect as unused.

[code]

[2018-08-09 05:10] #195 closed

[2018-08-09 12:52] LinusU opened #264 "TSLint"
Hey,

I'm adding support for TSLint, and it turns out that the code is basically exactly the same as for ESLint.

[code]

How would you prefer this to be done?

1. Keep as two files with basically the same content
2. Extract the code out to e.g. `src/util/linters.js` and just have a basic call in `specials/*.js`
3. Just have eslint also check for tslint files/packages

Cheers 🍻

[2018-08-09 12:57] rumpl commented on #264
Option 1 seems to be the most future-proof no?

[2018-08-09 13:10] LinusU commented on #264
Probably, yes. Although I don't think TSLint will move far away from ESLint, the idea behind the project is to work the same but for TypeScript.

Here is how option 2 would look like:

[code]

[2018-08-09 13:41] mnkhouri opened #265 "Next Release (0.6.10)"
Hi all, I've just joined in to assist in maintaining this project -- excited to help out! I have noticed that there are a few "low hanging fruit" / easy PRs and issues that we can resolve for a release soon, so I'm creating this issue + milestone to keep track of them.

After the release is out, I'd like do a little housekeeping, such as: check-in a package-lock.json, add node 10 to CI, consider u

[2018-08-09 13:46] rumpl commented on #265
Hi!

I'm soooo glad you are doing things, thanks man! :) I really don't have much time or energy to take care of this project but I love it still dearly.

Maybe we can even publish `1.0.0` and then celebrate?

[2018-08-09 13:51] mnkhouri commented on #201
Fixed by #230

[2018-08-09 13:51] #201 closed

[2018-08-09 13:51] mnkhouri commented on #201
Thanks @yurii-sorokin !

[2018-08-09 13:55] LinusU commented on #264
Here we go 🚀  #266

[2018-08-09 13:57] LinusU commented on #265
Great 👍

I think that neither me nor @mnkhouri is added to Npm, so someone else would have to push the release to npm.

[2018-08-09 14:04] rumpl commented on #265
I can publish on npm, once I get to know you guys I'll add you on the npm org, I'm not that confortable adding people too quickly to a package that is installed +22k times per week. I'm sure you guys can understand.

But that being said, I really am glad someone still wants to work on this project!

[2018-08-09 14:06] mnkhouri commented on #265
@LinusU I think [CI is set up](https://github.com/depcheck/depcheck/blob/master/.travis.yml#L30) for automatic releases to npm, but I haven't tested it or confirmed it working. @rumpl do you know? Totally understand for direct npm access :)

Re 1.0.0: I love the idea of a `1.0.0` since it makes it easier for consumers to confidently upgrade, I'm personally of the opinion that it makes sense to go

[2018-08-09 14:07] LinusU commented on #265
Sounds good 👍

Happy to help!

[2018-08-09 14:08] LinusU commented on #265
That's super!

I guess the release process is something like this then:

[code]

[2018-08-09 14:11] LinusU commented on #265
Hmm, that will mean that we are basically getting publish access right away though, are you okay with that @rumpl or should we restrict that somehow?

If it makes you feel any better, I currently push around [4M downloads per day](https://npm-stat.com/charts.html?author=linusu&from=2018-07-08&to=2018-08-08) on npm. Still, totally understand that you just don't want to hand out npm access left and

[2018-08-09 14:34] mnkhouri commented on #265
From a practical perspective, the CI push is likely broken, since the npm tokens would have been invalidated in the security incident a few months ago 💥

Still worth a discussion whether write access to the repo should grant publish access

[2018-08-09 17:10] lijunle commented on #265
The automatic publish should be fine. It is using my token and I am not using 2FA on NPM yet. Although there is concerns on write permission causes publish permission, but I think it is fine for a small team. Besides, automation is the key to keep life easier.

@mnkhouri Those concerns are long time ago. I am not sure if they are still valid and making sense. Basically, it is some refactoring work

[2018-08-10 04:26] mnkhouri commented on #259
Our parser ([Babylon](https://github.com/babel/babylon/blob/6.x/README.md)) is throwing an error when it encounters `const await` because [await is a reserved word](https://github.com/babel/babylon/issues/134).

I can't currently think of a way to fix this issue... Here are some things that won't work:

- There is no [option](https://github.com/babel/babylon/blob/6.x/README.md) to "allow reserved

[2018-08-10 04:53] jakeleventhal commented on #259
What if you built a step at the end that basically had a list of "packages to check". For each of those, if it finds, that it is unused, then it greps the project to quickly see if there is matching syntax (as i have shown in the issue ticket) and will remove it from the list of unused dependencies accordingly if it finds a match?

[2018-08-10 05:26] mnkhouri opened #269 "Evaluate differences between parsers (Acorn, Babylon, Espree)"
The project is currently using the [Babylon](https://github.com/babel/babylon/blob/6.x/README.md) parser. This choice seems to have been made due to [shortcomings in Acorn](https://github.com/lijunle/depcheck-es6/commit/9b26e19d8f5203ae55bdb1fc8770cf9ea42f00ac) as of 2015.

It would be interesting to revisit the differences between these three parsers, to see:
- how coupled is the project to the o

[2018-08-10 05:49] mnkhouri commented on #259
Neat idea! We would need to handle lots of edge cases though, since there's lots of possible syntaxes that can be used for importing a module (e.g. `let async=require( "asyncawait" )` is also valid). It's nice to have the parser handle all those edge cases for us, so I've created a new issue (#269) to revisit whether Acorn might be usable instead of Babylon.

I'm starting to think that the root is

[2018-08-10 05:55] jakeleventhal commented on #259
of course, and thanks for actually maintaining this project lol. I think it wouldn't be too hard to have a list of reserved words like i mentioned and then just check the lines that appear in. if there is any line that has both
`require` followed by `<special word>`, then it will untag the dependency as 'unused'

I think that could be accomplished with some simple regexing and not require switchig

[2018-08-10 10:35] LinusU commented on #259
This was a very interesting experience: 😆

<img width="349" alt="screen shot 2018-08-10 at 11 32 41" src="https://user-images.githubusercontent.com/189580/43953510-20a0e9f6-9c91-11e8-8a46-9dd521f12b32.png">

Didn't think that would be valid.

Anyhow, I think that doing the regexing dance is bad because of a few reasons:

1. It will probably increase running time by quite much
2. It could have fals

[2018-08-10 10:37] LinusU commented on #269
One thing that I've had problems with acorn in the past is that they are very strict on pulling in features that aren't yet stabilized:

e.g. object spread would make it choke on the entire file for a long time, even though most people used that syntax...

[2018-08-10 11:59] rumpl commented on #269
What about [espree](https://github.com/eslint/espree)?

[2018-08-10 12:12] LinusU commented on #269
Hmm, actually I think that this is working in Babylon (now called `@babel/parser` - https://babeljs.io/docs/en/next/babel-parser.html).

`async` (and `await`) are reserved keywords only when the source type is "module", setting that to "script" makes it work. This makes sense as this is in line with the ECMAScript spec.

Unfortunately, detecting whether a file is `script` or `module` isn't as easy

[2018-08-10 14:33] mnkhouri commented on #259
Interesting test! Node seems to treat some reserved words different than others (this is with v8):

![image](https://user-images.githubusercontent.com/6535396/43963079-5d92b1f0-9c87-11e8-8346-bb1e3d2cd02f.png)

I think at some point, before classes were introduced to ES, you would have been able to say `var class = 42` in Node. Doing that in a modern Node version will throw a `SyntaxError`. Node v

[2018-08-10 14:52] mnkhouri commented on #269
I'll edit the issue to include `espree`, probably good to include it in the comparison

I agree the linked issue isn't super important, but I wonder if we will run into other issues down the road related to backwards incompatability in ES specs. Trivial example:

[code]

Right now, we have an [`es6` and `es7` parser](https://github.com/depcheck/depcheck/tree/master/src/parser), which is implemente

[2018-08-10 14:58] LinusU commented on #259
I think that `class` have been a reserved keyword since the beginning of JavaScript, which is why Node (or other runtimes) won't accept that as a variable name.

`async` and `await` on the other hand was added later to the spec, after the initial release, and thus had to be backwards compatible.

[2018-08-13 02:12] mnkhouri commented on #262
Thanks for the report @kaime! I've added some tests to reproduce this bug in #272

[2018-08-13 02:43] mnkhouri opened #273 "Dependencies out of date"
Several of the project's dependencies are out of date, and `npm audit` contains several warnings. We should update dependencies before the next (major?) release

[2018-08-13 19:18] mnkhouri commented on #265
This evening, I'm planning on publishing a `0.6.10-beta.0` to make sure that the publishing infrastructure is in good shape and that there's nothing wildly wrong in the recent changes -- publishing a new version of a new project is a little scary 😄

Assuming nothing goes wrong, I'm thinking we can get `0.6.10` out on Wednesday or Thursday

cc @LinusU

[2018-08-13 19:24] mnkhouri commented on #208
Hi @awebdeveloper, this tool might take too long (on a large codebase) for pre-commit -- though we'd like to improve that. I think it's a good tool for usage in CI. There are some improvements we can make for CI as well: https://github.com/depcheck/depcheck/issues/162

I'll be closing this issue, but please feel free to comment or open a new one with further issues!

[2018-08-13 19:24] #208 closed

[2018-08-13 19:28] mnkhouri commented on #126
Newer npm versions no longer implement this style of deduping (since a while, now), so I'm going to close this issue as stale.

If anyone encounters a similar issue, please feel free to open a new issue!

[2018-08-13 19:28] #126 closed

[2018-08-13 20:10] mnkhouri opened #275 "Deploy failed (invalid NPM token?)"
The deploy for version 0.6.10-beta.0 failed, see log [here](https://travis-ci.org/depcheck/depcheck/jobs/415614637#L2784). NPM [revoked all tokens 1 months ago](https://status.npmjs.org/incidents/dn7c1fgrr7ng), so I think our token needs to be updated

-----------------

For new token: https://www.npmjs.com/settings/lijunle/tokens

To [update travis](https://docs.travis-ci.com/user/encryption-keys

[2018-08-14 02:46] jakeleventhal commented on #259
I agree, I think this issue can be closed and that the proper solution is to switch the parser.

[2018-08-14 02:46] #259 closed

[2018-08-17 13:50] mnkhouri commented on #275
@lijunle might you have a chance to update this token this weekend? We can then get 0.6.10 released :)

[2018-08-19 16:37] lijunle commented on #275
@mnkhouri I just added you to the npm package maintainer list.

I don't find @LinusU user name in npm. What is your name?

[2018-08-20 02:38] mnkhouri commented on #275
Thanks @lijunle !

[2018-08-20 03:10] mnkhouri commented on #275
@LinusU I noticed your npm username is `linusu` -- I have invited you to the maintainer list as well

[2018-08-20 15:46] mnkhouri commented on #210
Closing as duplicate of #163 -- we'll get this in for the 1.0 release

[2018-08-20 15:46] #210 closed

[2018-08-20 15:59] mnkhouri commented on #221
Hi @wesleymostien, it looks like you're using [`npm-check` (repo here)](https://github.com/dylang/npm-check). I'm not seeing anything in your output that points to an error with `depcheck` (this repo), so I'll close this issue, but please feel free to open another bug report if you note an issue in depcheck

[2018-08-20 15:59] #221 closed

[2018-08-21 03:43] nkbt opened #280 "TypeError: Cannot read property 'ModuleKind' of null"
### Bug Description
[code]

Typescript is not listed as a dependency.
We do not use typescript either, so it does not exist.

in depcheck/dist/parser/typescript.js:12 `typescript is included
[code]

### Versions
 - `node -v`: v10.7.0
 - `npm -v`: 6.1.0
 - `depcheck -v`: 0.6.10-beta.1

### Extra info
I guess this

[2018-08-21 03:45] nkbt commented on #280
On a side note I suggest publishing beta version as `depcheck@next` or another dist-tag.
See https://docs.npmjs.com/cli/publish `--tag` option

[2018-08-21 04:37] mnkhouri commented on #280
@nkbt Thank you for the issue and the suggestion. I've reset `latest` to 0.6.9 and published `0.6.10-beta.1` as `next`, and I'll ensure future beta releases are published under `next` and not `latest`

[2018-08-22 02:10] mnkhouri opened #281 "Implement a test using only production dependencies"
Some modules, such as Typescript, are optional at runtime. There should be a test that verifies that the program operates correctly when these optional dependencies are not present. #280 is an example of a bug that would be nice to catch in tests.

For example in `travis.yml`, there could be:

[code]

^^ This isn't the best solution because it modifies the Travis working directory. Ideally, that t

[2018-08-22 16:42] mnkhouri commented on #171
I'm unable to reproduce this today -- please feel free to reopen an issue if you continue to see this!

[2018-08-22 16:42] #171 closed

[2018-08-23 16:13] #280 closed

[2018-08-23 19:28] mnkhouri commented on #265
`0.6.10-beta.2` is published now on the `@next` tag on npm. I'll be trying it out on a few projects to make sure things look sane, then maybe a non-beta release on Saturday.

CI deploy is currently broken (#279), so I'm deploying manually for now

[2018-08-24 03:09] lijunle commented on #265
Could we search on the community for how other projects do the CI automatic deployment? Or nobody is doing it?

[2018-08-24 04:01] ubnt-marc-khouri commented on #265
I think (though I'm not certain) that our CI deployment is using the correct method (based on Travis documentation), however, I think that it has been broken because:

1. The token you put in several months ago @lijunle was invalidated when npm invalidated all tokens in June
2. The token I put in on my first attempt to replace your token was generated when I had 2fa enabled, so it failed in CI (se

[2018-08-25 03:48] mnkhouri commented on #281
As stated in https://github.com/depcheck/depcheck/pull/282#issuecomment-415397414:

I agree it's probably not worth it. Unless someone has a neat idea for this, I'll close the issue in a week or two

[2018-08-26 22:15] mnkhouri commented on #273
Resolved by #276

[2018-08-26 22:15] #273 closed

[2018-08-27 04:39] mnkhouri commented on #256
Hi @magillj, thank you for the detailed issue report! The module we're using to enumerate files, walkdir, [supports an option to follow symlinks](https://www.npmjs.com/package/walkdir#arguments). This option has been off in this project [since the very first commit](https://github.com/depcheck/depcheck/commit/1b753270fb01c3fb0b90431ca051b23dd5379f8a#diff-168726dbe96b3ce427e7fedce31bb0bcR142)!

I d

[2018-08-28 01:10] mnkhouri commented on #100
I'm closing this issue due to no activity in 2 years. Please feel free to open a new issue if this issue is seen again!

[2018-08-28 01:10] #100 closed

[2018-08-28 01:13] mnkhouri commented on #145
I'm doing a little cleanup of older issues, it appears this issue was resolved as of the latest comment. Please feel free to open a new issue if you see something similar to this!

[2018-08-28 01:13] #145 closed

[2018-08-31 05:40] magillj commented on #256
Sure I might be able to give it a shot within the next couple weeks

[2018-08-31 20:00] GongT commented on #163
with typescript project, `@types` packages can be "used" with 3 different:

2 way in source code, that's simple to parse:
[code]

another in `tsconfig.json`, but is complicated.
[tsconfig.json document](https://www.typescriptlang.org/docs/handbook/tsconfig-json.html)
( see section `@types, typeRoots and types`)

for each tsconfig found in project:
1. can be renamed to everything. it's just a JSON,

[2018-08-31 20:04] GongT commented on #163
BTW, `@types` package should not appear in dependencies, but should always in devDependencies.
except some **extreme** rear situation.

[2018-08-31 20:54] GongT commented on #163
Oh, When I start to write some code, I found that, the first 2 ways is also affected by tsconfig.json.
It's really hard to do a "complete" check....
I think this big job worth to create a new tool...

[2018-09-01 17:51] mnkhouri commented on #163
@GongT thanks for the research, that does make it seem quite complex to properly detect `@types` usages with one or more `tsconfig.json` in the project. Instead of trying to analyze it ourselves, I wonder if there might be some way to extract this information from the typescript compiler? I haven't done a lot of research, but some documentation is [here](https://github.com/Microsoft/TypeScript/wik

[2018-09-01 19:31] GongT commented on #163
I have not look into depcheck's `parser`, current `parseTypescript` not load user's `tsconfig.json`, this need first update.

`ts.transpile` cannot used to analyze a "program", `types` option is hard code to `undefined`.

here is a simple script to list all files used when compile a project:
https://gist.github.com/GongT/1d5113a2ffd8ac7cac53123af61039d1

[2018-09-02 01:49] hassankhan opened #285 "Add support for Jest"
### Feature request description
It would be awesome if `depcheck` could exclude Jest as well as any transformer modules [as per the documentation](https://jestjs.io/docs/en/configuration.html#transform-object-string-string).

### Code snippets (if applicable)
How the dependency is used (if applicable):

[code]

How the dependency is listed in package.json (if applicable):

[code]

[2018-09-03 17:07] mnkhouri commented on #285
Hi @hassankhan, thank you for the detailed suggestion! Based on the documentation you linked, the detection seems fairly straightforward, so I think it should relatively easy to add this support as a ["special"](https://github.com/depcheck/depcheck#special), for example like [babel](https://github.com/depcheck/depcheck/blob/master/src/special/babel.js).

If you have the time to try out a PR for th

[2018-09-03 17:10] mnkhouri commented on #231
I think this would be great to add! The [rollup config format](https://rollupjs.org/guide/en#using-config-files) looks straightforward to parse as a ["special"](https://github.com/depcheck/depcheck#special), for example like [babel](https://github.com/depcheck/depcheck/blob/master/src/special/babel.js)

[2018-09-04 19:48] peterschussheim commented on #245
Are there alternative 'dependency checkers' that work correctly with `yarn workspaces`?  Ignoring workspaces directory isn't a solution.

[2018-09-04 21:12] mnkhouri commented on #245
@Hypnosphi @Zjaaspoer @peterschussheim I don't have much experience with yarn workspaces, would you mind describing the ideal experience you'd like to see in a project with yarn workspaces? Would it be:

1. the tool determines what workspaces exist, then runs and generates a report for each workspace?
2. the tool ignores all workspaces automatically and just checks the root?
3. something different

[2018-09-04 22:43] benjie commented on #245
In my opinion, ideally there'd be two modes.

Mode 1 (independent workspaces, e.g. to be published to npm): each individual workspace is expected to have its own deps specified in the workspace's own package.json (and the root package.json is basically ignored dependencies-wise)

Mode 2 (dependent workspaces, e.g. to be ran in the context of the monorepo): each individual workspaces is expected to

[2018-09-05 16:20] cprebble opened #287 "false alert on mocha-jenkins-reporter (cant seem to add `help wanted` label)"
mocha-jenkins-reporter is reported as being unused.

npx depcheck --json:
[code]

When I remove this dependency and run my tests, I get the following error:
[code]

mocha-jenkins-reporter is used for Node.js backend tests using mocha to output nicely formatted Jenkins reports of the test runs

It's used in our package.json test script:
[code]

The attached project is a trivial example to reproduce

[2018-09-06 09:27] LinusU commented on #287
I don't know if this is considered too "hacky" to add, but it could be implemented with a simple regex on `package.scripts.test` ☺️

[code]

Could possibly also/instead check the file `test/mocha.opts`, which mocha will read options from by default.

[2018-09-06 12:35] cprebble commented on #287
I added the `--ignores` argument and that works great. Thanks!

[2018-09-06 13:03] LinusU commented on #287
I still think it would be nice to add this functionality to depcheck 👍

[2018-09-06 13:09] rumpl commented on #287
I guess we could add it [here](https://github.com/depcheck/depcheck/blob/master/src/special/mocha.js) indeed

[2018-09-07 02:57] mnkhouri commented on #241
Thanks for the report! I'm going to fold this issue into https://github.com/depcheck/depcheck/issues/287, where there's some more discussion with the same root cause

[2018-09-07 02:57] #241 closed

[2018-09-07 03:01] mnkhouri commented on #287
we should also check for `--require`, as described in this issue: https://github.com/depcheck/depcheck/issues/241

I'm having a hard time determining [from the mocha docs](https://mochajs.org/#usage) if there are any others we should include too, maybe there are more

[2018-09-07 23:09] mnkhouri commented on #245
Thanks for the clear and detailed comment @benjie!

I think it would be straightforward to implement the "Mode 1 (independent workspaces)" that you described [by adding some new functionality to cli.js](https://github.com/depcheck/depcheck/blob/539c6dd/src/cli.js#L76-L127), the main entrypoint for the program. There, we could do the directory traversal / parsing of `yarn.lock` and `package.json` t

[2018-09-07 23:26] mnkhouri commented on #220
@niftylettuce for your issue `Cannot read property 'renderSync' of null`, it is likely because you do not have `node-sass` installed, which is [required for parsing sass](https://github.com/depcheck/depcheck#syntax-support).

There have been a couple of versions (with several fixes) published since this issue was filed -- please don't hesitate to open a new issue if you have a problem!

[2018-09-07 23:26] #220 closed

[2018-09-07 23:28] mnkhouri commented on #214
Hi @jitendravyas, dependencies in all `.js` files should be detected. If you're still having issues using the latest version of depcheck, please feel free to open a new issue -- our new issue template will ask for some debugging information that makes it easier to diagnose the problem. Thanks!

[2018-09-07 23:28] #214 closed

[2018-09-08 15:29] mnkhouri commented on #248
Hi @steevessaillant, could you please provide an example of how "selenium-server" is used in your code?

[2018-09-08 16:05] #275 closed

[2018-09-10 02:42] mnkhouri commented on #187
Thank you for the report!

Quoting from my [comment here](https://github.com/depcheck/depcheck/issues/251#issuecomment-416110283):

I'm going to close this issue as a duplicate of https://github.com/depcheck/depcheck/issues/251, since I've added some brainstorming about possible solutions there

[2018-09-10 02:42] #187 closed

[2018-09-10 02:45] mnkhouri commented on #128
I'm pretty sure this got implemented with the "dependent-build" package / ["test-dependent"](https://github.com/depcheck/depcheck/blob/master/package.json#L25) script. Very neat package!

[2018-09-10 02:45] #128 closed

[2018-09-10 03:30] mnkhouri commented on #164
The Readme seems in pretty good shape right now, most likely it has been updated since this issue was opened -- please feel free to open a new issue if there are any more suggestions!

[2018-09-10 03:30] #164 closed

[2018-09-14 14:40] AndreaFranchini opened #289 "False alert for ejs package using expressjs"
Building an Express.js application specifying

```app.set('view engine', 'ejs');```

involves to install the ejs package.
Depcheck shows:

[code]

that is a false alert.
Maybe is possibile to configure depcheck to consider the express framework peculiarities.

[2018-09-17 10:44] LinusU commented on #289
Yes, I really which we hadn't taken this approach in express, should probably bring that up so that we can change it in v5...

That being said, a workaround for now could be to do:

[code]

[2018-09-19 06:47] peterennis opened #290 "depcheck error for workbox-build"
This result is false:

[code]

This repo/commit: https://github.com/peterennis/ae-svg-components/commit/279e536bf3f89dc45f7a013af4bcbaffa1c77f69

`workbox-build` is required for `npm run build --prod` and the Stencil
build process will notify if it is missing.

[2018-09-19 09:19] LinusU commented on #290
Hmmm, shouldn't the Stencil package have a dependency on `workbox-build`? 🤔

[2018-09-26 20:32] haggholm opened #291 "No dependencies are detected in files using optional chaining"
### Bug Description

If a file contains the optional chaining proposal `object?.optionalProperty`, parsing appears to fail and *no* dependencies are detected in the file.

### Code snippets
Where the dependency is used:

[code]

Where the dependency is listed in package.json:

The dependency is *not* listed in `package.json` (in my sample scenario, it doesn’t contain any dependencies at all).

Exp

[2018-09-27 04:01] mnkhouri commented on #291
Thanks for the report @haggholm. I did a bit of digging around that plugin:

Our current parser is [Babylon@6.1.21](https://github.com/depcheck/depcheck/blob/master/package.json#L52), which does not support the `'optionalChaining'` plugin [per the documentation for 6.26.3 (so it's definitely not in our 6.1.21)](https://babeljs.io/docs/en/6.26.3/babylon#plugins)

As of Babel@7, Babylon was [renamed

[2018-09-27 08:11] LinusU commented on #291
Would be awesome to get this in 👏

[2018-10-04 13:54] emattias opened #292 "Does not find non json or yaml tslint config"
### Bug Description
I have my tslint config in a tslint.js file. I used it by sending in the `--config` parameter to `tslint`:
[code]

### Code snippets
Where the dependency is used:
## tslint.js
[code]

Where the dependency is listed in package.json:

[code]

### Versions
 - `node -v`: v10.10.0
 - `npm -v`: 6.4.1
 - `depcheck -v`: 0.6.11

[2018-10-09 18:21] oreporan commented on #245
for a workaround, I'm using `yarn workspaces` with `lerna`
then I just gave it :
`lerna exec --no-bail -- depcheck  --json \>\> ./depcheck.json `

That created the file in each directory and let me work on fixing each package

[2018-10-09 21:04] marcjordan opened #294 "doesn't seem to detect require('os') in source"
### Bug Description
In my code, I have:

[code]

Yet depcheck seems to think the os module is unused. Also, if I have not installed the 'os' module in package.json, I don't get the missing package warning

### Code snippets
Where the dependency is used:

[code]

Where the dependency is listed in package.json:

[code]

### Versions
 - `node -v`: 6.14.3
 - `npm -v`: 6.4.1
 - `depcheck -v`: 0.6.11

#

[2018-10-09 22:06] rumpl commented on #294
Hi @marcjordan,

The `os` package is a nodejs core module and shouldn't be installed, [see here](https://github.com/DiegoRBaquero/node-os).

Depcheck filters all the builtin modules that you `require` or `import` in your code and hence it will tell you that the package is unused, meaning you don't really need to install it (see the source code of `node-os`, it just exports the core `os` module).

[2018-10-09 22:06] #294 closed

[2018-10-09 23:09] haggholm opened #295 "Child processes get spawned by thread-loader"
### Bug Description

When running depcheck with the `webpack` special plugin enabled, if [`thread-loader`](https://github.com/webpack-contrib/thread-loader) is used, it seems that the inspection somehow ends up loading a worker pool (`thread-loader/dist/WorkerPool.js`).

We run `depcheck` through a larger lint script using the API. Seemingly because these workers were running, the parent process n

[2018-10-09 23:10] haggholm opened #296 "Bug report template contains an error"
### Bug Description

The template contains:

 - `node -v`:
 - `npm -v`:
 - `depcheck -v`:

However, `depcheck` does not recognise a `-v` flag. Either one should be added, or the template should be changed to `--version`.

[2018-10-15 13:05] korob93 opened #297 "Using own package name in import statement causes missing dependency error"
### Bug Description
Let's assume I have a package `my-awesome-package` with the following structure:
[code]
So, in my index.js I'd like to use some constants, but for some reason instead of doing
[code]
I prefer to use
[code]
So when I run depcheck it throws a missing dependency error

### Versions
 - `node -v`: v8.11.4
 - `npm -v`: 5.6.0
 - `depcheck -v`: 0.6.1

### Extra info
I'm not quite sure

[2018-10-15 13:20] LinusU commented on #297
Not saying that we shouldn't support it, but Node.js doesn't support that pattern and will complain that it `Cannot find module 'my-awesome-package/constants'`...

[2018-10-16 20:16] korob93 commented on #297
Hello @LinusU! Thank you for quick reply.

I agree with you, but in case `my-awesome-package` is not intended to be used independently (a react component library for example or some stuff like that) everything will be resolved without any problems.

For example I have my package.json like this
[code]
And then somewhere in my application code i have the following import statement
[code]
In that cas

[2018-10-18 06:29] LinusU commented on #297
depcheck should correctly support the way you're describing in your last post, is there a problem with this for you?

[2018-10-18 19:36] LinusU commented on #297
Sorry if for asking so many questions, but is there a file under `node_modules/my-awesome-package` that is using `require('my-awesome-package/...')`?

e.g.

[code]

[2018-10-19 08:17] korob93 commented on #297
@LinusU sorry for confusing you, `npx depcheck node_modules/my-awesome-package` works ok.

Maybe it will be more convinient for you to chek out my [example repo](https://github.com/korob93/depcheck-examlpe)?

[2018-10-23 09:20] Berkmann18 commented on #251
Any updates regarding this issue?

[2018-10-23 09:44] rumpl commented on #251
Hi all,

I'm having a hard time understanding why would you install a dependency that is either [useless](https://github.com/DiegoRBaquero/node-os/blob/master/index.js) or is an exact copy of the nodejs core module... In both cases the dependency is indeed useless since it comes with node.

Could you @Berkmann18 or @donaldm314 explain the use case please?

[2018-10-23 10:09] Berkmann18 commented on #251
@rumpl In my case, I'm here because of [this issue](https://github.com/dylang/npm-check/issues/299) where the dependency (`lodash`) was classified as unused... Which wasn't.

Regarding using native modules (read dependencies that are _already_ imported), I guess it would make sense to flag said dependencies as unneeded (note: the "un**needed**" as opposed to the "un**used**").

[2018-10-23 21:39] #262 closed

[2018-10-26 08:27] oreporan opened #298 "onlyMatch"
### Feature request description
The opposite of ignoreMatch (since from what I see ignore match isn't working with regex, I can't put `^`)
in our monorepo I would like to use depcheck but only for our internal packages (not 3rd party libraries).
All of our packages have the same scope `@some-internal-scope` and I'd like depcheck to only look for these.
This is needed to running `lerna run test` on

[2018-10-26 12:43] #298 closed

[2018-11-15 15:17] Dagurmart opened #301 "False alert: babel-preset-expo"
When you create a new project using `expo init` and run `depcheck ` you get this
[code]

but babel-preset-expo  is required

[2018-11-23 15:09] stevenvachon opened #302 "Check child_processes"
### Feature request description
It's possible for a child process to execute an npm package's binary. Such should be checked as thoroughly as possible.

[2018-11-23 15:50] rumpl commented on #302
Hey,

Could you elaborate please? Not sure I understand.

[2018-11-23 15:53] stevenvachon opened #303 "babel-polyfill imported by useBuiltIns"
### Bug Description
With `useBuiltIns: 'usage'` in a Babel config, parts of the babel-polyfill package will be [imported automatically](https://github.com/babel/website/issues/1660#issuecomment-390311626). Because depcheck does not recognize this, it notifies false negatives.

### Versions
 - `node -v`: 10.11.0
 - `npm -v`: 6.4.1
 - `depcheck -v`: 0.6.11

[2018-11-23 15:58] stevenvachon commented on #302
[code]
[code]

[2018-11-29 11:40] flisky opened #304 "0.7.0-beta.1 is older than 0.7.0-alpha.1"
We use `depcheck@next`, and then run `npm upgrade`. It goes to `0.7.0-beta.1`, which is published two years ago.

So could you please release a newer package ?

[2018-12-26 22:42] ckknight commented on #189
Yeah, if they are only types imported, then `depcheck` appears to discard it, which is less-than-ideal.

[2019-01-01 02:31] peterennis commented on #290
Updated to latest Stencil

[code]

From here:
https://github.com/ionic-team/stencil/blob/master/package.json

[code]

When I use the "lazyDependencies"  and fix the "devDependencies" I get:

[code]

So that looks like the solution.

[2019-01-01 02:31] #290 closed

[2019-01-17 18:00] jakeleventhal commented on #257
I have this same problem with `husky` and `jest-junit`

[2019-01-17 18:19] lijunle commented on #257
@dunnkers IIRR, depcheck [use space](https://github.com/depcheck/depcheck/blob/master/src/special/bin.js#L49) to split the content for recognizing the executable. Could you please try to write the following command and check if your issue is mitigated?

[code]

@jakeleventhal How does your command look like? Does your issue get mitigated after insert some spaces?

[2019-01-17 19:43] jakeleventhal commented on #257
For jest-junit I have it as a parameter, so i dont think spacing will work:
`"scripts": {
    "test-cov": "JEST_JUNIT_OUTPUT='./test-reports/test-report.xml' jest --coverage --reporters=default --reporters=jest-junit --detectOpenHandles --forceExit --silent"
  }`

For husky, it is its own section in my package.json:
`"husky": {
    "hooks": {
      "pre-push": "npm run lint"
    }
  },
  "devDepen

[2019-01-23 00:45] daveisfera commented on #211
I was running into this as well and running `node --max-old-space-size=4096 <path_to>/depcheck` worked.

[2019-01-23 10:07] jakeleventhal commented on #257
any updates on this?

[2019-01-25 12:45] rumpl commented on #188
Karma support is merged now.

[2019-01-25 12:45] #188 closed

[2019-01-26 09:52] rumpl commented on #291
Fixed by #307

[2019-01-26 09:52] #291 closed

[2019-01-26 09:54] rumpl commented on #304
Will do!

[2019-01-26 09:54] #304 closed

[2019-01-26 09:55] rumpl commented on #303
Thanks for reporting this, are you willing to make a PR for this one?

[2019-01-26 09:57] rumpl commented on #302
I'm not sure I want depcheck to go this deep into reading the code, reading imports from the code and the configuration files of different tools is complicated enough as it is.

[2019-01-26 09:57] #302 closed

[2019-01-26 09:59] rumpl commented on #301
For babel we have a [special](https://github.com/depcheck/depcheck#special).

[2019-01-26 09:59] #301 closed

[2019-01-26 10:02] #296 closed

[2019-01-26 10:07] #289 closed

[2019-01-26 10:13] rumpl commented on #261
Thanks for the report @bennypowers, would you like to make a PR for this one?

[2019-01-26 10:17] rumpl commented on #257
Not yet, @jakeleventhal would you like to make a PR for this one?

[2019-01-26 10:43] rumpl commented on #232
Hey @NomiJ, is this still an issue?

What dependencies are required?

[2019-01-26 11:48] rumpl commented on #170
Hey,

This is actually not a bug, `depcheck` excludes NodeJs core modules and [querystring](https://nodejs.org/api/querystring.html) is one of them.

[2019-01-26 11:48] #170 closed

[2019-01-27 10:36] mpacary commented on #170
So shouldn't the output be like this?
[code]

[2019-01-27 10:42] rumpl opened #308 "Be more explicit about core NodeJs modules"
### Explicitly list used core NodeJs modules as not needed

Instead of listing core NodeJs dependencies as unused maybe we could say that they are not needed, people are (rightfully) getting confused.

### Code snippets
How the dependency is used :

[code]

How the dependency is listed in package.json:

[code]

This setup prints out
[code]

Which confuses people, we should separate the used core m

[2019-01-27 10:43] rumpl commented on #170
I created a feature request for this one #308

@mpacary Would you like to work on this one?

[2019-01-27 11:01] mpacary commented on #170
Would be a good experience for me, but I have not enough time currently :-/
Maybe in a few weeks, I could create a PR.

[2019-01-27 23:01] jakeleventhal commented on #257
I would like to but I am very busy. I don't mind waiting.

[2019-01-31 00:17] XBeg9 commented on #189
Facing same issue here, any ideas how to fix that?

[2019-01-31 10:23] rumpl commented on #189
Hey @heruan, thanks for reporting this.

Indeed, we are [transpiling typescript code](https://github.com/depcheck/depcheck/blob/master/src/parser/typescript.js#L17-L54) before giving the output to our main parser (babel) and in doing that we are losing all the types... I'll see what I can do, I understand that this is not ideal for typescript users.

In the meantime you can add those to the list o

[2019-02-02 19:10] Perlkonig opened #310 "False Alerts (multiple)"
- @types/jest
- acorn
- ts-jest
- webpack-cli

I'm working in Typescript. The Jest tests won't work unless `ts-jest` and `@types/jest` are installed. `Webpack-cli` is needed for my build process, and `acorn` is required by `webpack-cli`.

Here's the output of `depcheck --json`:

[code]

[2019-02-02 19:47] rumpl commented on #310
@Perlkonig thanks for reporting this.

Is this a duplicate of https://github.com/depcheck/depcheck/issues/189 ?

If not, would you be so kind and make a minimal example of what is going on in your case ?

Cheers!

[2019-02-03 14:57] Perlkonig commented on #310
It looks like that issue is the problem with `@types/jest`. I don't understand well enough to say if that's the problem with `ts-jest`. If there's a way to add ignored packages, then `webpack-cli` and `acorn` are a non-issue.

Jest is the testing framework. It gets called by an npm script:

[code]

Here's `jest.config.js`:

[code]

This is the only place that `ts-jest` gets explicitly mentioned.

[2019-02-04 09:31] vesper8 opened #312 "False Positives for: vue-spinner, vue-tables-2, vue-scrollto, vue-multiselect, vanilla-back-to-top, randomcolor, @fortawesome/fontawesome-free, owl.carousel"
Just installed the latest version using

[code]

then ran 'depcheck' in the root of my vue-cli project folder

It detected all of these "unused dependencies" even though they are very much used! Below are relevant lines in package.json and usage from inside vue components

[code]

[code]

[code]

[code]

All the components that are importing from these 8 dependencies are definitely currently used

[2019-02-07 15:37] VincentLanglet opened #314 "False positive tslint-plugin-prettier, tslint-react, tslint-sonarts"
### Bug Description
Unused dependencies :
[code]

Missing dependencies :
[code]

### Code snippets
Where the dependency is used:

tslint.json
[code]

Where the dependency is listed in package.json:
[code]

### Versions
 - `node -v`: v11.6.0
 - `npm -v`: 6.5.0-next.0
 - `depcheck --version`: 0.7.1

[2019-02-07 15:41] VincentLanglet opened #315 "False positiv husky"
### Bug Description
Unused devDependencies

### Code snippets
Used in the package json.
[code]

### Versions
 - `node -v`: 11.6.0
 - `npm -v`: 6.5.0-next.0
 - `depcheck --version`: 0.7.1

[2019-02-07 15:42] VincentLanglet opened #316 "False positive eslint-config-prettier eslint-plugin-prettier"
### Bug Description
Unused devDependencies

### Code snippets
Used in the package json.
[code]

### Versions
 - `node -v`: 11.6.0
 - `npm -v`: 6.5.0-next.0
 - `depcheck --version`: 0.7.1

[2019-02-07 15:44] VincentLanglet opened #317 "False positive stryker reporter/parser"
### Bug Description
Missing
[code]

### Code snippets
stryker.conf.js
[code]

Where the dependency is listed in package.json:

[code]

### Versions
 - `node -v`: 11.6.0
 - `npm -v`: 6.5.0-next.0
 - `depcheck --version`: 0.7.1

[2019-02-07 15:51] VincentLanglet opened #318 "Support .depcheckrc or depcheck.config.js config file"
It would be greate to be able to set a config in .depcheckrc instead of adding argument every time I use the command.

[2019-02-12 06:47] zentoaku opened #319 "Not working for Typescript Angular 7 project"
Hello,

I'm trying to figure out how to use this tool with Angular 7 project which uses Typescript. I've seen that there should be a built-in support for it but so far the tool is reporting all of my dependencies from package.json as "unused".
Tried:

Could you give me some more clarity on how to use this tool from command line?

[2019-02-12 09:11] rumpl commented on #319
Hi @zentoaku,

I just tried this:
* install ng-cli: `npm install -g @angular/cli`
* create a new app: `ng new my-app`
* run depcheck: `depcheck .`

And this is the output I get:
[code]

The unused dependencies are correct as for the devDependencies, there is a bunch of stuff going on:
* the `@types/*` are not yet supported by depcheck, should be there soon
* not sure about the cli or compiler-cli

[2019-02-13 08:41] zentoaku commented on #319
I can't share the repo but here is the command output:
[code]

[2019-02-14 03:33] segfaultdoc opened #320 "False Alert with pre-commit module"
1. JSON:  {
   "dependencies":[
   ],
   "devDependencies":[
      "pre-commit"
   ],
   "missing":{
   },
   "using":{
      "eslint-config-airbnb-base":[
         "/Users/zsherwani/my_projects/api.userservice/.eslintrc.yml"
      ],
      "eslint-plugin-import":[
         "/Users/zsherwani/my_projects/api.userservice/.eslintrc.yml"
      ],
      "eslint":[
         "/Users/zsherwani/my_projects

[2019-02-14 10:12] rumpl commented on #320
Hey @segfaultdoc, thanks for reporting this, the pre-commit is reported as unused because it's not used in the code, we would need to do some special things in order to manage this package, for now you can use the `--ignores` flag so that it doesn't report it as unused.

Cheers

[2019-02-14 10:14] rumpl commented on #318
Indeed, I think this would be a nice thing to have, we'll get to it time permitting.

[2019-02-14 10:18] rumpl commented on #317
Thanks for reporting this!

I had no idea things like stryker existed, it looks awesome! :)

[2019-02-14 10:21] rumpl commented on #312
Hey @vesper8 thanks for reporting.

Could you show us the output of `depcheck --json` please?

I see you installed typescript with depcheck, is your code written in typescript ?

[2019-02-14 10:26] rumpl commented on #318
Closing since duplicate of #162

[2019-02-14 10:26] #318 closed

[2019-02-14 11:13] VincentLanglet commented on #317
FYI, now the dependencies are named
[code]

[2019-02-14 13:29] vesper8 commented on #312
Hey, sure here it is

And no, my user code is not written in typescript

[code]

thanks!

[2019-02-17 14:14] mkaufma opened #321 "export { x } from '@Y'; - @Y is not recognized as a required dependency"
### Bug Description
A description of the bug

### Code snippets
Where the dependency is used:
[code]

Where the dependency is listed in package.json:

[code]

### Versions
 - `node -v`: v10.14.0
 - `yarn -v`: 1.13.0
 - `depcheck --version`: ^0.6.9

[2019-02-21 00:22] k3yb0ardn1nja commented on #319
I am experiencing the same issue. I create a sample to exhibit the behavior. It doesn't seem to be a package-dependent issue, so I just picked on `rxjs`. The only change from the initial Angular 7 CLI `new` see was adding a simple use of `rxjs` in `src/app/app.component.ts`:
https://github.com/k3yb0ardn1nja/ng7-cli-depcheck-test

Any guidance is greatly appreciated!

[2019-02-22 21:59] brickfungus commented on #194
In my .babelrc i have these plugins
`"plugins": [
        "react-hot-loader/babel",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-transform-modules-commonjs",
        [`

it's good with all the @babel ones, but says react-hot-loader is unused

[2019-02-28 03:19] KaboomFox opened #322 "scss dependency false report"
### Bug Description
I get a false report for packages that import scss only.

### Code snippets
 I have a package `scss-only` that is imported in scss via `@import ~/scss-only/dist/scss/index.scss` . This will give me a error the `scss-only` is unused.

Where the dependency is listed in package.json:

[code]

### Versions
 - `node -v`:
 - `npm -v`:
 - `depcheck --version`:

"depcheck": "0.7.1"
"no

[2019-02-28 18:41] #322 closed

[2019-03-04 14:43] cyrilchapon commented on #316
I think I found why.

Specifying the eslint config inside package.json `esLintConfig` leads to false positive, whereas using a .eslintrc file with exact same config seems to trigger the special mode "eslint" which ignores those files

[2019-03-04 14:47] cyrilchapon commented on #316
Exact same additional bug : the package.json `"parser": "babel-eslint"` (be it at the root of package.json or inside `esLintConfig` leads to `babel-eslint` being reported.

This is not the case when set inside .eslintrc file

[2019-03-05 07:15] #316 closed

[2019-03-12 07:31] #243 closed

[2019-03-12 07:36] rumpl commented on #321
Thanks for reporting this.

Wow, this is a tricky one...

[2019-03-13 18:47] tinymachine opened #330 "False positive: eslint-config-prettier"
### Bug Description
This might be too much to expect depcheck to handle, but eslint-config-prettier is used by eslint-plugin-prettier when the ESLint config includes`{ "extends": ["plugin:prettier/recommended"] }`, even though [eslint-plugin-prettier's `package.json`](https://github.com/prettier/eslint-plugin-prettier/blob/34b39dec2e6e283da1ca6faa0c636c5361efb5b9/package.json#L30-L36) only include

[2019-03-18 21:05] DavidBabel opened #331 "The cli option --ignore-dirs seems not to work"
### Bug Description
I use the cli, and when i run this command :
[code]
But the legacy directory is not ignored.

### Versions
 - `node -v`: v11.11.0
 - `npm -v`: 6.7.0
 - `depcheck --version`: 0.7.2

### Extra info

Note that it exists a `legacy/package.json` file.

I checked that the option is correctly passed into `cli.js` and it is.

[2019-03-18 21:31] rumpl commented on #331
Thanks for reporting this, I'll take a look when I have the time.

Cheers

[2019-03-19 07:32] rumpl commented on #331
Hm, that's odd, I just checked with this:
[code]

[code]

[code]

If I run `depcheck` I get:
[code]

And if I tell it to ignore the `ignore` directory:
[code]

I'll close this one for now, feel free to open a new one with a reproducible setup.

Cheers

[2019-03-19 07:32] #331 closed

[2019-04-16 22:40] marcospgp opened #338 "Doesn't recognize eslint typescript plugin properly"
What the title says. It also reports that some @types packages are unused, even though I need them because I have the corresponding packages installed. Maybe a check could also be done for that? (If a package is installed and used, assume its @types/ counterpart also is.

Here's my eslint config:

[code]

And my output:

[code]

Those missing dependencies are also incorrect I believe. Eslint repor

[2019-04-18 09:34] partynikko opened #339 "False Alert on importing from self"
### Bug Description
If doing `import` on your own package from within the very same package _(for example having your bundler resolve it through alias)_ depcheck will report the dependency as missing.

### Code snippets
Where the dependency is used:
[code]

Where the dependency is listed in package.json:

[code]

### Versions
 - `node -v`: v8.11.4
 - `npm -v`: 6.8.0
 - `depcheck --version`: 0.7.2

[2019-04-19 17:19] seantcanavan opened #340 "Depcheck is not counting dependencies in JSX files and detects itself"
### Bug Description
Depcheck detects itself and reports itself as not being used which is slightly amusing.

It also appears not to be counting instances of imports being used in JSX files.

[code]

### Code snippets
Where the dependency is used:

index.jsx:
[code]

Where the dependency is listed in package.json:
devDependencies
[code]

### Versions
 - `node -v`: 8.15.1
 - `npm -v`: 6.4.1
 - `depc

[2019-04-19 17:23] rumpl commented on #340
Hey,

Could gou give us the output of depcheck —json please?

Sent from mobile - please excuse tone and brevity

[2019-04-19 19:50] seantcanavan commented on #340
I can't share the JSON unfortunately due to the sensitive nature of the output. I've since run it again however and it's no longer detecting itself but still not finding references in JSX files it would seem. `Dropzone` is used in exactly one file and it's a `.jsx` file so that's why I'm assuming it's missing JSX files.

Is there a parameter I'm missing? I thought JSX files were supported.

[2019-04-22 15:09] daveisfera opened #341 "peerDepdencies of a used package not considered"
### Bug Description
A package that's only in `peerDependencies` of a used package is still marked as unused even though it really is used.

### Code snippets
Where the dependency is used:

[code]

Where the dependency is listed in package.json:

[code]

### Versions
 - `node -v`: v10.15.2
 - `npm -v`: 6.4.1
 - `depcheck --version`: 0.7.2

### Extra info
If you remove `jsdom` from `package.json`, t

[2019-04-22 15:20] rumpl commented on #341
Hey, I see that you created a test module, could you push it on github please?

You talk about `devDependencies` but in your package.json your deps are in `dependencies`, also I'm not sure which one is marked as unused, is it `jsdom` or `jsdom-global`?

[2019-04-22 15:22] daveisfera commented on #341
There's not anything more to add then what I included in the bug and I just realized that I had a typo in the original submission. I meant to write `peerDependencies` and accidentally wrote `devDependencies`. Here's the link to the code that's "causing the problem":
https://github.com/rstacruz/jsdom-global/blob/371c36a2b64a7c2d014260212cc1a22a6bd1de2b/package.json#L24

[2019-04-22 15:39] rumpl commented on #341
Understood, thanks for reporting this, we don’t look at peer dependencies, we should I gues

[2019-04-25 18:27] yashhshah commented on #338
Same problem here. We had a custom rule made in an internal module in the form of @mycompany/eslint-plugin-my-package-name, and depcheck sent out a false alert saying it cannot find module of the form eslint-plugin-@mycompany/my-package-name. We have temporarily fixed the issue by adding it to the ignore flag in our package.json

[2019-04-26 14:52] jrgleason opened #342 "Mocha registering as Unused even with --specials=mocha"
### Bug Description
When I try to run `depcheck ./ --specials=mocha` in a project where tests are ran like `mocha --delay --exit ./test/suite.js` I still get...

[code]

### Versions
 - `node -v`: v10.12.0
 - `npm -v`: 6.4.1
 - `depcheck --version`: 0.6.11

### Extra info

The --json command didn't do anything.

[2019-04-26 14:53] rumpl commented on #342
Hey, could you try with the lastest depcheck version please?

[2019-04-26 14:54] jrgleason commented on #342
That is difficult because my company regulates the versions we can use. Is there another issue that may explain this behavior?

[2019-04-26 15:00] rumpl commented on #342
Can you try and run `npx depcheck ....` ?

[2019-04-26 15:05] jrgleason commented on #342
Sure what should I put in the ...

[2019-04-26 15:09] jrgleason commented on #342
Also I have the following...

`import { MyObj } from "@me/project";

and I it is still showing up in the unused. BTW this is `--experimental-modules` using mjs files

[2019-04-26 15:17] jrgleason commented on #342
`"install:depCheck": "npx depcheck --specials=mocha"`

same result

[2019-04-26 15:22] jrgleason commented on #342
Also tried `--detectors=importDeclaration` but it didn't help. Are there special things you need for ES6?

[2019-04-26 15:24] rumpl commented on #342
Not really no

[2019-04-26 15:26] jrgleason commented on #342
I am using ESM not CommonJS FYI

[2019-04-26 15:29] rumpl commented on #342
Shouldn't be a problem

[2019-04-26 15:34] jrgleason commented on #342
Also tried this https://gist.github.com/jrgleason/07b867ba77d9766b87c6946a158bec56 then called with `"install:depCheck": "node --experimental-modules depcheck.mjs"` but still not working

[2019-04-26 15:34] jrgleason commented on #342
I will try to put together a simple example so I can share ASAP

[2019-04-26 15:36] jrgleason commented on #342
oops

[code]

helped a bit :-)

[2019-04-26 15:37] jrgleason commented on #342
But mocha is still not working

[2019-04-26 15:41] jrgleason commented on #342
This is how mocha is configured to use MJS

https://gist.github.com/jrgleason/83c30e6651b83a3521cb767a834f763a

[2019-04-26 17:06] jrgleason commented on #342
BTW for now

[code]

[2019-04-29 13:42] jrgleason commented on #342
Sorry still working on example. In the meantime webpack and babel appear to have issues too...

[code]

[code]

[2019-05-01 22:22] nikkop commented on #339
Anyone feel a need for this to be fixed?

[2019-05-06 21:00] KaboomFox commented on #340
Did you try adding ```specials: [
        depcheck.special.webpack
]```?

[2019-05-06 23:02] seantcanavan commented on #340
Where exactly would this argument be added to @KaboomFox ?

[2019-05-07 00:42] KaboomFox commented on #340
Try something like this ```const options = {
  parsers: { // the target parsers
    '*.js': depcheck.parser.es6,
    '*.jsx': depcheck.parser.jsx
  },
  specials: [ // the target special parsers
    depcheck.special.eslint,
    depcheck.special.webpack
  ],
};

depcheck('/path/to/your/project', options, (unused) => {
  console.log(unused.dependencies); // an array containing the unused dependencie

[2019-05-09 11:23] mzyil commented on #256
any updates on this?

[2019-05-09 11:37] rumpl commented on #256
@mzyil Not really no. Is your use case the same as @magillj ?

If not, could you tell me what is your use case?

[2019-05-09 18:05] rumpl commented on #256
So yeah, I have an update on this. OF COURSE SYMLINKS ARE A PITA ON WINDOWS!

😢

Will try to find a solution.

[2019-05-09 18:50] #256 closed

[2019-05-09 18:51] rumpl commented on #256
Done, will be available in the next release of depcheck.

Sorry it took so long, real life got in the way :)

Cheers

[2019-05-09 18:57] mzyil commented on #256
Thanks for the update! There is one more feature that we would like, will open another issue about that soon.

However may I suggest you make the following symlinks feature optional? Not our use case per se, but you may want to honor `NODE_PRESERVE_SYMLINKS` env var for example, in very rare cases one may have generated files in the repository that they don't care.

[2019-05-09 19:31] rumpl commented on #256
Oh, I didn't know about `NODE_PRESERVE_SYMLINKS`, you learn every day :)

Would you like to make a PR for this? This would be a great time to drop node 6 support too (`NODE_PRESERVE_SYMLINKS` was added in v7.1.0.

[2019-05-09 19:40] mzyil commented on #256
I'm planning to open a PR anyway, I will see what I can do

[2019-05-12 10:18] rumpl commented on #341
I'm going to close this one since [we already support and have a test for peer dependencies](https://github.com/depcheck/depcheck/tree/master/test/fake_modules/peer_dep).

If you still have problems please open a new issue with a reproducible repo.

Thanks

[2019-05-12 10:20] rumpl commented on #130
Is this still an issue?

I'm not even sure I understand what's going on to be honest.

[2019-05-12 10:23] rumpl commented on #339
I'm not really sure what's the best way of doing this. I'm personally not a fan of aliases...

The fix you propose is a partial fix because people define aliases as they want and don't use the scope when creating them...

[2019-05-12 13:48] dave-nm commented on #341
The file in the original comment reproduces the issue.

[2019-05-12 17:31] rumpl commented on #341
@dave-nm I just made a test with `jsdom` and `jsdom-global` ([see here](https://github.com/depcheck/depcheck/pull/348)), could you take a look and tell me if this is what you have? The test passes, jsdom is found as a dependency. There must be something else that is blocking depcheck. I am going to need you to tell me more about your setup if you want me to help you.

Cheers.

[2019-05-12 17:33] rumpl commented on #341
Keep in mind that, in order for peer dependencies to work, you need to do a `npm install` (or `yarn` or whatever).

If there are no `node_modules` where `depcheck` can read your depency `package.json` then depcheck can't read and check your peer dependencies.

[2019-05-13 20:10] nikkop commented on #339
@rumpl Hi, thanks for replying.

My proposal isn't tied to scoping packages, it would work on any package name.

I assume simply excluding the name of the package specified in `package.json` in the checks would be enough. It would help out us using aliases but not making any change for those not doing it. Don't you think? Anyway, you cannot have your package named something (arbitrary) and then in

[2019-05-13 23:19] KaboomFox opened #349 "Monorepo support?"
### Feature request description
I am wondering if we want to support monorepos out of the box. We could look for all package.json files.
### Code snippets (if applicable)

[code]

### Any extra info
 We could either just include this example in the docs or make it the default functionality. What do you think?

[2019-05-14 08:20] rumpl commented on #349
There is already [a discussion about yarn workspaces](https://github.com/depcheck/depcheck/issues/245).

I think that down the line depcheck should support yarn workspaces, but then it should also support lerna.

A couple of things about your code:
- we should get the list of packages from the root lerna.json or the root package.json
- we should think a little about the output when in a workspace,

[2019-05-14 10:09] benjie commented on #349
I suggest you only support mode 1. Typically mode 2 is only used for repo-wide tooling such as `lerna` itself, `eslint`, etc. Mode 2 is actually super dangerous to support if you're planning to publish to npm because it can hide the fact that dependencies are missing.

I don't think we need support for lerna; I use it with graphile-engine but I don't think depcheck would even need to know it exist

[2019-05-14 10:34] rumpl commented on #349
Agreed.

But whst about lerna without yarn workspaces?

[2019-05-14 12:06] benjie commented on #349
That's a separate feature, IMO, though it will likely have significant overlap.

[2019-05-14 16:15] daveisfera commented on #341
You're right. The issue was that my `node_modules` wasn't up to date and so the necessary `peerDependencies` info wasn't there.

[2019-05-14 16:15] #341 closed

[2019-05-14 17:40] rumpl commented on #341
Nice!

Thanks for updating the issue ^^

[2019-05-15 18:20] KaboomFox commented on #349
sounds like this isn't something we want to support. No problem.

[2019-05-15 18:20] #349 closed

[2019-05-15 21:23] rumpl commented on #349
Wait what, no! I mean yeah, we can close this one since it's a duplicate of #245 but we should support yarn workspaces, I'm OK if we support only the mode 1 that @benjie suggested.

[2019-05-15 21:24] rumpl commented on #349
I'm sorry if I wasn't clear enough, I was more thinking out loud.

[2019-05-16 10:26] LinusU commented on #339
I'm personally not a fan of aliasing as well. That being said, I think this is a neat solution that I could get behind 👍

[2019-05-16 18:53] GarrettGeorge commented on #194
The webpack regex looks for webpack files matching `/webpack(\..+)?\.config\.(babel\.)?js/`. If you're files don't match that regex then `--specials=webpack` does nothing.

[2019-05-20 17:14] GarrettGeorge opened #352 "ESLint parser not detected when listed in parserOptions.parser"
### Bug Description
ESLint parsers specified in `parserOptions.parser` are not read and listed under `Unused devDependencies`.

### Code snippets
Where the dependency is used:
See for details https://eslint.vuejs.org/user-guide/#usage
[code]

Where the dependency is listed in package.json:

[code]

### Versions
 - `node -v`: `10.15.3`
 - `npm -v`: `6.4.1`
 - `depcheck --version`: `0.0.8`

### Extr

[2019-05-21 12:11] daveisfera commented on #341
I just realized what the actual problem is. We're using [yarn workspaces](https://yarnpkg.com/en/docs/workspaces), so the `package.json` of the peer dependency is in the `node_modules` in the parent directory and `depcheck` isn't loading that info and that's why it's warning about an unused dependency that really is used.

[2019-05-24 23:02] jrnail23 opened #353 "Invalid files caused by flow type annotations?"
How do I get depcheck to properly handle files with flow type annotations in them?

[2019-05-25 12:12] #285 closed

[2019-05-27 11:28] rumpl commented on #353
Thanks for reporting this @jrnail23, indeed depcheck doesn't know how to parse flow annotations, we could just add the plugin for babel and make it work, will try to do something for this soon.

[2019-05-27 11:38] rumpl opened #354 "Obfuscate json output"
### Feature request description

We had multiple reports where the user can't give us the output of `depcheck --json` (see #340) because the output could give sensitive information. We could add a flag that would obfuscate the output of this command.

Example:
[code]

Basically, instead of writing out absolute paths and real file names we would name the files `a.js`, `b.js` etc.

We could also obf

[2019-06-12 20:28] 43081j commented on #352
Note that this is a vue-eslint-parser workaround, it isn't an option eslint supports.

It could still be added to depcheck but it would be solely for supporting the vue plugin, just FYI.

[2019-06-14 15:34] s-Hale opened #356 "False positive: React-select"
### Bug Description
Detects react-select as unused: we actually use it rather extensively.

### Code snippets
Where the dependency is used:

[code]

Where the dependency is listed in package.json:
[code]
It's in dependencies.

[2019-06-14 15:44] s-Hale opened #357 "False positive: autosuggest-highlight"
### Bug Description
Detects as unused, it isn't.

### Code snippets
Where the dependency is used:

[code]
Called a few lines later.

Where the dependency is listed in package.json:

[code]
Dependencies.

[2019-06-23 18:35] MattWThomas commented on #143
I still have this same issue in the current version

[2019-06-26 12:08] Zjaaspoer opened #359 "False positive when only importing typescript interfaces (so no runtime code) from a package"
### Bug Description
Only importing TypeScript interfaces (so no runtime code) provides false positives.

### Versions
 - `depcheck --version`: 0.8.1

### Extra info
It seems like the analysis is done on the compiled code and therefore won't know about the imported interfaces (as they are removed during compilation)?

[2019-06-26 12:14] #130 closed

[2019-06-26 12:15] rumpl commented on #359
Hey, thanks for reporting this, yes this is a known issue, the fix is to use the typescript parser and not babel for typescript files, will get to it as soon as I have some time.

I'll close this one since we already have a ticket for this #163

Cheers

[2019-06-26 12:15] #359 closed

[2019-06-26 12:29] Zjaaspoer commented on #359
ah ok, thanks, will track that ticket!

[2019-06-26 13:31] YerkoPalma opened #360 "Fails only in travis because of unused standard"
### Bug Description
Depcheck complaints about standard, but only happens in travis, manually running tests works locally.

**local tests**
![image](https://user-images.githubusercontent.com/5105812/60145808-3d8bbc80-9795-11e9-8da8-a34fbfee7d7c.png)

**travis tetst**
![image](https://user-images.githubusercontent.com/5105812/60183357-24febf00-97f4-11e9-957d-e57d9837c51c.png)

### Code snippets
I'm

[2019-06-26 14:02] rumpl commented on #360
Hi, thanks for reporting this!

Something is odd indeed. If a do a `npm ci` (like travis) I get the error, but there is no error if I do a `npm install` will look more.

Cheers

[2019-06-28 18:39] seantcanavan commented on #340
Sorry I know it's been a long time. Thanks so much to @KaboomFox for getting me this far.

I tried running it with `npm install -g depcheck` and creating `depcheck.js` with her code snippet but got an error saying `depcheck` was missing so I just added it to the `package.json` file and did `const depcheck = require("depcheck")` at the top of the `depcheck.js` file I made.

I had to add a couple in

[2019-06-28 18:53] rumpl commented on #340
@seantcanavan please don’t apologize, we are here to help and try to make depcheck work for you :)
It’s the evening in Europe, I’ll take a closer look tomorrow.

[2019-07-01 16:48] tiagoppinho opened #361 "False alert on vue-click-outside"
There is a false alert of unused dependency when using [vue-click-outside](https://www.npmjs.com/package/vue-click-outside).

**Usage**
[code]

**Depcheck json output**
[code]

[2019-07-01 18:43] rumpl commented on #361
Thanks for reporting this, could you paster the *whole* output of depcheck json?

Even better, if this is an open source project could you give us the link?

If not, would it be possible for you to make a small repo that reproduces this error? When dealing with things like webpack, vue and others it's usually a problem with configuration files that depcheck can't read.

Cheers.

[2019-07-01 20:08] tiagoppinho commented on #361
Well, you can see the project itself and test it!

Here is the [project](https://github.com/ist-dsi/fenixedu-id-cards), to test the depcheck you will have to go to the Frontend component available at `src/main/frontend`.

Cheers.

[2019-07-01 20:37] rumpl commented on #361
Nice! Gotta love open source! :)

[2019-07-02 19:29] rumpl commented on #361
@tiagoppinho This is hopefully fixed with my PR, will release a new version and you can tell me if it fixes stuff for you.

Cheers!

[2019-07-02 19:37] tiagoppinho commented on #361
@rumpl Thanks! Will update this issue once that PR gets merged and I test it on the project.

[2019-07-03 08:25] rumpl commented on #361
I just pushed the 0.8.2 tag, it will soon be available on npm

[2019-07-03 14:13] tiagoppinho commented on #361
After testing it on the project I think this issue is resolved. If I see some other problem I'll report it creating another issue.

Thanks!

[2019-07-03 14:14] #361 closed

[2019-07-09 07:40] jrnail23 commented on #353
@rumpl, FYI, I tried your suggestion by the existing jsx parser and adding `flow` and `flowComments`, and it seems to have worked for me.  I can create a PR for that if you like (I assume you'd want it in both the jsx and the es7 parsers, right?).

[2019-07-09 07:42] rumpl commented on #353
Great! Sure go ahead, I would gladly merge this :)

Thanks!

[2019-07-09 08:58] jrnail23 commented on #353
@rumpl, the PR is up, ready for your review :-)

[2019-07-09 09:06] #353 closed

[2019-07-09 09:07] rumpl commented on #353
Aaand merged! :)

Do you want me to publish a new release?

[2019-07-09 09:09] jrnail23 commented on #353
@rumpl, yes please!  sorry, I didn't see this reply before mentioning the new version in my PR comments.
:-D

[2019-07-09 09:11] rumpl commented on #353
I just pushed the 0.8.3 tag, it will be up on npm as soon as the tests pass

Cheers

[2019-07-09 09:14] jrnail23 commented on #353
Thanks!

[2019-07-10 16:07] jrnail23 opened #380 "Parse imports in *.less files"
### Feature request description
Parse imports in *.less files

### Any extra info
I'll probably submit a PR myself for this, but I wanted to get it on the radar.

[2019-07-19 18:23] MagnusBrzenk opened #400 "Request: more explicit webpack control and usage documentation"
### Feature request description
- Enable one to specify their webpack config file explicitly
- AND/OR improve documentation (which doesn't describe *how* the webpack-specials option works)

In my case, my webpack-config files are organized like so:

[code]

... so, naturally, I'd want depcheck to look into my `webpacking/webpack.*.config.ts` files for loaders. At the moment, if I run `depcheck --s

[2019-07-19 20:52] rumpl commented on #400
Hey @MagnusBrzenk

Thanks for reporting this. I agree, we need a better way for users to help depcheck find the configuration files. My thinking was that this could be done with a depcheckrc file or similar.

Will try to find the time to look at this

Cheers

[2019-07-22 09:51] sarthak-gp opened #401 "false report on dependency"
i see a lot of mistakes in the dependency report generated from depcheck.

[2019-07-22 12:59] LinusU commented on #401
Your issue doesn't contain anything actionable for us. Can you provide which packages are marked incorrectly, and how they are marked?

[2019-07-22 13:07] sarthak-gp commented on #401
The angular core dependencies and bootstrap are also coming up in the
report, which obviously shouldn't be the case.

On Mon, Jul 22, 2019, 6:29 PM Linus Unnebäck <notifications@github.com>
wrote:

[2019-07-22 15:09] LinusU commented on #401
Can you please post your `package.json` and the output from the tool?

[2019-07-23 23:25] MagnusBrzenk commented on #400
Thanks. My feeling is that a config file is overkill for a tool like `depcheck`. If the command gets long then one could always put it in a shell script.

[2019-07-24 09:00] JerryGreen opened #402 "Typescript @types false positive"
### Bug Description
All the `@types/*` libraries in devDependencies are counted as "unused".

### How it should work

`depcheck` should look into `dependencies` list and see if there's a library for that. For example:

I have added following packages to `devDependencies`:

* @types/ramda
* @types/react
* @types/react-dom
* @types/styled-components
* @types/whatwg-fetch

And I have the following pa

[2019-07-25 07:11] idan-at opened #403 "eslint-plugin-depcheck"
Hey!
Have you ever considered creating an eslint plugin that uses depcheck?
can be useful to add it on lint step instead of another step.

I guess it will have a single rule that enforces dependencies+devDependencies, and some options to reflect the command line arguments it currently receives.

wdyt?

[2019-07-26 08:08] lijunle commented on #403
Parts of the depcheck is covered by this eslint plugin:
https://www.npmjs.com/package/eslint-plugin-import

Idan Attias <notifications@github.com> 于 2019年7月25日周四 00:11写道：

[2019-07-26 14:22] sfuerte opened #404 "False positive: eslint-config-eslint:all"
[code]

Have the following in `package.json`:
[code]

### Versions
 - `node -v`: v12.7.0
 - `npm -v`: 6.10.0
 - `depcheck --version`: 0.8.2

[2019-07-28 07:26] idan-at commented on #403
I want to enforce that all modules written in my package.json (either `dependencies` or `devDependencies`) are used.
which rule should I use?

[2019-07-28 18:54] lijunle commented on #403
This is not covered by any eslint rule. It is a rule of depcheck -
understand how each dependency in package.json are used. Maybe @rumpl has
some ideas.

Idan Attias <notifications@github.com> 于 2019年7月28日周日 00:26写道：

[2019-07-31 02:18] KaboomFox commented on #402
what is depcheck command you are running? How are the types packages imported?

[2019-07-31 05:43] JerryGreen commented on #402
@KaboomFox looks like you don’t understand the concept of DefinitelyTyped. Let me explain: it’s not used anywhere in the project code. It’s used by TypeScript server (for TypeScript compiler and IDEs). It’s needed so the libraries which don’t have types still may define its types from external packages.

So if I have library X without types, I may install @types/X - and types are there (no additio

[2019-07-31 07:43] rumpl commented on #402
This is a known issue (#163 ), we will get to it time permitting.

[2019-07-31 07:43] #402 closed

[2019-08-05 00:53] shacoshe opened #405 "show react jsx file by"
### Feature request description
A description of the feature request

### Code snippets (if applicable)
How the dependency is used (if applicable):

[code]

How the dependency is listed in package.json (if applicable):

[code]

### Any extra info
Anything else you want to include. Thank you for your input!

[2019-08-05 09:49] rumpl commented on #405
What?

[2019-08-05 09:49] #405 closed

[2019-08-08 18:37] heatherbooker commented on #211
Is there a way to run it and tell it only to check a max number of modules, so we can run it a couple times manually and get the benefits? ><

[2019-08-08 20:07] mrbobfrog opened #407 "option --json changes return status"
### Bug Description
On a code base, when I run `depcheck <project> --json` it changes the return status (returns zero on unused or missing dependencies). FYI `depcheck <project>` returns non-zero.

### Code snippets
Where the dependency is used:

[code]

Where the dependency is listed in package.json:

[code]

### Versions
 - `node -v`: v10.16.0
 - `npm -v`: 6.10.3
 - `depcheck --version`: 0.8.3

[2019-08-10 18:27] Urik opened #409 "Load ignore rules from a lines separated file"
### Feature request description
Would be very nice being able to load ignore rules from a lines separated file in addition to the "--ignores" flag.
This would make it possible to source control the ignores rules, and simplify CI pipelines.

### Any extra info
Already have a PR for this feature:
https://github.com/depcheck/depcheck/pull/408

[2019-08-13 17:36] christopherjbaker opened #410 "Github dependencies not recursing?"
### Bug Description
I have installed a dependency from github, which in turn has installed its own dependencies. The problem is that all of those show up as `Unused dependencies` in depcheck. =[

### Code snippets
This particular package is only used as a bin by executing a command inside else, never required, so I did have to add it to my `ignores`, but the others all still show up too.

Where th

[2019-08-13 20:41] KaboomFox commented on #404
This should be fixed in the next release

[2019-08-15 19:58] christopherjbaker commented on #410
Nevermind. I had installed a number of those packages because I was going to join them into a singel repo, then decided to keep them separate but didn't uninstall those packages. My bad.

[2019-08-15 19:58] #410 closed

[2019-08-16 19:38] r3wt opened #411 "beware of false positives when using autoloaders"
### Bug Description
I have an autoloader library called `express-mongoose-helper` (available as package from npm). basically you give it a directory and it loads all javascript files and captures all the mongoose models, placing them as a properties of the express app eg `app.model.User` and so on and so forth.

In my project(s), this package loads a directory called `models`, and its important to

[2019-08-19 17:05] csdfgraham commented on #211
export NODE_OPTIONS=--max_old_space_size=4096 didn't work, just get "killed" nothing in the logs whatsoever on fedora 30

[2019-08-20 10:54] AbdulHannan96 opened #412 "False Alert for "fs""
fs node package false alert in my task. I am using fs in many lines for handling files but depcheck marks it as unused which is quite surprising.

[2019-08-20 10:58] rumpl commented on #412
Do you define fs as a dependecy in your package.json?

[2019-08-20 10:59] rumpl commented on #412
“fs” is a core node module and shouldn’t be added in the package.json file

[2019-08-20 11:27] AbdulHannan96 commented on #412
yeah It is defined in my package.json. I am new at using node and typescript so I was not aware of this. Even if it should not be there, why is depcheck pointing it out as an unused dependency ?

[2019-08-20 12:14] LinusU commented on #412
Because when you are doing `require('fs')` you are not requiring that package, but rather the built-in `fs` package. Thus the package installed to `node_modules/fs` is, in fact, unused ☺️

[2019-08-20 12:21] rumpl commented on #412
We should maybe have a more explicit error message for the core modules...

I'm closing this one

Cheers

[2019-08-20 12:21] #412 closed

[2019-08-21 18:30] jehon commented on #249
The need of support for .mjs extensions is a start, but sometimes, .js files are also modules.
See here: https://nodejs.org/dist/latest-v12.x/docs/api/esm.html about the "type: module" flag in the package.json.

[2019-08-23 21:01] sfuerte opened #413 "Recognize Babel plugins and env presets"
Have the following in the `package.json`:

[code]

they are not imported in a standard way but rather expand environment functionality. Hence, `depcheck` shows warnings:
[code]

[2019-08-25 12:47] idan-at commented on #403
Found this discussion on `eslint-plugin-import`: https://github.com/benmosher/eslint-plugin-import/issues/877, which talks exactly about that.

[2019-08-26 20:39] dave-nm opened #414 "Incorrect unused dependencies in react-ace"
### Bug Description
Run `depcheck` on the code for [`react-ace`](https://github.com/securingsincity/react-ace) and it says that the following is unused even though they are used:
[code]

### Code snippets
Where the dependency is used:
https://github.com/securingsincity/react-ace

Where the dependency is listed in package.json:
`dependencies`

### Versions
 - `node -v`: v10.16.3
 - `npm -v`: 6.9.0

[2019-08-26 20:46] rumpl commented on #414
Hey @dave-nm, what version of depcheck are you using ?
I just cloned react-ace and ran depcheck on it and I get:

[code]

[2019-08-26 20:55] rumpl commented on #414
I cloned and did an `npm install`, and then did a simple `npx depcheck`.

If you don't mind, could you do the same and also add the output with `--json`?

Thanks!

[2019-08-26 21:02] rumpl commented on #414
Event with 0.8.3?

Hm...

Mistery

[2019-08-28 00:20] joshuambg opened #416 "readme.md missing instructions"
### Bug Description
[code]
Nothing happens?
[code]
Now it works. Why does the node_modules folder have to be removed? If that's a requirement it should be specified in the readme.

### Versions
 - `node -v`: v10.16.0
 - `npm -v`: 6.9.0
 - `depcheck --version`: 0.8.3

[2019-09-19 11:56] mzyil opened #420 "Depcheck should only process files that are relevant to depcheck"
### Bug Description
depcheck processes irrlevant files too, there is not any filter about it.

For example huge irreleavant files and then gives an error complaining their size. It should not read them at all.

In our case when there is a core dump file about 2 GBs depcheck starts reading that file and the operating system (Ub 18) kills it (it writes `Killed`) because of it's memory usage. I guess

[2019-09-19 16:40] conartist6 opened #421 "False alert: dep imported in d.ts file"
My project contains `.js` files coupled with their typescript typedefs in `.d.ts` files. I'm running
[code]

I'd think this would work since the usages in the d.ts files are just normal es import statements. The only unusual thing about the contents of a d.ts file are that they contain the `declare` keyword.

[2019-09-19 17:03] conartist6 commented on #421
Ah yes, this is also because you are transpiling to sources instead of checking the typescript itself. There's a highly relevant comment [here](https://github.com/depcheck/depcheck/issues/359#issuecomment-505849355) but it leaves me at a bit of a loss.

For one, the referenced issue, #163, is pretty decidedly a different problem. An `@types/foo` package is consumed when `foo` is imported or requir

[2019-09-20 07:47] mzyil commented on #420
It would be a better solution if there were an option to process only certain file extensions.

[2019-09-20 17:39] conartist6 commented on #163
I've opened a PR that would fix this. If people here could chip in a review perhaps it would speed the process of getting it shipped.

[2019-10-06 19:59] aneesshameed opened #423 "body-parser"
Why does depcheck alert false, saying that body-parser is not installed while express installs it as a dependency?

[2019-10-10 10:23] Mirmidon opened #425 "depcheck false alert (svg-sprite-loader, svgo-loader)"
svg-sprite-loader and svgo-loader dependencies is being used
but depcheck  reported them as unused.

[2019-10-10 10:51] rumpl commented on #425
@Mirmidon please use the template provided when creating an issue, as is I don't have enough information to help you.

Thanks

[2019-10-10 10:51] #425 closed

[2019-10-10 17:31] vikas2future opened #426 "Does not provide valid results if the angular app is build with Nrwl"
### Bug Description
When i run a depcheck against an angular app built using nrwl (https://nx.dev/angular) , it does not indentify the dependencies correctly

Nrwl is based on the concept of monorepos , where you can have multiple apps referring to multiple libs. This will enable us to share more code amongst the apps.

Issue:  depcheck utility is unable to find the libraries that an app is depend

[2019-10-11 14:39] vincentschroeder opened #427 "Doesn't find dependencies in dust templates"
Example code
```{@inline src="node_modules/xyz" /}```

[2019-10-16 20:09] pushred commented on #245
Another Lerna workaround (approach probably works for Workspaces as well):

- Create a npm script in each package that points to a root-level depcheck install, e.g.

[code]

- `npx lerna run depcheck --no-bail`

The output is separated by package, unlike `exec`

[code]

[2019-10-17 03:39] twk-b opened #428 "12x more useful if Missing dependencies includes the file it was found it"
### Feature request description
i have a list of Missing dependencies, and i want to know what should be investigated, excluded, or otherwise

### Expected output
$ depcheck
Missing dependencies
fred: ./src/yourfile.js line 4
james: ./dist/whocars.js line 29,999

### Any extra info
pure awesome

[2019-10-17 08:06] LinusU commented on #428
That would be nice 👍

[2019-10-27 21:32] #421 closed

[2019-10-27 21:32] #163 closed

[2019-10-28 20:34] rumpl commented on #428
@twk-b Wanna do it? It sure could be 12x (at least) more useful!

[2019-10-28 20:35] rumpl opened #431 "Use prettier"
We need prettier in our lives.

[2019-10-28 21:02] rumpl commented on #423
@aneesshameed could you please give me more info, the template had all the information that we need to help you :
[code]
code snippet here
[code]
package.json snippet here
please include the section name (e.g. devDependencies, dependencies)
[code]

[2019-10-28 21:06] rumpl commented on #416
Hey @joshuambg

It's indeed weird that depcheck doesn't say anything, at least it should say: `No depcheck issue`.

Could you rerun it like this: `decheck --json` and give me the output.

[2019-10-28 21:07] rumpl commented on #427
Hey @vincentschroeder

Could you give me more info, like what's `dust`?

[2019-10-28 21:08] #401 closed

[2019-10-29 20:56] aneesshameed commented on #423
Sorry, this was opened by mistake, I then read the documentation a few more times. My mistake, sorry

[2019-10-29 20:56] #423 closed

[2019-10-29 21:02] rumpl commented on #423
Cool!

If you have any ideas as to how we could make the documentation better, feel free to tell us :)

[2019-10-29 21:52] twk-b commented on #428
[428.diff.txt](https://github.com/depcheck/depcheck/files/3785968/428.diff.txt)

* doesnt have line counts
* syntax loads in VScode to load correct file
* shows relative path

[2019-10-30 14:35] twk-b opened #434 "check packages for: final socre, maintainers, liecense, hasTests, downloads, deps, popularity, maintenance"
### Feature request description
when checking deps in package.json

I care about:

* number of maintainers
* License
* npm scores
    * final score (npm)
    * popularity
    * maintenance
* maintainers
* hasTestScripts - if package.json has npm run test configured properly
* number of downloads
* number of deps that package has
* number of dependents
* test no engines.node require higher then pac

[2019-10-30 16:42] twk-b commented on #434
to me this is the next level of checks that need to be done on deps so it belongs here.

I think lots of devs have similar second level tests they are running, centralizing those would be good.

* stale / last updated should totally be on the list (online/audit)
* testing for licenses - many companies need this (offline)
* engine would be a nice addition 8,10,12,13 (offline)

depcheck is used in t

[2019-10-30 16:48] twk-b opened #435 "should be devDeps warnings for common dev deps (eslint* depcheck, jest, etc)"
### Feature request description

some packages should almost never be in dependencies, only in devDependencies:
examples:

* depcheck
* eslint
* eslint-plugin-node

### Code snippets (if applicable)
[code]

package.json
[code]

output:
warn: eslint-plugin-node: is likely a devDepencendies

[2019-10-31 08:39] sveyret opened #436 "Node modules may be in parent directories"
### Bug Description
When using the `bin` special parser, the binary module is only looked in current project `node_modules` folder. But actually, node may also search the module in parent folders. See https://nodejs.org/api/modules.html#modules_loading_from_node_modules_folders

This feature is especially mostly used by yarn workspaces or lerna monorepo.

### Versions
 - `node -v`: any
 - `npm -v`

[2019-10-31 09:01] sveyret opened #438 "False alert: TypeScript import type not detected"
### Bug Description
Since TypeScript 2.9, it is possible to import only types from a module. See https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-9.html#import-types
These imports are not detected and therefore are creating false alerts.

### Code snippets
Where the dependency is used:

[code]

Where the dependency is listed in package.json:

[code]

### Versions
 - `node -v

[2019-10-31 09:22] mt-rory opened #440 "Incorrect unused dependencies"
### Bug Description
With v0.8.4, got unused dependencies but these packages are actually used in code.
But with v0.8.3, we don't get the list of unused dependencies and it's working fine.
### Code snippets
Where the dependency is used:

[code]

Where the dependency is listed in package.json:

[code]

### Versions
 - `node -v`: v12.13.0
 - `npm -v`: 6.12.0
 - `depcheck --version`: 0.8.4

### Extra

[2019-10-31 09:44] grit96 opened #441 "False positives when using multiple package.json files"
### Bug Description

When using multiple `package.json` files in folders of a project `depcheck` cannot properly check imports within those folders.

I am using multiple `package.json` files to achieve absolute import paths (because [`babel-plugin-module-resolver` doesn't work well with `react-native`](https://github.com/tleunen/babel-plugin-module-resolver/issues/332)).

- I have my main `package

[2019-10-31 10:23] rumpl commented on #440
Hey @mt-rory thanks for reporting this,

If I understand correctly you are not using the depcheck cli but are calling it from your code right?

Would it be possible to have a minimal reproducible repo with this error? I'm afraid I don't have enough information

[2019-10-31 10:46] rumpl commented on #441
Hi @grit96 thanks for reporting this.

To be honest I don't think I'll work on this. It's a hack for making some babel plugin work, it would be better if the babel plugin fixed this issue so that you don't have to create random pakage.json files in your project.

[2019-10-31 10:47] rumpl commented on #438
There is another PR that was merged for better TS support (#422), it's not perfect yet, needs more work. I'll take a look at yours soon

[2019-10-31 11:42] sveyret commented on #438
Thank you @rumpl.
I already use v0.8.4, which, if I am not mistaken, includes PR #422. It does not correct the issue mentioned here.

[2019-10-31 12:27] #428 closed

[2019-10-31 20:59] sveyret opened #444 "TypeScript: false positive for node built-in module types"
### Bug Description
In TypeScript, when using built-in modules, we can import the typing definition named `@types/node`. Unlike other `@types` imports, this one does not use the module name, it is a single typing module for all built-in modules.
For that reason, this typing module is not detected as used.

### Code snippets
Where the dependency is used:

[code]

Where the dependency is listed in p

[2019-11-01 12:00] rumpl commented on #444
PR merged, closing this thanks

[2019-11-01 12:00] #444 closed

[2019-11-01 12:30] sveyret commented on #246
FI, I'm currently working on this…

[2019-11-01 17:19] sveyret opened #446 "special/webpack: entries should also be scanned"
### Bug Description
In the `entry` section of webpack configuration, we may also specify dependencies which should be scanned. It is the case, for example, of the @babel/polyfill, of special fonts, etc.

### Code snippets
Where the dependency is used:

[code]

Where the dependency is listed in package.json:

[code]

### Versions
 - `node -v`: v8.12.0
 - `npm -v`: 6.4.1
 - `depcheck --version`: 0.8

[2019-11-01 19:43] sveyret opened #448 "special/webpack: babel-loader presets are not detected"
### Bug Description
When a babel preset is used in webpack configuration file, it is not detected as a dependency.

### Code snippets
Where the dependency is used:

[code]

Where the dependency is listed in package.json:

[code]

### Versions
 - `node -v`: v8.12.0
 - `npm -v`: 6.4.1
 - `depcheck --version`: 0.8.4

### Extra info
Currently  creating a PR for that.

[2019-11-01 21:33] #446 closed

[2019-11-01 21:34] rumpl commented on #246
Closed with #449

[2019-11-01 21:34] rumpl commented on #446
Closed with #449

[2019-11-01 21:34] rumpl commented on #448
Closed with #449

[2019-11-01 21:34] #448 closed

[2019-11-01 21:53] rumpl commented on #436
Closed by #437

[2019-11-01 21:53] #436 closed

[2019-11-01 22:18] rumpl commented on #438
Closed by #445

[2019-11-01 22:18] #438 closed

[2019-11-01 22:26] sveyret commented on #246
Should we re-open this one because of the `ts-node` requisite? Or simply add a comment in any document?

[2019-11-01 22:30] rumpl commented on #246
Yeah, I'll reopen it, so that I don't search why:

The regex for webpack configuration was changed to accept .ts files but we can only require this kind of file if depcheck is used as a library with a ts-node runtime.

For this to trully work we need a way to be able to load .ts configuration files. This will surely mean that we need to depend on typescript directly, which I don't mind that much.

[2019-11-02 00:16] VincentLanglet commented on #315
This still should be fixed

[2019-11-02 00:16] VincentLanglet commented on #317
This still should be fixed

[2019-11-02 00:16] VincentLanglet commented on #314
This still should be fixed

[2019-11-02 01:28] stevenvachon commented on #303
@rumpl Not at this time. I'm not currently using this anywhere.

[2019-11-02 02:45] dpmott commented on #209
If anyone has a suggestion of how best to fix this, I could start working on putting together a pull request as early as next week.

[2019-11-02 03:09] travi commented on #209
ive been using actual `require` in my manifests lately so that i can use webpack to bundle the server, so i dont this issue applies anymore with that approach

[2019-11-02 07:46] ktalebian commented on #189
@rumpl any update on this?

[2019-11-02 10:52] rumpl commented on #189
@ktalebian There were some updates with the typescript parser, depcheck will now correctly take into account the types. Try it with 0.9.0

I'll close this one, if there is still a problem, feel free to open a new issue.

Thanks