[2019-11-02 10:59] Berkmann18 commented on #251
@rumpl Did that answer your question?

[2019-11-02 11:05] rumpl commented on #317
Hey @VincentLanglet from your example I don't see where the 3 dependencies are used in your code, could you update it?

[2019-11-02 11:08] rumpl commented on #251
@Berkmann18 the other issue is an issue about monorepos, for this one, I gues that we can say it's unneeded but this would be very low on my list of things to do.

[2019-11-02 11:18] rumpl commented on #209
@dpmott this would need a new detector, similar to the one we use to detect [calls to require](https://github.com/depcheck/depcheck/blob/master/src/detector/requireCallExpression.js).

This detector would be more complicated since you will have to find the value of the manifest, the require detector only detects calls to require like `require('react')` and not things like

[code]

[2019-11-02 11:43] rumpl commented on #314
Could you check with the latest depcheck please, I just added a testcase and it seems to work.

Thanks

[2019-11-02 12:07] #315 closed

[2019-11-02 12:08] rumpl commented on #315
Fixed, merged, will be available in the next release

Thank you for your patience.

[2019-11-02 12:09] rumpl commented on #315
@VincentLanglet if you want, you can make the PR to DefinitelyTyped once I release this

[2019-11-02 12:27] VincentLanglet commented on #314
I got unused with
[code]

But i got unused too for
[code]

This is maybe related.

I do have `.prettierrc` in my project

[2019-11-02 12:31] rumpl commented on #314
And `tslint-plugin-prettier` is used in `rulesDirectory`?

[2019-11-02 12:32] VincentLanglet commented on #314
`cat tslint.json` returns
[code]

[2019-11-02 12:34] VincentLanglet opened #455 "False positive for postinstall-postinstall"
### Bug Description
This library https://github.com/ds300/postinstall-postinstall#readme is not detected by `depcheck`.

### Code snippets
`cat package.json`

[code]

[2019-11-02 12:42] rumpl commented on #314
Would it be possible to create a minimal repo that reproduces this bug please? That would be immensely helpful

[2019-11-02 12:49] VincentLanglet commented on #314
https://github.com/VincentLanglet/testDepcheck

[2019-11-02 12:49] rumpl commented on #314
Awesome, thanks!

[2019-11-02 12:53] VincentLanglet commented on #317
This is a monorepository now, so the librairies are
[code]

In the config
[code]

The key `mutator` is for the dependency `@stryker-mutator/typescript`, there is also a javascript or a vue mutator.
The value `html` for the key `reporters` is for the `@stryker-mutator/html-reporter`.
The key `testRunner` is for the dependency `@stryker-mutator/jest-runner`, there is also jasmine, karma, mocha, ...

[2019-11-02 12:56] VincentLanglet commented on #315
@rumpl I can, (and will do the same for lint-staged).

What about including the types in this project ?
The file https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/depcheck/index.d.ts is not big, the update would be easier.

[2019-11-02 12:58] rumpl commented on #315
Yeah sure, we can include it, I have no idea how that works, we just publish depcheck with this .d.ts file and we are good to go?

[2019-11-02 13:05] Berkmann18 commented on #251
Fair enough.

[2019-11-02 13:24] rumpl commented on #314
It's soooo much easier to debug with a real repo...

[2019-11-02 13:27] #314 closed

[2019-11-02 13:27] rumpl commented on #314
Fixed, thanks!

[2019-11-02 13:28] sveyret commented on #246
@rumpl did you receive my e-mail? I sent it to you GMail account from a personal server, and I know that GMail is sometimes touchy about personal servers, and so may put e-mails in spams.

[2019-11-02 13:30] rumpl commented on #246
Just saw it, the email I have on github is an email that I don't look every day, will respond today, have to clean up my appartment now :)

[2019-11-02 13:31] VincentLanglet commented on #315
@rumpl I think this (https://github.com/depcheck/depcheck/pull/458) is enough

[2019-11-02 14:32] sveyret commented on #245
Could the PR #437 solve your problems?

[2019-11-02 14:46] VincentLanglet commented on #435
I don't see this like a good feature because the 'should be devDependency' list may be subjective.

You said `almost`. False warning is bad.

[2019-11-02 15:50] VincentLanglet commented on #434
I think this could be a great feature, but this should be another package.
This is clearly not the same behaviour to parse all the files to find if the dependency is use, and to check online if the dependencies are still alive.

[2019-11-02 16:00] VincentLanglet commented on #131
It should be time to bump a major version

[2019-11-02 16:09] rumpl commented on #131
Next one then, I wanted to add a bunch of stuff before going 1.0 but I guess after 6 years we can say that it is time

[2019-11-02 16:18] VincentLanglet opened #460 "False positive depcheck"
Depcheck is reporting himself as unused dependency.

[2019-11-02 16:28] VincentLanglet commented on #409
This would be great

[2019-11-02 16:54] VincentLanglet commented on #404
@rumpl This can be closed

[2019-11-02 17:04] jakeleventhal commented on #257
This is still an issue!

[2019-11-02 17:25] rumpl commented on #257
👍

[2019-11-02 17:26] rumpl commented on #404
Woop woop

[2019-11-02 17:26] #404 closed

[2019-11-02 17:29] rumpl commented on #460
Need more info please

[2019-11-02 20:00] ktalebian opened #461 "Packages used inside package.json are not detected"
I'm using [husky](https://github.com/typicode/husky), but when I run `depcheck` it doesn't recognize `husky` and labels it as unused:

[code]

Same goes for `ts-node` that I use as `"test": "nyc mocha -r ts-node/register $(find test -name '*.ts')",`

`depcheck` does not complain about `nyc` being unused but also does not detect it as missing if I do not install it. Looks like packages that are use

[2019-11-02 20:04] ktalebian opened #462 "Core packages are labeled as unused"
I have packages `fs, path, util` that I use in my code defined in my dependencies, but `depcheck` always says these are unused packages:

[code]

Why is that?

[2019-11-02 20:10] rumpl commented on #461
Hey @ktalebian

Husky detection landed today! https://github.com/depcheck/depcheck/pull/453

It will be available in the next release, sometimes next week.

[2019-11-02 20:10] #461 closed

[2019-11-02 20:11] rumpl commented on #462
Hey,

fs, path and util are builtin modules in node, there is no need to add them as dependencies, you can safely remove them from your package.json

Cheers

[2019-11-02 20:11] #462 closed

[2019-11-02 20:13] rumpl commented on #461
Could you open a new issue for ts-node, nyc please?

[2019-11-02 21:44] VincentLanglet commented on #460
If you run yarn add depcheck and yarn depcheck, it reports depcheck as unused. But I’am using it with my command...

[2019-11-03 09:44] VincentLanglet commented on #150
@rumpl This can be closed c.f. https://github.com/depcheck/depcheck/blob/master/src/special/eslint.js

[2019-11-03 09:51] VincentLanglet commented on #200
@rumpl This issue can be closed thanks to this PR https://github.com/depcheck/depcheck/pull/358

[2019-11-03 09:52] VincentLanglet commented on #460
Oh, it seems adding this
[code]
in the `package.json` fixed the issue.

The strategy for the binary is not optimal

[2019-11-03 09:58] VincentLanglet commented on #239
@rumpl This issue is fixed, I just tested it
Fixed by https://github.com/depcheck/depcheck/pull/309

[2019-11-03 10:00] VincentLanglet commented on #431
@rumpl I can do it if you want

[2019-11-03 13:03] rumpl commented on #239
Go ahead yeah. Thanks!

[2019-11-03 13:03] #239 closed

[2019-11-03 13:04] rumpl commented on #431
👍

[2019-11-03 13:05] rumpl commented on #200
Thank you for your work ^^

[2019-11-03 13:05] #200 closed

[2019-11-03 13:06] #150 closed

[2019-11-03 14:14] shorif2000 commented on #413
+1

[2019-11-03 16:02] VincentLanglet commented on #431
@rumpl https://github.com/depcheck/depcheck/pull/463

[2019-11-03 16:11] VincentLanglet commented on #330
This is still a bug @rumpl, I can't add prettier because of it (https://github.com/depcheck/depcheck/pull/463)

[2019-11-03 16:13] VincentLanglet commented on #320
@rumpl Duplicate of https://github.com/depcheck/depcheck/issues/261

[2019-11-03 18:04] #320 closed

[2019-11-03 18:29] #330 closed

[2019-11-03 18:38] #441 closed

[2019-11-03 18:41] rumpl commented on #460
When you add those lines in your package.json it tells depcheck that you will use that dependency when running some npm command. If you add a dependency that is used as a binary but you don't add it anywhere then there is no way for us to know if it's used or not, I prefer to say that it isn't. I mean they could have some script somewhere that does something like `./node_modules/.bin/depcehck` to

[2019-11-03 18:41] #431 closed

[2019-11-03 18:59] rumpl commented on #414
not stale

[2019-11-03 19:00] rumpl commented on #411
Thanks for sharing

[2019-11-03 19:00] #411 closed

[2019-11-03 19:06] rumpl commented on #407
@mrbobfrog Thanks for reporting this, will be fixed in the next release, see #465

[2019-11-03 19:08] rumpl commented on #400
Well I didn't have the time yet to work on this but really want to

[2019-11-03 19:26] rumpl commented on #138
None yet, gotta take a look a it

[2019-11-03 19:27] #407 closed

[2019-11-03 19:29] rumpl commented on #144
not stale

[2019-11-03 19:32] rumpl commented on #162
not stale

[2019-11-03 19:35] rumpl commented on #183
not stale

[2019-11-03 19:39] rumpl commented on #231
not stale

[2019-11-03 19:40] rumpl commented on #236
not stale

[2019-11-03 19:41] rumpl commented on #237
not stale

[2019-11-03 19:41] rumpl commented on #238
@Milad could you recheck with the latest depcheck please?

[2019-11-03 19:42] rumpl commented on #249
not stale

[2019-11-03 19:43] rumpl commented on #260
not stale

[2019-11-03 19:44] rumpl commented on #261
not stale

[2019-11-03 19:45] #292 closed

[2019-11-03 19:45] rumpl commented on #292
This was fixed

[2019-11-03 19:46] rumpl commented on #308
not stale haha

[2019-11-03 19:46] rumpl commented on #310
not stale

[2019-11-03 19:51] rumpl commented on #312
@vesper8 could you check with latest depcheck? There were some bugfixes lately

[2019-11-03 19:51] rumpl commented on #319
not stale

[2019-11-03 19:53] rumpl commented on #338
`@types` detection was added to depcheck, could you recheck please @marcospgp

[2019-11-03 19:54] rumpl commented on #339
Closing this one, we have another issue for webpack aliases

[2019-11-03 19:54] rumpl commented on #340
not stale

[2019-11-03 19:56] rumpl commented on #352
not stale

[2019-11-03 19:56] rumpl commented on #356
@s-Hale thanks for reporting this, I am going to need some more information for this please

[2019-11-03 19:57] rumpl commented on #357
not stale

[2019-11-03 19:57] rumpl commented on #360
not stale

[2019-11-03 19:57] rumpl commented on #380
@jrnail23 still want to work on this one?

[2019-11-03 21:25] VincentLanglet commented on #460
I understand you cant know if it's used or not, except if there is a line about it in the package.json.

I was think about a special case for the library you're using using.
If you run `yarn depcheck` it should not say `depcheck` is unused.
If you run `yarn npm-check` it should not say `npm-check` is unused.

But it's just a little improvement which is maybe difficult to implement and then not wor

[2019-11-03 21:40] rumpl commented on #460
Ok it's actually quite easy, I just had to understand what you were saying, PR opened

[2019-11-03 21:43] daveisfera commented on #414
I just ran with the `0.9.0` release and I'm not longer seeing this issue

[2019-11-03 21:52] rumpl commented on #414
Nice, thanks!

[2019-11-03 21:52] #414 closed

[2019-11-03 21:54] rumpl commented on #460
Scratch that, it's not that simple, I'll continue on this tomorrow

[2019-11-04 00:11] vesper8 commented on #312
@rumpl seems a lot more solid and accurate now! Glad to see the changes are working!

It did tag `fortawesome/fontawesome-free` as unused once again even though I am importing some css from it in my code with `@import '~@fortawesome/fontawesome-free/css/all.min.css';` inside of a <style> block (single file vue component)

Otherwise it seems accurate for the unused dependencies

It tagged quite a l

[2019-11-04 07:42] rumpl commented on #312
Glad to hear it's better now! :)

Regarding the dev dependencies, it would seem that it didn't pick up your webpack configuration, would it be possible for you to share your webpack config? Or at the least the name of your config file that you are using and if there is something weird that you are doing in your configuration?

Thanks

[2019-11-04 09:23] vesper8 commented on #312
I use vue-cli so the webpack config is hidden to me, I can manipulate it via an optional vue.config.js file but none of the above plugins are referenced in this optional file at the moment.

[2019-11-04 09:27] vesper8 commented on #312
There's more information here on how this works. I can run `vue inspect` to print out my webpack configuration and I can paste this here.. warning it's 1500 lines of code. But I think the problem probably is that your plugin is not able to parse the config file at all.. I'm not sure where it's located or if it's located somewhere at all or built on the fly

https://cli.vuejs.org/guide/webpack.html

[2019-11-04 09:28] rumpl commented on #312
Great! The clue I needed was that you use vue-cli, now I can start a project with it and debug, awesome, thaks!

[2019-11-04 09:38] rumpl commented on #312
Quick question, you have a `vue.config.js` with webpack config in it right?

[2019-11-04 10:04] vesper8 commented on #312
Not really no, the vue.config.js is completely optional, it's for when you need to do special things or configure additional plugins. I can show you an example of one of mine so you see what it can look like

This one has quite a lot of stuff in it, in a new vue-cli project you wouldn't have any

[code]

[2019-11-04 10:06] rumpl commented on #312
Ok but for example, why do you have the `sass-loader` dependency? Where is it used?

[2019-11-04 10:07] rumpl commented on #312
Oh ok, vue cli can do it, sorry.

[2019-11-04 10:20] vesper8 commented on #312
when installing a new project it asks you which modules you want to install, one of the options is installing a css pre-processor https://github.com/vuejs/vue-cli/blob/dev/docs/guide/css.md

Then, in my single-file vue components I can add scss like this:

[code]

And it will automatically process that

[2019-11-04 10:21] rumpl commented on #312
Great thanks, I have all I need now, will try to find a solution

[2019-11-06 09:55] jmjpro opened #471 "install fails with yarn"
### Bug Description
When installing from yarn `yarn global add depcheck` I receive the following error:
error upath@1.0.4: The engine "node" is incompatible with this module. Expected version ">=4 <=9". Got "12.13.0"

Ironic that depcheck requires nodejs > 10 but one of it's dependencies doesn't work with nodejs > 9.

The workaround is to install with `yarn global add depcheck --ignore-engines` bu

[2019-11-06 09:58] rumpl commented on #471
Hey @jmjpro thanks for reporting this.

Our dependencies are up to date but not those of our dependencies :(

I'll try to find which one is it and fix this.

[2019-11-06 12:50] 43081j opened #472 "False positives between 0.8.3 - 0.8.4"
With 0.8.4, my entirely typescript codebase results in most of my dependencies being detected as unused with no changes other than bumping depcheck. This must mean we've introduced either a bug or a breaking change somewhere.

I call it like so:

[code]

(I dont remember why I have those `ignoreMatches`, they havebeen there a long time)

The most obvious change between 0.8.3 and 0.8.4 was that bab

[2019-11-06 12:51] rumpl commented on #472
Hey @43081j

Could you try with 0.9.0?

[2019-11-06 14:26] 43081j commented on #472
👋

I tried it in 0.9.0 first, thats where i saw the problem. So i then went to 0.8.4 to see if it was introduced by that or later.. so it seems 0.8.4 introduced it. Narrows it down a bit at least

[2019-11-06 14:31] rumpl commented on #472
Care to share the output with 0.8.3 and 0.9.0? Ideally the --json one

[2019-11-06 14:45] 43081j commented on #472
Strangely the parser never seems to get called for the files containing the missing dependencies.

If I breakpoint inside `parseTypescript`, it only gets hit for a small amount of files, a whole bunch don't pass through.

ill post the json if i get chance

[2019-11-06 15:32] 43081j commented on #472
@rumpl i think i tracked it down.

basically its because when someone switched the parser to babel, they unknowingly also dropped the tsconfig-driven feature set for a hard-coded one we define [here](https://github.com/depcheck/depcheck/blob/dcb186fd0bd4df535b10223b5908dca708acc6e3/src/parser/typescript.js#L9).

in my case (and probably the majority of broken cases) it is decorators.

typescript u

[2019-11-06 15:34] rumpl commented on #472
Good catch!

It’s about time typescript support was a first class citizen, I’ll try to find some time tomorrow and do it properly

[2019-11-08 09:47] Milad commented on #238
I have checked this, and it seems to work fine in depcheck v0.9.0

[2019-11-08 10:07] rumpl commented on #238
Thank you @Milad I'll close this.

[2019-11-08 10:07] #238 closed

[2019-11-09 13:05] sveyret commented on #245
I think that PR #473 now delivered in release 0.9.1 is correcting this issue.
@rumpl, this issue can probably be closed.

[2019-11-09 13:07] sveyret commented on #246
PR #459 now should fully correct the issue. @rumpl, I think it can be closed.

[2019-11-12 10:57] sveyret opened #476 "special/eslint: bad calculation of preset dependencies"
### Bug Description
In a monorepo project managed by `yarn`, I have a package containing my eslint configuration. Every eslint needed dependency is set as a dependency (not dev!) of this package.

This is currently working because of 2 bugs, one masking the other:

- the method `requireConfig` of `eslint.js` only searches for configuration dependency in the current directory, therefore ignoring st

[2019-11-12 13:15] rumpl commented on #476
Thanks for reporting

I'm not sure I understand everything, in particular the "Actual result", could you tell me what command you are running and from which directory?

[2019-11-12 14:06] sveyret commented on #476
I edited the initial post. Command executed from `other-package`:

    depcheck --specials=eslint

[2019-11-12 14:13] sveyret commented on #476
To be more precise, with yarn workspace, `other-package` lies in `./packages/other-package` from the root of the project. There is a directory `node_modules` in `./packages/other-package` containing only a few dependencies and a `.bin` sub-directory with links to binaries. All other dependencies are in a directory `node_modules` which is directly in the root of the project.

With `npm` used as if

[2019-11-12 19:02] felixhayashi commented on #189
Unfortunately still an issue, using typescript 3.7 and depcheck 0.9.1
importing only types from a package will make depcheck mark the package as being "unused"...

[2019-11-13 09:59] sveyret commented on #476
Finally, I'm working on it… :smile:

[2019-11-13 10:01] rumpl commented on #476
🎉

I'll buy you a beer next time you come to Paris :)

[2019-11-14 12:27] #476 closed

[2019-11-16 01:03] #321 closed

[2019-11-16 01:03] #342 closed

[2019-11-16 01:03] #194 closed

[2019-11-16 01:03] #354 closed

[2019-11-16 01:03] #211 closed

[2019-11-16 01:03] #403 closed

[2019-11-16 02:02] #198 closed

[2019-11-16 02:03] #212 closed

[2019-11-16 02:03] #229 closed

[2019-11-16 02:03] #240 closed

[2019-11-16 02:03] #253 closed

[2019-11-16 02:03] #207 closed

[2019-11-16 02:03] #248 closed

[2019-11-16 02:03] #295 closed

[2019-11-16 02:03] #297 closed

[2019-11-16 02:03] #269 closed

[2019-11-16 02:03] #232 closed

[2019-11-16 03:02] #139 closed

[2019-11-16 03:03] #153 closed

[2019-11-16 03:03] #155 closed

[2019-11-16 03:03] #157 closed

[2019-11-16 03:03] #136 closed

[2019-11-16 03:03] #135 closed

[2019-11-16 03:03] #105 closed

[2019-11-16 03:03] #159 closed

[2019-11-16 03:03] #168 closed

[2019-11-16 03:03] #132 closed

[2019-11-16 03:03] #192 closed

[2019-11-16 03:03] #197 closed

[2019-11-30 14:09] VincentLanglet commented on #460
@rumpl Did you find a solution ? :)

[2019-12-02 08:59] Heimschmiede opened #480 "Fails when using a relative path"
### Bug Description
When calling depcheck from my javascript (not the cli-version) with a relative path to the folder I'd like to check then depcheck fails reading the package.json in the specified folder.

    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:794:15)
    at Function.Module._load (internal/modules/cjs/loader.js:687:27)
    at Module.require (internal/modules/cjs/

[2019-12-10 20:52] #167 closed

[2019-12-13 16:45] slavafomin commented on #189
I'm having the same issue. `depcheck` is reporting almost all dependencies as unused in my TypeScript project. I'm using all the latest versions.

[2019-12-18 15:05] spiray commented on #171
@mnkhouri This still doesn't work for me. This is my script -
[code]
And this is the output -
[code]
Any ideas?

[2019-12-18 15:24] rumpl commented on #171
The error code is not 1 but 255 (-1)

[2019-12-18 15:39] spiray commented on #171
@rumpl thanks for the quick response, that doesn't seem to be the case, to simplify it, when I run
[code]
I get -
[code]

[2019-12-18 15:47] rumpl commented on #171
Just did the same:
[code]

[2019-12-18 15:55] spiray commented on #171
You have missing dependencies, maybe that is why. Can you test it again where you only have unused deps?

[2019-12-18 16:03] rumpl commented on #171
[code]

[2019-12-18 16:04] rumpl commented on #171
[code]

No idea why it's 0 for you...

[2019-12-18 16:20] spiray commented on #171
Hmm, I'll play around with it a little more

[2019-12-18 16:22] rumpl commented on #171
Please do write here what you find, would like to know

[2019-12-18 18:53] spiray commented on #171
@rumpl I figured out what the issue is, I was using Git Bash for windows. I had a colleague run the same script on MacOs and he got the 255. Thanks!

[2019-12-18 19:12] rumpl commented on #171
Thanks!

I wonder why git bash is doing that...

[2020-01-03 13:51] znarf opened #497 "Support .*ignore files"
I think it would be useful to implement support for ".*ignore" files as an alternative to the `ignore-dirs` option. See for example what was done in prettier: https://github.com/prettier/prettier/issues/2294 and https://github.com/prettier/prettier/pull/2412

Pros:

- Most projects already have a `.gitignore` file and this could be automatically used. I don't think anyone wants do `depcheck` any p

[2020-01-03 14:05] rumpl commented on #497
+100 for an ingore file, we can have both for some time and print a warning to say that the flag will be deprecated (we already had a deprecated flag, when I removed it 2+ years later no one complained.

[2020-01-04 19:06] icco opened #499 "False alert for babel package"
I ran dep check in github.com/icco/writing and got the following output:

[code]

I am using `babel-plugin-graphql-tag` in my babel config.

[2020-01-04 20:11] znarf commented on #499
@icco can you link to your project ? Or share the name of your babel config file and it's content?

[2020-01-04 20:17] znarf opened #500 "eslint: dependency wrongly mark as unused"
This is likely introduced by https://github.com/depcheck/depcheck/issues/476 and https://github.com/depcheck/depcheck/pull/477

Back in this previous issue, the contributor (@sveyret) wrote:

It should not, seems to me this is defeating the general behavior of `depcheck`. Any dependency that is explicitly used or imported in the project should be declared in `package.json`, even if it's already ma

[2020-01-04 20:48] icco commented on #499
Yup! https://github.com/icco/writing/blob/c803380b7fbb340f117523aceb2bfebc709c3155/.babelrc.js

[2020-01-04 21:29] sveyret commented on #500
I agree if dependencies' dependencies are dev dependencies, not if they are direct dependencies. Let me explain my use case : I have a project in which I define the way all my company's projects should behave, using an eslint configuration. In this project, I include (as runtime dependencies) all the modules I need for the rules described in it.
In the dependent projects, I only want to add this p

[2020-01-04 22:04] znarf commented on #500
I get what you want, but seems to me this is not the way depcheck is working generally. Example: when using `lodash`, it's not because some of my dependencies are using `lodash` that I should not add `lodash` to my package.json.

In your use case, seems to me you should avoid having the sub-dependencies  being detected by depcheck. Let's say your config is `eslint-config-mycompany` and it's using

[2020-01-04 22:27] znarf commented on #499
Interesting, I don't have the same result here:

[code]

[2020-01-04 22:36] icco commented on #499
Ah, it's on an unmerged branch, `rewrite-apollo`. Altho in the case of master, I'm also using `babel-plugin-transform-define` and it's saying it's unused.

[2020-01-05 10:15] sveyret commented on #500
You're right. I don't remember right now what was not working this way…

I think that the repository I'm talking about is public. You can find it there :

https://git.duniter.org/gecogvidanto/gecogvidanto

[2020-01-05 20:51] znarf commented on #499
@icco When testing on `rewrite-apollo`:
- can't reproduce the `babel-plugin-graphql-tag` warning
- `babel-plugin-transform-define` is not in your babel config so it's right to say it's unused.

[2020-01-06 17:11] znarf opened #501 "Error: ENFILE: file table overflow (macOS)"
On macOS, when checking large projects with `depcheck`, we sometime reach filesystem limits.

readfile https://github.com/depcheck/depcheck/blob/master/src/check.js#L52 is throwing exceptions and the file is marked as invalidFiles https://github.com/depcheck/depcheck/blob/master/src/check.js#L129.

This results is false positives in "Unused dependencies".

To reproduce, on macOS 10.15.2:
- `git cl

[2020-01-07 15:03] sveyret commented on #500
Of course, this issue is real anyway, your dependency should not be detected as unused, but the correction is not so simple as it seems.

[2020-01-07 15:12] sveyret opened #504 "False positive with @types/mocha"
When explicitly using mocha (e.g. with specials=mocha), @types/mocha should not be considered an unused dependency.

[2020-01-07 16:38] znarf commented on #500
Thank you for sharing your case. If we want to look at a single specific example?

- `git clone https://git.duniter.org/gecogvidanto/gecogvidanto`
- `cd gecogvidanto`
- `depcheck core/shared`

Is that what we should look at?

[2020-01-07 17:35] sveyret commented on #500
@znarf not exactly, because it is actually a monorepo and it has a specific depcheck configuration which it is called using a (wrapper) binary. If you want to test, you can do:

    git clone https://git.duniter.org/gecogvidanto/gecogvidanto
    npx lerna bootstrap
    cd packages/core/shared
    npm run test:dep

[2020-01-07 17:37] sveyret commented on #500
For information, I'll take the point tomorrow if I can find time.

[2020-01-07 20:09] znarf commented on #500
I hit some blockers when trying to reproduce with your repo:
- `npx lerna bootstrap` didn't install dependencies in sub-packages,  I tried `yarn install` instead
- `@gecogvidanto/depcheck` was not initially built, I manually built it with `npm run build`

Then:
- `npm run test:dep` was not outputting any failure

From my side, without a reproduction, I'm still having difficulties understanding the

[2020-01-07 20:29] sveyret commented on #500
Sorry, I think there is a misunderstanding: `test:dep` will not output any failure because it's been corrected in the latest version of `depcheck`. But this correction is creating the issue you found.

[2020-01-07 20:44] znarf commented on #500
@sveyret I was under the impression that the version used is 0.9.1 https://git.duniter.org/gecogvidanto/gecogvidanto/blob/master/packages/devtools/depcheck/package.json#L34, the version without the patch, am I missing something?

[2020-01-08 07:23] sveyret commented on #500
@znarf you are right. I must I made the correction somewhere else. I'll have to check that.

[2020-01-08 10:35] sveyret commented on #500
Hi @znarf, I made a pull request (#506) which should correct your issue. Would you please have time to check it?

[2020-01-09 14:58] sveyret opened #507 "New mocha configuration file not seen"
The mocha special parser is only reading the deprecated configuration file `test/mocha.opts`, but not the new configuration files as indicated in the document :

https://mochajs.org/#configuring-mocha-nodejs

[2020-01-09 15:09] sveyret opened #508 "Feature: add special parser for Istanbul.js"
This would be great to have a parser for `istanbul.js` because it is possible to extend a configuration from a foreign package, and this package is currently not detected as used by `depcheck`.

See https://github.com/istanbuljs/nyc

[2020-01-09 17:16] pushred opened #509 "Yarn workspace root dependencies not found"
Not sure that #473 is working as expected, at least with Yarn workspaces. I'm using depcheck@0.9.1 installed in the root of my monorepo where various dev dependencies are also installed. I run depcheck within each package using a npm script:

[code]

However I have some missing dependencies reported, for example:

[code]

#473 uses [require.resolve](https://nodejs.org/api/modules.html#modules_requ

[2020-01-09 17:22] pushred commented on #245
I'm still experiencing issues with root-installed dependencies: #509

[2020-01-09 18:51] #501 closed

[2020-01-10 08:28] micky2be opened #510 "Output warnings about invalid files"
I've tried to fix an issue that I thought was about random false positive but finally realized through the `--json` option that lots of my files were in fact invalid (due to Mobx decorators).

It would be nice to display a warning instead of a silently failing to let people know there was an issue.

[2020-01-13 20:43] #504 closed

[2020-01-13 20:43] #507 closed

[2020-01-13 20:46] #508 closed

[2020-01-14 06:40] sveyret commented on #500
@znarf, the PR is now merged. I will let you close the issue if you think it is corrected…

[2020-01-14 12:52] znarf commented on #500
@sveyret Thank you, looks good!

[2020-01-14 12:52] #500 closed

[2020-01-14 13:17] znarf commented on #416
It's actually the opposite, some features are not working properly if `node_modules` is missing.

[2020-01-14 13:23] znarf commented on #138
`ignore-dirs` is only a blacklist of single level directory name, it doesn't support nesting.

If you want to skip `test/fixtures/mock-sdk/lib/sdk/addon` you need to try to skip `test`, `fixtures`, `mock-sdk`, `lib`, `sdk` or `addon`. Not great!

I'm attempting to fix that as part of https://github.com/depcheck/depcheck/pull/498

[2020-01-14 13:25] znarf commented on #162
`.depcheckrc` is supported since https://github.com/depcheck/depcheck/pull/408

[2020-01-14 13:28] #162 closed

[2020-01-14 13:28] znarf commented on #409
@rumpl This can be closed.

[2020-01-14 13:28] rumpl commented on #409
At your service :)

[2020-01-14 13:28] #409 closed

[2020-01-14 13:30] znarf commented on #420
This should be solved by https://github.com/depcheck/depcheck/pull/513

[2020-01-14 14:24] znarf commented on #162
Are 1) and 3) talent care of?

[2020-01-14 14:39] rumpl commented on #162
* 1 yes
* 3 no and to be honest I don't wanna

[2020-01-15 07:49] znarf commented on #236
@rumpl I would like to see this implemented, would you agree for us at Open Collective to put a bounty on it as part of our Bounty program?

[2020-01-15 12:51] sveyret opened #516 "Use Cosmiconfig"
The `Cosmiconfig` project (https://github.com/davidtheclark/cosmiconfig) is a library used to standardize configuration files. It is currently used by some tools like `prettier`. I think that one day, it would be mandatory to have this library as a dependency in order to correctly find the dependencies' configuration. So maybe that's a good idea to take and use it for `depcheck`.

Yes, I know you'

[2020-01-15 13:08] rumpl commented on #516
;) https://github.com/depcheck/depcheck/pull/408

[2020-01-15 13:12] sveyret commented on #516
I should have had a look at the source before writing… ;)

[2020-01-15 13:12] #516 closed

[2020-01-15 13:22] rumpl commented on #516
No worries :)

[2020-01-16 22:59] VincentLanglet commented on #460
Hi @rumpl  ! Happy new year !

Did you find a solution ? :)

[2020-01-31 14:16] rumpl commented on #236
@znarf what's an Open Collective bounty?

[2020-01-31 15:34] znarf commented on #420
Can be closed now that https://github.com/depcheck/depcheck/pull/513 is merged.

[2020-01-31 15:35] rumpl commented on #420
Thanks, check your emails :)

[2020-01-31 15:35] #420 closed

[2020-01-31 15:35] #236 closed

[2020-01-31 15:36] rumpl commented on #236
@jpetitcolas A year and a week later, this is fixed, will be available in the next release, next week surely

[2020-02-04 12:51] stnwk opened #521 "Missing Changelog for 0.9.2"
Hi :)

Thanks for your work on this package!

Unfortunately, upgrading from 0.9.1 to 0.9.2 suddenly reports a lot of invalid files, but I'm not really sure why or what to look for as there currently is no changelog for 0.9.2

Can you please add it and let everyone know what changed?
Thanks!

[2020-02-04 13:05] rumpl commented on #521
Hey, sorry about that, will update the changelog in a couple of minutes.

Could you show me the output of `depcheck --json` please?

[2020-02-04 13:18] rumpl commented on #521
Here you go: https://github.com/depcheck/depcheck/releases/tag/0.9.2

Again, sorry about that, I need to make this less manual...

[2020-02-04 13:19] rumpl commented on #521
Could you open a new issue with the problem you are seeing with the 0.9.2 please, it would mean a lot

[2020-02-04 13:21] #521 closed

[2020-02-21 19:19] #426 closed

[2020-02-23 19:43] sveyret commented on #509
Just for information, the path given to `require.resolve` is the start of the search. Node is also searching in parent directories.

[2020-02-23 21:27] meriturva opened #522 "PeerDependencies -> unused library"
Is it possible to add here returns about unused libraries present on peerDependencies?

https://github.com/depcheck/depcheck/blob/19f9dadcfa728d77ea6943e368ba0a949ccd6594/src/check.js#L239

Actually, we are developing angular libraries and it is a good practice to use peerDependencies:
https://angular.io/guide/creating-libraries#use-typescript-path-mapping-for-peer-dependencies

[2020-02-25 15:00] sveyret opened #523 "Please consider using confinode"
Yes, I know, I wrote an issue suggesting using _cosmiconfig_ a few weeks ago… But because I did not have the same philosophical view as the author, I created my own library for this job. And of course, I think it is better! :wink:
Whether you use it or not, I'd really appreciate to know why, this would help me to improve my work. And of course, if you have questions or need help about this library

[2020-02-25 15:37] rumpl commented on #523
Hey, will take a look at confinode :)

[2020-02-26 19:24] sveyret commented on #523
Thank you @rumpl, and if you want me to make a PR to integrate it, do not hesitate and ask me…

[2020-02-29 22:02] znarf opened #525 "Support Gatsby plugins with resolve"
In the following file, https://github.com/badges/shields/blob/master/gatsby-config.js, `gatsby-plugin-page-creator` is not detected because it's set using a different syntax than what is currently expected.

[code]

[2020-03-01 12:52] VincentLanglet commented on #455
Not stale

[2020-03-01 13:51] VincentLanglet commented on #317
Not stale

[2020-03-01 17:48] jakeleventhal commented on #257
this is still an issue!!

[2020-03-02 06:34] jakeleventhal commented on #257
@rumpl I am not sure if this is related, but i know `nom-check` uses this library. This issue may be due to the same underlying issue
https://github.com/dylang/npm-check/issues/136

[2020-03-02 09:17] rumpl commented on #257
@jakeleventhal thanks for pinging me, will take a look.

[2020-03-03 10:30] rumpl commented on #308
Go away bot

[2020-03-03 10:36] #356 closed

[2020-03-03 10:36] #357 closed

[2020-03-03 21:40] meriturva commented on #522
Just found a really easy workaround useing result object `unused.using`:

[code]

[2020-03-03 22:39] rumpl commented on #522
Hey @meriturva

I'm not sure I completely understand your use case, we are looking at peer dependencies.

Could you make a small repo that reproduces your use case please?

[2020-03-04 06:57] meriturva commented on #522
Thanks @rumpl for your answer:

I just would like to have also:

`peerDependencies: lodash.difference(peerDeps, usingDeps),`

on: https://github.com/depcheck/depcheck/blob/19f9dadcfa728d77ea6943e368ba0a949ccd6594/src/check.js#L239

[2020-03-04 09:02] bricka commented on #400
Just dropping a comment here to avoid it being marked as stale. This is one of the items that is preventing us from using `depcheck` in our project. Maybe we could start by just specifying the current behavior of the webpack special? What file(s) does it look for today?

[2020-03-04 09:40] rumpl commented on #400
@bricka thanks for caring :)

You can see the regex depcheck uses [here](https://github.com/depcheck/depcheck/blob/master/src/special/webpack.js#L6). Could you explain a little bit your setup and the problems you are encountering please?

[2020-03-05 14:23] izaera opened #526 "Typescript dependencies with format @types/xxxx are incorrectly reported when using type imports"
I have `@types/estree` in my `package.json` and a `.ts` which does:

[code]
This is the correct syntax, since `tsc` complains if you import from the `@types` scope.

In this case, `depcheck` complains about missing dependency `estree`.

[2020-03-06 09:38] bricka commented on #400
Thanks :).

We are seeing our loaders show up as unused, even though we do reference them in our Webpack config. Here's an example:

[code]

However, `css-loader` and `sass-loader` are in use in our Webpack configuration:
[code]

[2020-03-07 02:09] zb140 opened #527 "babelrc format"
`.babelrc` files are actually JSON5 rather than plain JSON, meaning (among other things) that they can have comments in them (see https://babeljs.io/docs/en/config-files).  Unfortunately since `depcheck` uses `JSON.parse`, it will fail to parse files that take advantage of JSON5 features, leading to false positives.  Would you consider adding support for these JSON5 files?

[2020-03-10 15:33] mpacary commented on #308
[This technique to retrieve dynamically the list of NodeJS core modules](https://stackoverflow.com/a/35825896/488666) could be useful..

[2020-03-11 18:39] #427 closed

[2020-03-12 12:58] mindaugasnakrosis commented on #211
@nicolaerusan @daveisfera @csdfgraham did you manage to launch it someway? I am having the same problem.

[2020-03-15 02:22] #303 closed

[2020-03-15 12:27] #209 closed

[2020-03-15 14:27] #251 closed

[2020-03-15 16:27] #435 closed

[2020-03-15 17:27] #434 closed

[2020-03-15 17:27] #131 closed

[2020-03-15 20:20] nagygergo commented on #525
Also, this is a valid config too, so resolving the used plugins seems to be a harder task:
[code]

[2020-03-16 12:37] nagygergo commented on #525
Gatsby identifies the following elements as plugin entries:
- `gatsby-plugin-sharp`
- `{ resolve: 'gatsby-transformer-sharp', options: {} }`
- `{ resolve: 'gatsby-transformer-remark' }`

Also there is an option for plugins to have plugins of their own. So the based on the above snippets I'd consider the following rules to find the used plugins:
- Plugin entry must be an element of an array that is

[2020-03-16 19:53] #413 closed

[2020-03-16 19:53] #440 closed

[2020-03-16 19:53] #183 closed

[2020-03-16 19:53] #144 closed

[2020-03-16 19:53] #231 closed

[2020-03-16 19:53] #237 closed

[2020-03-16 19:53] #249 closed

[2020-03-16 19:53] #260 closed

[2020-03-16 19:53] #261 closed

[2020-03-16 21:49] #319 closed

[2020-03-16 21:49] #310 closed

[2020-03-16 21:49] #338 closed

[2020-03-16 21:49] #340 closed

[2020-03-16 21:49] #352 closed

[2020-03-16 21:49] #360 closed

[2020-03-17 11:49] #312 closed

[2020-03-18 18:21] hoorncj opened #528 "webpack aliased imports in scss file ignored"
I have a monorepo project, with a file structure such as this:

[code]

packages build into a `/dist` folder, so `_styles.scss` end up at `node_modules/styles/dist/_styles.scss`

my-component.scss references _styles.scss via a webpack style alias ~
[code]

If I add 'styles' package to my-component's package.json and run depcheck, it tells me 'styles' is unused.

[2020-03-18 20:03] memao opened #529 "Question: how to implement and use a plugin detector"
I implemented a custom detector, and copied it to the node_modules\depcheck\dist\detector\. Then call the depcheck API and pass my custom detector in via a config like below. It seems the custom detector is not picked up by depcheck. What did I miss?

[code]

[2020-03-19 10:56] #471 closed

[2020-03-19 16:56] #472 closed

[2020-03-22 14:50] #246 closed

[2020-03-25 04:27] kumavis opened #530 "Specify directories for deps, devDeps"
getting false negatives (depcheck passes but theres actually a problem) because deps are listed as devDeps but actually needed for prod

if i could specify dir/files to parse as deps and dir/files to parse as devDeps it would be solve this problem

[code]

[2020-03-25 09:44] rumpl commented on #530
Hey @kumavis

We actually had something like this at one time and decided to remove it see #120 #121

Can't remember exactly when and how this was a problem for us.

What you could do is [run depcheck in a script](https://github.com/depcheck/depcheck#api) and look at `unused.using`. I'll need some time to think about the best way (or if we want to) to handle your usecase

[2020-03-25 12:15] kumavis commented on #530
@rumpl interesting, is there more context somewhere?
https://github.com/depcheck/depcheck/issues/114 doesnt really explain what was broken

[2020-03-25 15:23] rumpl commented on #530
@lijunle do you remember what problems this had?

If I had to redo it, it would be a `--production` flag, same as npm WDYT?

[2020-03-25 19:17] lijunle commented on #530
I think the problem is, we cannot skip the calculation of devDep because we need that information to compare with `package.json` to generate the missing list. If we want to *ingore* devDep, we can only do a display hide at the last step.

[2020-03-27 09:42] kumavis commented on #530
yeah i guess if you're specifying which files to parse for deps and devDeps, the resultant "missing" lists are more numerous:
- missing
- unused
- shouldBeDev
- shouldBeProd

[2020-03-27 10:00] lijunle commented on #530
@kumavis Let me step back, why do you want to check a subset of files? If you are doing so, do you still care about "missing" list?

IMO, compare the information from a subset of files with project level `package.json` metadata is not making sense.

[2020-03-27 10:03] kumavis commented on #530
@lijunle
the issue I had was:
- a required prod dep was set as a devDep
- depcheck passed
- failed in prod as the dep was missing

[2020-03-27 10:08] lijunle commented on #530
It sounds like the problem is, depcheck does not have a way to know which files are for prod and which for testing.

AFAIK, ESLint use the [directory hierarchy RC files](https://eslint.org/docs/user-guide/configuring#configuration-cascading-and-hierarchy) to solve this kind of problem. I am not sure if that model fits here.

[2020-03-27 10:11] kumavis commented on #530
yes, and perhaps a significant feature to implement, but does not seem out of scope for `depcheck`

[2020-03-27 15:01] MarcPro37 opened #531 "Error when running from script"
script:
"depcheck": "depcheck --ignore-dirs=dist,results"
When I run npm run depcheck I got this:
![image](https://user-images.githubusercontent.com/55714202/77769272-5e35bb00-7022-11ea-812f-5d5db33a562e.png)

It works but finish with an error.

[2020-03-29 20:53] rumpl commented on #531
Hey @MarcPro37

Yes, depcheck will have a non-zero return value if it finds errors (by errors I mean missing dependencies or unused dependencies), you will need to add a `|| true` to your script if you want to ignore the error. Depcheck returns a non-zero exit code so that it can be added to your CI and make it fail if you have problems in your dependencies.

I will close this issue, feel free to

[2020-03-29 20:53] #531 closed

[2020-04-14 10:10] #480 closed

[2020-04-14 10:23] Heimschmiede commented on #480
Mhm, for me still an issue which is even very inconvenient... Would vote for reopen

[2020-04-25 19:31] #189 closed

[2020-05-03 15:22] seanlindsay101 opened #533 "Option to exit without error code (when running via "npm run depcheck")"
depcheck exits with an error code (-1) when it finds unused dependencies. If run as part of an npm script, this causes the script to terminate with npm's verbose error report.

Ideally, I'd like an option to exit successfully, even if it finds unused dependencies. This way it can be part of a sequence of code-checking scripts.

I would like to take a crack at this, but I wanted some feedback first

[2020-05-03 15:32] rumpl commented on #533
Hey @seanlindsay101

Depcheck exits with an error code so that it can be used in CI systems. I have seen people do "depcheck || true" to discard the exit code. One other way would be to write a simple script in [js to call depcheck](https://github.com/depcheck/depcheck#api) that will always return 0.

I'm not aware of other command line tools that have, say, a flag to tell it to always return 0. H

[2020-05-03 21:51] znarf commented on #497
@rumpl would be great to to look at my PR!

[2020-05-14 01:22] yingzhe commented on #528
#536

[2020-05-14 06:43] rumpl commented on #528
@hoorncj I just merged #536, the fix will be available in the next release (coming soon).

[2020-05-18 23:04] #499 closed

[2020-05-19 05:26] SkReD opened #537 "ignore-patterns option from readme description is not supported in latest release"

[2020-05-21 20:21] kingdaro commented on #245
Just here to unstale this issue, would really love to have this feature

[2020-05-21 21:04] rumpl commented on #245
@kingdaro thanks!

This seems like a really big feature, I am not sure I will have time to take care of it soon, but we can always hope. Thanks for unstaling it, I can only promise I will try to see what I can do about it (currently I am no longer working in node world as you can guess by my github activity).

[2020-05-21 22:13] defaultbr opened #538 "--dev=false not working"
Hello, i'm passing the flag `--dev=false` but it keep breaking the run because there is some devDependencies not used.

Since its some serverless plugins, even its use in serverless, its says that are not used, of course, it doesnt parse the yaml.

The problems is that the flag is not working :|

[2020-05-22 08:37] sveyret commented on #245
@kingdaro, _depcheck_ should already manage workspaces since v0.9.1. What kind of problem do you have?

[2020-05-22 09:54] benjie commented on #245
If you're using yarn2 / pnp then yarn's doctor script will tell you about missing dependencies:

[code]

I'm not sure if it tells you about extraneous dependencies though.

We [use `lerna exec --stream 'yarn depcheck'` in Graphile Starter](https://github.com/graphile/starter/blob/e565f9927672f6825ee972e4ded216a6f325e521/package.json#L16), but it has a significant list of ignores.

[2020-05-22 11:06] mightyiam opened #539 "Support webpack config that exports a possibly async function"
https://webpack.js.org/configuration/configuration-types/#exporting-a-function

https://github.com/depcheck/depcheck/blob/8228da293f61085e001a68e59912c38a921e9e79/src/special/webpack.js#L163-L168

[2020-05-22 12:18] mightyiam opened #540 "Allow configuration file with .js extension"
https://github.com/depcheck/depcheck/blob/8228da293f61085e001a68e59912c38a921e9e79/src/utils/configuration-reader.js#L71-L75

[2020-05-22 12:23] mightyiam opened #541 "Add special for tsconfig.json extends"
https://www.typescriptlang.org/docs/handbook/tsconfig-json.html#configuration-inheritance-with-extends

[2020-05-22 12:47] bryanSME commented on #440
I'm seeing the same issue with `react-router` and `history`

[2020-05-22 13:01] rumpl commented on #440
@bryanSME could you be more specific? Where in your code are those dependencies used, what does `depcheck --json` gives you? Even better, is there a repo somewhere that reproduces your error?

[2020-05-22 14:47] kingdaro commented on #245
@sveyret @benjie These are some good workarounds, though I can't upgrade to yarn 2, use pnpm, and I'd like to avoid using lerna as well, so the suggestions are unfortunately a no-go 😅 I'll probably figure something out if I need to, though.

[2020-05-22 15:15] benjie commented on #245
Instead of `lerna exec --stream 'yarn depcheck'` you could do `for I in packages/*/; do cd $I; yarn depcheck; cd -; done`; though persisting the exit state would be more challenging and you can't leverage the parallelism this way.

[2020-05-23 18:04] jakeleventhal commented on #257
@rumpl any update here?

[2020-05-26 16:02] seanlindsay101 commented on #533
You're right, thanks. Newbie question.

[2020-05-26 16:02] #533 closed

[2020-05-27 03:04] #510 closed

[2020-05-27 17:28] #138 closed

[2020-05-27 17:28] #416 closed

[2020-05-29 23:11] #460 closed

[2020-06-03 19:48] znarf commented on #538
Could you give detailed steps on how to reproduce? On which project are you testing? What is happening and what were you expecting?

[2020-06-03 19:50] znarf commented on #537
True, master was not released yet on npm.

@rumpl Time for `0.10.0` or `1.0.0`? Changes are too significant to be released as patch.

[2020-06-04 05:38] rumpl commented on #537
Go for 1.0.0, i believe you have the rights Francois? It should be as easy as creating and pushing a tag, the ci will then publish on npm and creat a release on github.

Sent from mobile - please excuse tone and brevity

[2020-06-04 07:24] znarf commented on #537
@rumpl I don't think I have the rights. I need:

- push access to master on `GitHub` (updating changelog and other chore)
- publish access on `npm` https://www.npmjs.com/~znarf

[2020-06-04 10:07] rumpl commented on #537
No need for an access on npm, publishing on npm is done automatically when a tag is pushed. I’ll be home is ~1h, let’s do that then if you have the time.

Come to the francejs slack community, I hang there a lot

Sent from mobile - please excuse tone and brevity

[2020-06-04 15:25] dianjuar opened #542 "False positive when usgin typescript paths (missing dependencies)"
This awesome tool had a false positive telling me that I don't have a dependency

[code]

The tool is not getting my typescript paths

[code]

[2020-06-05 09:57] ddbhagat opened #543 "depcheck should ignore hidden folders and files"
I don't see depcheck is ignoring hidden folders like `.circleci` or `.history`. Now `.history` holds the local versioning of files in vscode. and errors are marked against those files. Please validate

[2020-06-05 10:29] rumpl commented on #543
Hey,

You can use `--ignore-patterns` when invoking `depcheck` or create a [configuration file for it](https://github.com/depcheck/depcheck#usage-with-a-configuration-file)

[2020-06-05 12:49] ddbhagat commented on #543
@rumpl I did try few patterns with --ignore-patterns but none of them really worked for me. Not to mention i did follow gitignore specs as well

[2020-06-05 13:20] rumpl commented on #543
@ddbhagat could you please show us an example of your setup and how you are running depcheck?

[2020-06-05 13:25] ddbhagat commented on #543
So I was trying ignore-patterns, but that looks to be not working at all. i can see another bug for it. So I did try below

`ignore-dirs: ["assets", "config", "dist", "docs", "__mocks__", "node_modules", ".*"]`

and other variances like .*/ etc.
Only one thins works for hidden history folder is

`ignore-dirs: ["assets", "config", "dist", "docs", "__mocks__", "node_modules", ".history"]`

[2020-06-05 14:14] rumpl commented on #543
Ok so this seems fixed in master:

[code]

So it will be available once it's published, should be soon, @znarf wana publish 1.0.0 ?

[2020-06-05 14:27] ddbhagat opened #544 "Missing dependencies highlighted incorrectly for file paths"
Missing dependencies highlighted incorrectly for file paths
For some of the below imports which resolve to ingternal files

[code]
 What we see in depcheck output
[code]

[2020-06-05 14:40] rumpl commented on #544
I'm not sure I understand, what's the output you expected for this?

[2020-06-08 08:20] ddbhagat commented on #544
Essesntially those are not packages but the file paths. And the depcheck highlighting the folder names as missing dependencies.

[2020-06-08 08:34] rumpl commented on #544
depchck doesn't know and will never handle things like this.

My guess is you added some webpack configuration to make this possible, we have no way of knowing what your webpack configuration looks like for real.

Also I presonally think this is a bad practice, just use relative paths for your local code.

[2020-06-09 05:29] ravibasil opened #545 "Next.js webpack configuration detection failed with the following error"
at Function.Module._resolveFilename (internal/modules/cjs/loader.js:636:15)
    at Function.Module._load (internal/modules/cjs/loader.js:562:25)
    at Module.require (internal/modules/cjs/loader.js:692:17)
    at require (internal/modules/cjs/helpers.js:25:18)
    at Object.<anonymous> (C:\Users\Clixlogix\Desktop\ravi\mono\hub\src\config\settings.js:1:19)
    at Module._compile (internal/modules/

[2020-06-09 06:55] ddbhagat commented on #544
These are relative file paths only. And depcheck is picking package names as missing package. I am currently exclusing them using `ignore` option.

[2020-06-09 07:01] ddbhagat opened #546 "Can we have more specific options to highlight the dependency issues"
Can we have more finer options to get the cli output from depcheck

-  `--missing` will highlight/output only missing dependencies
- `--unused-dev` will highlight/output only unused dev dependencies
- `--unused` will highlight/output only unused dependencies

What I mean here is we have very little control over the `depcheck` output. Say now I am only interested in `"Missing Depenencies"` and not

[2020-06-09 07:30] rumpl commented on #544
These
[code]

are not relative path, these are:
[code]

[2020-06-09 07:34] rumpl commented on #545
hey @ravi09clix

[depcheck is trying to `require` the config file](https://github.com/depcheck/depcheck/blob/master/src/special/webpack.js#L144) but fails, are you using `deepmerge` in your next.js configuration? Would you have a link to a repo where I can reproduce this?

[2020-06-09 08:54] ddbhagat commented on #544
Unfortunately this doesnt solve the issue form me.

[2020-06-09 13:44] rumpl commented on #544
Could you please be more specific?

[2020-06-09 15:53] acnghm commented on #538
I think this is the same issue I see when there are dependencies listed in `./serverless.yml` under the [plugins key](https://www.serverless.com/framework/docs/providers/aws/guide/plugins/).

Running `depcheck --json .` gives:
[code]
Package.json `devDependencies` looks like:
[code]

`Serverless.yml` contains (amongst other things):
[code]

Platform:
[code]

From looking at the docs it looks like

[2020-06-12 20:27] KevinBuchs opened #547 "false unused report"
**Depcheck output** (with unimportant lines removed)
[code]

**app.module.ts** (with unimportant lines removed)
[code]

This is from an Angular application.

[2020-06-12 20:40] KevinBuchs opened #548 "Another false unused report"
**Depcheck output**
[code]

File **src/services/auth.service.ts**
[code]
Again, this is an Angular app.

[2020-06-20 02:41] mohanraj-r opened #550 "Feature request: Add support for Typescript project references"
Thanks for this tool - has saved me many times from pushing changes with incomplete dependencies !
One of the issues I frequently run into in spite of this great tool is missing [TypeScript Project References](https://www.typescriptlang.org/docs/handbook/project-references.html#what-is-a-project-reference).
Although this tool does a great job of detecting missing dependencies in `package.json` tha

[2020-06-20 06:54] Barkole opened #551 "Bug: specials are not working"
In my project https://gitlab.com/Lepardo/simplewebspider-nodejs I enabled these specials:

[code]

But still all the eslint etc related dependencies are reported:

[code]

[2020-06-20 07:01] #551 closed

[2020-06-20 16:47] Barkole opened #552 "Bug: false unused reports with eslint"
All the following dependencies are required, but marked as unused by depcheck.

Tested with https://gitlab.com/Lepardo/simplewebspider-nodejs/-/tree/51ee6269e3b9bd405c68b92a5691e44d3a196c12 (<- the ignores are active)

[code]

[2020-06-20 21:01] Barkole opened #553 "Bug: false positive "@types/jest" using jest and typescript"
Jest requires "@types/jest" to have typescript support

[2020-06-22 18:24] Barkole commented on #552
Also `eslint-plugin-no-only-tests` is reported, but used by eslint

[2020-06-26 07:50] sveyret commented on #523
Hey, any news on this?

[2020-06-26 14:29] aldreth opened #554 "False alert for eslint packages"
When I run depcheck over my project I have false alerts for eslint packages.

My `.depcheckrc.json` is as follows
[code]

I run depcheck with a script in package json - it definitely picks up the config as the ignored packages are ignored.

The depcheck output is
[code]

All of the eslint packages listed in `devDependencies` are required - if I remove them the linting fails.

I'd also be intereste

[2020-06-30 15:17] VincentLanglet commented on #317
Still not stale, @rumpl Is there a way to avoid the closing of the issue ?
They are still not solved.

[2020-06-30 15:17] VincentLanglet commented on #455
Still not stale, @rumpl Is there a way to avoid the closing of the issue ?
They are still not solved.

[2020-07-02 10:33] meriturva commented on #522
The request is still valid.
Thanks.

[2020-07-04 09:57] znarf commented on #537
@rumpl I'll try to move forward with that in the coming days.

[2020-07-04 09:57] znarf commented on #543
@rumpl I'll try to move forward with that in the coming days.

[2020-07-05 15:40] zb140 commented on #527
I still think it's worth considering this. It would make it much less frustrating to use depcheck-based tools with projects built with Babel.

[2020-07-05 16:54] rumpl commented on #527
@zb140 I just opened a PR for this, if all goes well it will be available in the next relase.

Cheers

[2020-07-05 17:23] VladimirGrenaderov opened #558 "TS types are outdated in 1.0.0"
No ignorePatterns in options, etc.

[2020-07-05 17:29] rumpl commented on #558
Thanks for reporting this. Care to open a PR? :)

[2020-07-05 18:41] VladimirGrenaderov commented on #558
Not yet ) I see some work is in progress, let's wait for readme update.

Offtopic: great tool, but it can't be used in real ci/cd process with large codebase. As an example, you have to choose between custom ignore file and .gitignore - why not both? It's impossible to pass custom specials via command line (or config), etc. I may participate this project as contributor, but in general it's need to

[2020-07-05 18:46] VladimirGrenaderov commented on #541
I have it in my private repo, written on TS. Let me some time to prepare PR.

[2020-07-05 18:55] VladimirGrenaderov commented on #553
It's a common issue with @types/xxx, if you go via simple way and allow TS to grab all packages from @types scope - you never can answer the question 'which types I use now? what if it works just because side-effect?". Automatic dependency detection is impossible too (I mean more or less simple way different from full compilation).

Smarter way - to add required type references into tsconfig.json

[2020-07-05 19:43] rumpl commented on #558
What do you mean by "can't be used with large codebases"? Because it's slow?

I'm not sure why you are talking about a .gitignore file.

You can give it custom specials when used as a library, not when you call it from the cli, I would be willing to merge a PR that adds this functionality but we would need to talk about the best way to implement it.

Rewriting the tool in TS is not something I loo

[2020-07-05 20:16] VladimirGrenaderov commented on #558
Let me explain in details.

- .gitignore: imagine a large monorepo, with a number gitignored dirs (test & coverage reports, various caches, etc). But also it has some dirs (scripps, some build system staff doesn't directly used as 'dependencies'). As a user, I want to respect my large .gitignore file AND other stuff. But I can't - depcheck will use only one ignore file. Welcome wrapper which reads

[2020-07-06 01:32] zb140 commented on #527
@rumpl that's excellent, thank you!

[2020-07-06 08:09] #527 closed

[2020-07-06 20:47] #509 closed

[2020-07-07 08:28] znarf commented on #537
It's released now. Thank you @rumpl

[2020-07-07 08:28] #537 closed

[2020-07-07 10:48] billyjov opened #560 "False unused dev dependencies report"
Running `npx depcheck` inside an Angular CLI Project and `karma` and related dependencies was reported as unuse

[2020-07-07 10:52] rumpl commented on #560
Awesome, is that on a pristine new angular cli project?

[2020-07-07 17:21] billyjov commented on #560
No. It's an existing project with Angular CLI version 9

[2020-07-07 17:56] rumpl commented on #560
A tiny bit more information would be very useful.

I am going to close this issue, feel free to open a new one and please use the template provided

[2020-07-07 17:56] #560 closed

[2020-07-08 08:29] #554 closed

[2020-07-08 08:37] rumpl opened #562 "depcheck plugins"
Openning this to start a conversation about a plugin system for depcheck, see [this comment](https://github.com/depcheck/depcheck/pull/559#pullrequestreview-444523729).

We have a lot of specials in our codebase and need to add a new one each time we need to do something special for a new tool/framework/library. The nice thing about this is that all you need to do (in an ideal world) is to execute

[2020-07-08 08:38] znarf commented on #552
Not reproducing with latest version. `No depcheck issue`

[2020-07-08 08:44] znarf commented on #543
`--ignore-patterns`and `--ignore-path` should work properly from `1.0.0`

[2020-07-08 08:44] #543 closed

[2020-07-08 08:46] znarf commented on #539
Please provide an example repository so people can see the use case more clearly.

[2020-07-08 10:49] mightyiam commented on #539
@znarf it is explained in the first link in the description, under "exporting a function". That should suffice.

[2020-07-09 07:17] SkReD opened #563 "Allow to pass own directory walker to directory checking function"
I build tool for checking monorepo packages against common set of rules and use depcheck for checking each package separatly.

For monorepo it is common to have general configuration file at monorepo root directory and which is used by tool for each package in. Prior to 1.0.0 it was possible to exclude directories that are not part of any package (for example `examples` directory) because `ignore-

[2020-07-09 10:09] znarf commented on #539
@mightyjam it's easier if there is an example repository. Without that, I will personally not look at it.

[2020-07-09 18:40] craftmaster2190 opened #564 "TypeScript tsconfig.json path-mapping not being used"
Context:
https://stackoverflow.com/questions/37372816/what-does-symbol-mean-in-import-component-from-angular-core-statem
https://www.typescriptlang.org/docs/handbook/module-resolution.html#path-mapping

Our app has imports like: `import { Foo } from "@services/foo";`
with the following in `tsconfig.json`:
[code]

Then depcheck outputs:
[code]

Expected behavior:
depcheck should find and read paths

[2020-07-09 18:41] craftmaster2190 opened #565 "depcheck should ignore depcheck by default"
Kind of funny:

[code]

Expected behavior:
depcheck should ignore depcheck by default

[2020-07-09 18:43] rumpl commented on #565
Yes but what of you don’t really use depcheck? ;)

How do you use it in your codebase?

[2020-07-09 18:45] rumpl commented on #564
Related yes, also see my comment: https://github.com/depcheck/depcheck/issues/544#issuecomment-640455125

I’m going to need a lot of persuasion to do this

[2020-07-09 18:45] craftmaster2190 commented on #565
`npx depcheck`

[2020-07-09 21:24] rumpl commented on #565
Ok so you don’t need depcheck in your dependencies

[2020-07-09 21:24] #565 closed

[2020-07-14 17:15] znarf commented on #562
That could start with a refactor, moving the core of `depcheck` in `depcheck-core` (npm package), moving specials in `depcheck-plugin-babel`, `depcheck-plugin-eslint`, `depcheck-plugin-prettier`, etc. We would keep `depcheck` as a bundle of `depcheck-core` + all the current plugins as dependencies.

I think we can take some inspiration of the `eslint` plugin system. There would be some programmati

[2020-07-15 13:54] sveyret commented on #526
If your file importing `estree` is named with a `.ts` extension, _depcheck_ will use the _TypeScript_ parser. Then, for each imported module, it will consider the `@types` version of the module potentially used. So you shouldn't have this issue. Actually, if _depcheck_ complains for missing `estree`, it means that you did not add `estree` to your dependencies in your `package.json`.

[2020-07-18 10:07] #400 closed

[2020-07-22 18:23] #308 closed

[2020-07-25 17:10] clar-cmp opened #566 "False positive: webpack externals"
In our case, we're directly importing `synchronized-promise` which has a dependency on `deasync`. However, we also list `deasync` in our `package.json` because we want to pin a version for it in our webpack externals.

Because `deasync` is a native Node module, it can't be directly included in webpack and must be included externally. So, in our `webpack.config.js`, we explicitly list `deasync` in

[2020-07-25 17:20] clar-cmp opened #567 "False positive: core-js"
With `@babel/preset-env` required and the `babel` special used, `core-js` shows up as an unused dependency. This is actually required for polyfills to work.

[2020-07-25 17:23] clar-cmp opened #568 "False positive: types-only dependencies"
Specific example: `@types/aws-lambda` is included to ease writing AWS lambda handlers, although `aws-lambda` is *not* included. The import is also specifically an `import type` in the code to further clarify that this is a type-only import.

This is showing up as `aws-lambda` being a missing dependency when it actually isn't.

[2020-07-25 17:26] clar-cmp opened #569 "Check Makefile and circleci.yml for scripts"
Right now, only package.json and travis.yml are checked.

[2020-07-25 17:31] clar-cmp opened #570 "False positive: eslint overrides"
In addition to including plugins in eslintConfig directly, you can also specifically require them in overrides. For example, in the `overrides` for tests, we include `eslint-plugin-mocha`.

This should be as easy as running the same checks for plugins on the elements of the `overrides` array as well as in the root config.

[2020-07-25 17:37] clar-cmp opened #571 "False positive: eslint import resolvers"
We use `eslint-import-resolver-typescript` with the below config in `eslintConfig`:

[code]

This shows up as an unused dependency when using the `eslint` special.

[2020-07-25 17:41] clar-cmp commented on #564
This is also possible in webpack as well:

[code]

I agree on the notion of not resolving relative paths, but I feel like reading from these path mappings may be reasonable. Understood if you're not willing to put in the effort to do it yourself though, as this is a relatively big ask!

[2020-07-25 17:45] clar-cmp opened #572 "False positive: webpack loaders in "modules""
I'm not sure if the current code checks for an older version of webpack, but we've been using webpack loaders like so:

[code]

And these aren't being counted as used.

[2020-07-26 08:21] wre232114 commented on #564
I think this is a necessary ability for typescript based project. Cause path alias are widely used.

[2020-07-26 11:25] rumpl commented on #564
They shouldn’t be :)

[2020-07-29 14:10] emanuelb opened #574 "False alert for dependecy by babel preset"
content of `babel.config.js` is

[code]

To reproduce:
1. Download https://github.com/MohGovIL/hamagen-react-native/archive/v2.2.6.zip
2. unzip file, cd "hamagen-react-native-2.2.6", Run `npx depcheck`
Result:
[code]

The `metro-react-native-babel-preset` is needed, without it the app won't compile
https://github.com/MohGovIL/hamagen-react-native/issues/173

[2020-07-31 05:47] #529 closed

[2020-07-31 21:11] patcon commented on #340
for the next person who comes along, probably because you added `depcheck` into a `scripts` command of your package.json file, and have the `bin` special enabled now :)

(took me awhile to sort that out as well..)

[2020-07-31 21:13] patcon commented on #310
`webpack-cli` might be an issue because normally a CLI command would get silenced by using it in `scripts` key of package.json, and using `bin` special. But `webpack-cli` offers a command bin called `webpack`, so that might confuse things?

[2020-08-02 09:26] emanuelb opened #575 "False alert for dependencies @babel/core & @babel/runtime"
Same instructions as in issue #574 , compiling with `./gradlew assembleRelease` will fail if `@babel/core` & `@babel/runtime` are not installed, see:
https://github.com/MohGovIL/hamagen-react-native/issues/254

[2020-08-03 12:02] YonatanKra opened #576 "Sass 'use' syntax not working"
Hi,
Thanks for this useful library.
I have an issue with SASS `use` syntax not working for me.
In my `scss` files -> `@use '@myNS/styles/styles.scss';`
When running `depCheck` it says that `@myNS/styles` is an unused package in my project.

[2020-08-03 18:30] #525 closed

[2020-08-03 21:56] znarf commented on #574
What does `module` mean in `module:metro-react-native-babel-preset`? I'm not aware of this syntax, would it work without?

[2020-08-03 23:36] emanuelb commented on #574
I don't know the answer to both of them, but this syntax is used in other projects as well for various babel configuration files:
https://github.com/facebook/react-native/blob/5218932b13ad0649ff2a57aaf1ec682fe278c47d/template/babel.config.js
https://github.com/facebook/jest/blob/master/examples/react-native/.babelrc.js

and here with other preset `module:react-native-dotenv` in file `.babelrc`
htt

[2020-08-04 00:05] rumpl commented on #574
[From here](https://babeljs.io/docs/en/options#name-normalization):

[code]

Wow, that's... I'm speechless :D

[2020-08-04 08:05] znarf commented on #574
Thank you @rumpl! So, @emanuelb, feel free to:

1) remove it in your codebase as it doesn't do anything, relic of the past perhaps. Then check that depcheck works if you remove it?
2) If presets are otherwise properly parsed, contribute a patch to depcheck and normalize the preset names by removing `module:`.

[2020-08-08 10:58] #530 closed

[2020-08-09 15:08] YonatanKra commented on #576
I've created a PR for this, but it fails on linting that I have no idea how to solve (running lint locally passes).
It fails on linting for files I did not change in my PR.
I hope you can fix this.
My PR fixes sass syntax - and I'm using it in production.

[2020-08-12 07:19] #576 closed

[2020-08-17 10:54] zraineri commented on #245
Inspired by @benjie

For windows users not on yarn2/pnp  or using Lerna:
`FOR /D /r %G in ("packages\*") DO (cd packages/%~nxG & npx depcheck & cd../..)`

I just added a script named "depcheck" into my package.json and run with "yarn depcheck"

When I have a moment I'm going to put together a batch script which returns an easier to read report only showing packages which have dependency issues, bu

[2020-08-18 19:43] redevill opened #579 "Can't read property 'name' of undefined"
Not a good start for me:
Versions: Latest npm 6.14.8 and versions of node 10 & 12 were tried. Version 1.2.0 of depcheck
Setup: Installed depcheck globally per the documentation.
(Side note: Tried to verify with depcheck --v per standard - addition of this shortcut would be nice)

Running depcheck in the folder with the package.json produced:
"Can't read property 'name' of undefined"

Running depch

[2020-08-18 21:50] rumpl commented on #579
So sorry we disappointed you.

Thank you for your issue, will take a look

[2020-08-19 00:06] redevill commented on #579
Let me know if I can help.

[2020-08-20 00:03] yathishc commented on #567
+1,
Same issue here

[2020-08-20 01:47] TimBailey-pnk commented on #530
Hi, I have a simialr issue.
I have my test files as siblings of the real files, ie
[code]
What I would like is that if the dependency is ONLY used in *.spec.js then its a `devDependency` and should warn if it is not

What do you think?

[2020-09-01 06:44] znarf commented on #497
Implemented.

[2020-09-01 06:44] #497 closed

[2020-09-22 09:43] mickdekkers commented on #526
I imagine this is true for most packages, but we've run into an exception where adding the non-`@types` module to the dependencies wouldn't make sense: the [`@types/aws-lambda` package](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/aws-lambda). This package [describes the types](https://serverlessfirst.com/fff-aws-lambda-type-definitions/) of the [AWS Lambda](http://docs.aws

[2020-09-22 09:58] sveyret commented on #526
I also faced this problem with a few packages for which I needed to import the `@types` while not using the runtime library. IMHO, these are exceptions that I simply add in the ignore configuration entry of `depcheck`.

I did not find a generic way to treat this, but would be happy if someone has an idea.

[2020-09-25 10:52] #528 closed

[2020-09-25 14:07] DanielPower commented on #211
I had this issue on Node 10, but switching to Node 12 fixed it.

[2020-09-27 12:32] Bilalm354 commented on #319
not stalw

[2020-09-30 16:58] Freddixx opened #582 "False Alert when including dependency for its types"
Hi 👋 ,

I am working on a project where I had to add three packages just for the sake of using their typescript types (which is the officially recommended way as of the time I am writing this). I know it's not a good practice, but there is no way around it for now.

The problem is that `depcheck` is obviously failing because of these unused dependencies and my gut is telling me there is no way of

[2020-10-01 08:00] deadcoder0904 opened #583 "False positive in Next.js Config file: `next.config.js`"
I have the following `next.config.js`:

[code]

It has `@mdx-js/loader` in it but when I use `depcheck` it gives me a false positive:

[code]

I think it shouldn't show `@mdx-js/loader` :)

[2020-10-04 18:44] #257 closed

[2020-10-05 00:33] jakeleventhal commented on #257
This is not stale! can we reopen this

[2020-10-05 00:34] jakeleventhal opened #584 "Inline script commands in package.json are ignored"
Reopening #257

When a dependency is only used inside parenthesis of another command in package.json scripts, depcheck marks this dependency as unused. e.g.:
[code]
Here, cross-env and wait-on are marked as unused.

This problem also happens with husky and jest

[2020-10-05 00:34] jakeleventhal commented on #257
reopened here https://github.com/depcheck/depcheck/issues/584

[2020-10-05 02:21] a7medkamel opened #585 "Fails to parse TypeScript files with <> angle bracket casting"
If a typescript file contains an `<>` cast, depcheck fails to parse the file

```SyntaxError: Unexpected token, expected \"}\"```

ex:
[code]

[2020-10-16 22:52] #542 closed

[2020-10-21 08:42] AxopenLyon opened #587 "False positive with roboto-fontface"
I'm using `roboto-fontface` in my Angular/SCSS project, and even though I have an import from `roboto-fontface` package in my main SCSS, it says it's not used (I have the `node-sass` dependency for depcheck):

`import '../node_modules/roboto-fontface/css/roboto/roboto-fontface.css';`

![image](https://user-images.githubusercontent.com/69004513/96695360-dc282d80-1389-11eb-8b72-6cb005922231.png)

[2020-10-21 17:14] #545 closed

[2020-10-22 02:43] #538 closed

[2020-10-22 02:43] #544 closed

[2020-10-22 16:37] nalham opened #588 "False positive with tldts"
I'm using [tldts](https://www.npmjs.com/package/tldts) in my Typescript project. Even after usage, it is showing the dependency as unused

Usage:
[code]

Error:
![image](https://user-images.githubusercontent.com/25572315/96903050-2b359780-144a-11eb-8667-40ebc2fae47b.png)

[2020-10-24 01:26] #546 closed

[2020-10-24 23:24] #547 closed

[2020-10-24 23:24] #548 closed

[2020-10-27 00:23] #540 closed

[2020-10-27 20:22] clar-cmp commented on #564
Both of the above comments are opinions. ;)

The fact remains that it's a big ask and is entirely reasonable to not implement for that reason, even though it would also be nice.

[2020-11-01 05:45] #550 closed

[2020-11-02 14:16] Avaq opened #589 "Allow to define patterns against absolute file path (again)"
Hi! I'm opening this issue because it seems that the last time this issue was solved, the solution got lost at some point.

- Original issue: #107
- Solution: #108
- Line in change log: https://github.com/depcheck/depcheck/blob/62640856028eea8192d9c89952dc37258ece0611/CHANGELOG.md#070-beta1-2016-03-10

The solution introduced most notably this change:

https://github.com/depcheck/depcheck/blob/98a

[2020-11-02 14:21] Avaq commented on #589
I can find no evidence of the change having been reverted. In fact, the blame for the line on `master` is *older* than the merged changes, suggesting that the `master` branch was overwritten with a different history at some point.

[2020-11-02 21:30] ehsan2003 opened #590 "false alert with typescript path aliases"
typescript path aliases are considered as missing dependencies.

actually I am not sure the problem is with path aliases, but I'm using path aliases starting with '@' it might cause the problem.

[2020-11-05 08:30] theKashey opened #591 "false alert for React 17"
React 17(babel plugin) does not requires "react" to be explicitly imported, which results in it being detected as an unused dependency.

[2020-11-05 15:23] jwarby opened #592 ".depcheckrc not respected when running depcheck from a parent directory"
I'm trying to use depcheck in a monorepo project and have run into a minor issue. Given a project setup like this:

[code]

- If I run `npx depcheck` from inside `packages/a`, `.depcheckrc` is used - ignored dependencies from `.depcheckrc` are properly ignored
- If I run `npx depcheck packages/a` from the monorepo root, `.depcheckrc` is not used - it will report ignored dependencies as being unuse

[2020-11-07 12:28] #523 closed

[2020-11-08 10:08] rumpl commented on #591
@theKashey thanks for openning the issue, would you have an example repo where I could reproduce the error?

[2020-11-08 10:26] rumpl commented on #591
Ok so [reading from the blog](https://reactjs.org/blog/2020/09/22/introducing-the-new-jsx-transform.html) it would seem that there is no need to import React if:

* babel version is >= 7.9.0
* you are using `@babel/plugin-transform-react-jsx`
* or if you are using `@babel/preset-react` with the `{"runtime": "automatic"}` option

To make things more interesting `{"runtime": "automatic"}` will be th

[2020-11-08 10:34] rumpl commented on #590
We do not support path aliases, I personally hate them and don't want to complicate my code for this feature, you can always add your aliases to the list of `ignores`

[2020-11-08 10:34] #590 closed

[2020-11-08 10:35] theKashey commented on #591
Absolutely correct. React is now just "automagic"

[2020-11-08 10:35] rumpl commented on #589
@Avaq thanks for this, I have no idea what happened, will investigate

[2020-11-08 10:38] rumpl commented on #591
It always was :)

[2020-11-08 11:37] #591 closed

[2020-11-08 11:44] rumpl commented on #592
@jwarby thanks for reporting this, no need for a sample repo, the issue is cristal clear 👍

[2020-11-08 13:26] rumpl commented on #588
@nalham could you show us the result of `depcheck --json` please?
Or even better fill-in all these:

A description of the bug

### Code snippets

Where the dependency is used:

[code]

Where the dependency is listed in package.json:

[code]

### Versions

- `node -v`:
- `npm -v`:
- `depcheck --version`:

### Extra info

Any extra info you want to include. Thank you for the bug report!

BONUS POINT

[2020-11-08 13:27] #589 closed

[2020-11-08 13:30] rumpl commented on #585
@a7medkamel thaks for reporting this, unfortunately I am unable to reproduce, could you create a sample repository with this error please?

[2020-11-08 13:31] rumpl commented on #587
@AxopenLyon could you please make a repo that reproduces this error? Or at least give us the output of `depcheck --json` please?

[2020-11-08 13:33] rumpl commented on #584
@jakeleventhal thanks for reopening this. One question though, where are the parentheses?

[2020-11-08 13:36] rumpl commented on #583
@deadcoder0904 thanks for reporting this, would it be possible to have a repo that reproduces this error? I never used next.js and am not sure I want to spend too much time setting up a repo test case.

Thanks

[2020-11-08 13:39] rumpl commented on #582
@Freddixx there was such a flag [but it was removed](https://github.com/depcheck/depcheck/pull/450)

We should really have better support for typescript...

[2020-11-08 13:53] #579 closed

[2020-11-08 13:56] rumpl commented on #567
Reading the documentation [here](https://babeljs.io/docs/en/babel-preset-env) and they don't really say that you need to install `core-js` with `preset-env`, could you create a sample repository that shows that `preset-env` **needs** `core-js`?

[2020-11-08 14:01] rumpl commented on #566
If I understand correctly, the issue here is not weback, or deasync or externals. The real problem is that you are installing `deasync` that you do not use directly in your code. In this case it's best to add `deasync` to the list of `ignores` when you run depcheck. How do you make sure that the version of `deasync` you have is compatible with `synchronized-promise`?

[2020-11-08 14:04] rumpl commented on #570
@clar-cmp thanks for openning the issue, it would be awesome if we had a repository that we can take a look at please

[2020-11-08 14:07] deadcoder0904 commented on #583
Sure, just clone https://github.com/tailwindlabs/blog.tailwindcss.com to check the error.

[2020-11-08 14:41] rumpl commented on #583
Nice, thanks!

[2020-11-08 14:55] #571 closed

[2020-11-08 14:59] rumpl commented on #583
Oookay so the problem is that we don't support `oneOf` in webpack configuration file

[2020-11-08 15:56] rumpl commented on #583
@deadcoder0904 this is fixed in main, could you test it on your project? I tested it on tailwind's blog and my PR fixes it

[2020-11-08 15:56] rumpl commented on #583
Just reopened, if it's fixed, feel free to close the issue :)

[2020-11-08 16:28] Freddixx commented on #582
Just my luck then 🤷‍♂️ 😃

Any chance that this could be brought back?

[2020-11-08 17:00] rumpl commented on #582
[Will be there in the next release](https://github.com/depcheck/depcheck/pull/595), tomorrow surely :)

[2020-11-08 17:01] rumpl commented on #582
Adding proper TS support is something I wanted to do for a long time, just never managed to gather the courage and the motivation, I hope I'll get to it one day. Sorry, I can't promise anything

[2020-11-09 06:09] deadcoder0904 commented on #583
How do I test it? Can you release the new version so I can update it?

[2020-11-09 06:33] deadcoder0904 opened #600 "False Positive in PostCSS Config file: `postcss.config.js`"
### Bug Description

Gives false positive in PostCSS Config file.

### Code snippets

I have the following `postcss.config.js`:

[code]

The above syntax is for using PostCSS in combo with Next.js.

It's a little different syntax from the original `postcss.config.js` file. The original syntax uses `require` like:

[code]

Where the dependency is listed in package.json:

[code]

### Versions

- `no

[2020-11-09 15:21] rumpl commented on #589
Version 1.3.0 with this change will soon be available on npm

[2020-11-09 15:21] rumpl commented on #591
Version 1.3.0 with this change will soon be available on npm

[2020-11-09 15:21] rumpl commented on #583
Version 1.3.0 with this change will soon be available on npm

[2020-11-09 16:57] Avaq commented on #589
Thanks, I appreciate that! Is it not a breaking change though? I imagine patterns like `*.js` would no longer match any files (except those in the root of the file system). It may need to be released under a new major version so not to surprise users with a required change to their config files. Alternatively, I think you could fall back to testing on the basename for unmatched files to preserve b

[2020-11-09 17:06] rumpl commented on #589
Indeed, but it's too late now, we'll see at what point I broke people, my guess is that it's not that much, I'm not sure a lot of people use this feature, I mostly see people running `depcheck` directly and some use the `ignores`, my guess would be that this broke a small subset of users.

Also, the fix for those  that this broke is quite minimal :)

[2020-11-09 18:31] clar-cmp commented on #570
@rumpl here's the relevant piece of the eslintConfig from a project:

[code]

So, in this case, the override includes `plugin:mocha/recommended` which uses `eslint-plugin-mocha`, as a simple example.

Basically, `overrides` follow the same structure as the regular eslint config, but apply to specific files, like this case which applies to the `test/` dir.

[2020-11-09 18:33] clar-cmp commented on #566
That's a fair point, honestly; when I have a bit more time later I'll try to look into this a bit more and get back to you.

[2020-11-09 18:38] jwarby commented on #592
Cool thanks @rumpl!

[2020-11-09 19:06] jakeleventhal commented on #584
I'm actually not sure, either way - bug persists as written

[2020-11-09 20:51] SudharakaP opened #601 "Depcheck Fails Incorrectly at "=" sign starting v1.3.0"
### Bug Description

It seems that starting v1.3.0 depcheck fails when it encounters an "=" sign in an import. The following line of code fails after upgrading to 1.3.0.

https://github.com/opencollective/opencollective-frontend/blob/a07621f0d3e8e349bfb662df95cdfa305ca1b790/pages/marketingPage.js#L18

The error is;

[code]
But with v1.2.0 there's no problem and depcheck seems to pass. 😄

### Versi

[2020-11-09 20:52] SudharakaP commented on #601
Also just to note that it's the `=` sign that seems to trigger this. If there's no `=` sign in the import statement it seems to pass. 👍🏽

[2020-11-09 21:12] rumpl commented on #601
Dang it!

Thanks @SudharakaP yes this is indeed a bug introduced with the latest version, I did change the webpack special, will fix asap

Thanks

[2020-11-09 21:51] rumpl commented on #601
@SudharakaP fixed in https://github.com/depcheck/depcheck/pull/602 I tested with the opencollective frontend and it works, will merge and push a new version as soon as the PR is green, sorry about that.

[2020-11-09 22:11] rumpl commented on #601
Version 1.3.1 should go live soon, tell me if this works for you

[2020-11-09 22:15] SudharakaP commented on #601
@rumpl : Thanks a bunch for the quick response. Will let you know as soon as I verify it. 😄

[2020-11-09 22:16] rumpl commented on #601
As soon as [this build finishes](https://travis-ci.org/github/depcheck/depcheck/builds/742565648) :)

[2020-11-09 23:34] SudharakaP commented on #601
@rumpl : Issue fixed and verified. Therefore I am closing this. Thanks a bunch. 👍🏽

[2020-11-09 23:34] #601 closed

[2020-11-10 07:42] deadcoder0904 commented on #583
And it works fine 🎉

[2020-11-10 07:42] #583 closed

[2020-11-10 12:10] Avaq commented on #589
Alright, no worries then. Thanks for your work on this! :D

[2020-11-10 20:54] slambdev opened #603 "False positive: eslint-import-resolver-typescript"
### Bug Description

We're getting some false positives with the `eslint-import-resolver-typescript` module in our Typescript project.

### Code snippets

How we're using depcheck
[code]

Where the dependency is used:

It's used in our eslintrc.js file as described here:
https://www.npmjs.com/package/eslint-import-resolver-typescript

Where the dependency is listed in package.json:

[code]

### Ve

[2020-11-10 21:22] rumpl commented on #603
@slambdev thanks for reporting this, could you retry with the latest version, 1.3.1 please? Also a ‘depcheck —json’ would be great

[2020-11-10 21:23] rumpl commented on #603
Thing is, I really think the resolver thing is fixed with the latest version

[2020-11-10 22:56] Freddixx commented on #582
I see.

I didn't see that PR you mentioned linked to any issue but this one, so I don't know enough about the history why this got removed in the first place. But I guess you don't see any point in bringing it back, no?

[2020-11-11 08:34] Mh2336393 opened #604 "非常差劲 导致我项目启动不了了！！！！误报非常的多 提issue 都不可能提的过来"
### Bug Description
非常差劲 导致我项目启动不了了！！！！误报非常的多 提issue 都不可能提的过来
A description of the bug

### Code snippets

Where the dependency is used:

[code]

Where the dependency is listed in package.json:

[code]

### Versions

- `node -v`:
- `npm -v`:
- `depcheck --version`:

### Extra info

Any extra info you want to include. Thank you for the bug report!

BONUS POINTS: If you wish to help us debug further

[2020-11-11 20:13] siddhantvirus opened #605 "False positive -> node-sass"
### Bug Description

depcheck says that [node-sass](https://www.npmjs.com/package/node-sass) is an unused dependency but it's required to use any ```.scss``` files  in a project, and does not require the node-sass package to be imported anywhere for the same.
### Code snippets

Where the dependency is listed in package.json: dependencies

[code]
### Versions

- `node -v`: v14.3.0
- `npm -v`: 6.14.

[2020-11-12 03:13] #455 closed

[2020-11-12 08:48] #604 closed

[2020-11-12 17:00] peter-mouland opened #606 "updating from 1.2.0 to 1.3.1 forced me to update my 'specials' config"
### Bug Description

When upgrading from 1.2.0 to 1.3.1, using depcheck (via node-api, not cli) informed me that all my package dependencies were unused. The `using` from depcheck object was always empty (`{}`)

Once I have added `depcheck.parser.jsx` to the 'specials' array, my code is working again. This feels like a hack rather than intended usage though, especially as I can see now my md and j

[2020-11-12 17:06] rumpl commented on #606
@peter-mouland please see this https://github.com/depcheck/depcheck/issues/589 issue, there was a slight breaking change, I'm sorry about this, [the change should be easy](https://github.com/depcheck/depcheck/pull/595/files#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5)

Again, sorry about this

[2020-11-12 17:06] rumpl commented on #606
Basically, change
[code]

to

[code]

[2020-11-12 17:07] peter-mouland commented on #606
epic - thanks for the quick reply, sorry i didn't spot the other issue!

[2020-11-12 17:07] #606 closed

[2020-11-12 17:13] rumpl commented on #606
Updated the release page, hopefully people will see it :)

https://github.com/depcheck/depcheck/releases/tag/1.3.1

[2020-11-12 18:35] clar-cmp commented on #567
Reading that exact documentation says otherwise: https://babeljs.io/docs/en/babel-preset-env#usebuiltins

[2020-11-12 19:01] rumpl commented on #567
Ooh I didn’t see that, thanks.

So the answer is, as always, “it depends” and we need to be smart and look at the usebuiltins flag.

Thanks! Will try and fix this as soon as I get some time, PRs are more than welome :)

[2020-11-12 20:35] clar-cmp commented on #567
Didn't actually realise it was conditional until I read more closely, since I've always used that flag. Sorry for not being clear

[2020-11-12 20:53] rumpl commented on #567
No worries, it’s all clear now, thanks for reporting this. Progress is slow I know, we support too many tools that have too many edge cases and there aren’t enough hours in a day :)

[2020-11-13 15:27] clar-cmp commented on #567
No worries, thank you for taking the time to work on this! :)

[2020-11-13 17:08] agustif commented on #564
I like to use path alias in my nextjs/typescript projects, it would be awesome to support this, but if it's a hard no oh well that's fair I guess.

Would you accept PR's?

[2020-11-14 03:52] #522 closed

[2020-11-15 16:42] rumpl commented on #564
Here's my take on why I don't want to implement this in depcheck.

I am not a fan of it. That's just an opinion granted, but I would like to think my opinion is important for my project.

Path aliases add an unnecessary indirection, I have worked on multiple project that use them and, as a new developer to the project, I found it very hard to know just from looking at the code if an import is a lo

[2020-11-16 01:43] slambdev commented on #603
Awesome. It works on the latest version! Thank you!

[2020-11-16 01:43] #603 closed

[2020-11-16 01:45] slambdev commented on #553
Using the latest version (1.3.1) and I"m still getting false positives with `@types/jest`. All other `@types` modules are correctly detected by depcheck. Any chance for an update on this?

[2020-11-16 08:16] rumpl commented on #553
@slambdev any chance you could create a repo or link to one that reproduces this error please?

[2020-11-16 09:57] tomyam1 opened #608 "False positives: webpack inline loaders aren't detected correctly"
### Bug Description

Some syntaxes of inline webpack loaders aren't detected correctly.

### Code snippets

Failing specs https://github.com/depcheck/depcheck/pull/607

[2020-11-16 15:38] agustif commented on #564
Hey, thank you for your thorough response! Your points totally make sense for me so don't worry about it!

Have a nice day =)

[2020-11-17 12:14] #541 closed

[2020-11-17 12:14] #558 closed

[2020-11-17 13:30] slambdev commented on #553
Unfortunately, our repo is private. Example of how we are calling it is:

[code]
When I run it with the `--json`, I get the following

[code]

[2020-11-17 13:33] seognil opened #609 "False positive: import package.json"
### Bug Description

should ignore `package.json`,  as it's just a local file

(or check and ignore all local files with this syntax?)

### Code snippets

When we directly read info from it

[code]

[2020-11-17 13:35] rumpl commented on #609
Shouldn't that import be

[code]

?

[2020-11-18 07:07] seognil commented on #609
when we have a file structure like

[code]

and in `./src/readSelfVersion.ts`, we may write code like this.

[code]

[2020-11-18 08:53] rumpl commented on #609
I see, your setup works because you set a `baseUrl`...

Thanks for the issue and the clarification, not sure when I'll have the time to fix this, it's not a trivial change

[2020-11-18 10:40] The-Outrider opened #610 "Not working with Vue3"
First and foremost, love this package, thank you for all your work on this.

### Bug Description

A description of the bug

When running depcheck it throws an error: "Vue packages version mismatch"

- vue@3.0.2 (/Users/xxx/node_modules/vue/index.js)
- vue-template-compiler@2.6.12 (/Users/xxxx/node_modules/vue-template-compiler/package.json)

Vue3 doesn't use the template compiler anymore though. A

[2020-11-18 16:14] tvvignesh commented on #245
Hi. Just pitching in here. Is there a planned support for [PNPM Workspaces](https://pnpm.js.org/en/workspaces)? Would be great to have that. Thanks.

[2020-11-18 17:23] sveyret commented on #245
@tvvignesh what kind of support do you need? As said [here](https://github.com/depcheck/depcheck/issues/245#issuecomment-632572647), usage of _depcheck_ with _pnpm_ is already possible…

[2020-11-18 18:16] tvvignesh commented on #245
@sveyret My bad. Since I got a few false alerts like this and I saw this discussion I thought PNPM workspaces was not supported.

<img width="185" alt="1" src="https://user-images.githubusercontent.com/1165845/99570086-731eee80-29f7-11eb-916d-83ce314376f6.png">

Just did a test now. Looks like this may not be because of this issue with workspaces but a false alert by itself. All these packages are

[2020-11-19 22:25] ugolb opened #611 "Webpack config aliases marked as "Missing dependencies""
### Bug Description

I have aliases in my webpack.config.js to make my import nicer.
When I run depcheck it marks couple of files as "Missing dependencies".
Interesting thing is that some aliases used in couple of different components but detected as missing only in one.

### Code snippets

webpack.config.js

[code]

### Versions

- `node -v`: v12.16.3npm -v

- `npm -v`: 6.14.5
- `depcheck --versi

[2020-11-20 05:24] #552 closed

[2020-11-20 08:37] rumpl commented on #611
@ugolb please read the thread here https://github.com/depcheck/depcheck/issues/564

[2020-11-21 06:14] #563 closed

[2020-11-21 06:14] #539 closed

[2020-11-22 20:08] CreativeTechGuy opened #612 "Support .js configuration files"
### Feature request description

Support defining the configuration file in `.js` syntax. This is useful as it's the best file format to use for adding comments to a json object. Commenting why certain things are excluded or changed in a configuration file like this is very useful for future developers.

For some reason it's explicitly denied [here](https://github.com/depcheck/depcheck/blob/4024c0

[2020-11-22 20:15] rumpl commented on #612
See https://github.com/depcheck/depcheck/pull/518

[2020-11-22 20:19] rumpl commented on #612
I’ll add a comment to the linked code though. Thanks :)

[2020-11-23 19:22] clar-cmp commented on #568
Still a problem.

[2020-11-23 19:23] clar-cmp commented on #526
I feel like checking for `import type` would be a good way to allow importing `@types/*` dependencies instead.

[2020-11-23 19:42] nils-a opened #613 "False positive: ini"
### Bug Description

`ini` is listed a false positive (along with `https-proxy-agent`).
I *think* this might be a duplicate of #585 (see the errors below in json-output).

### Code snippets

Where the dependency is used:

[`readConfigFile.ts` ](https://github.com/nils-a/cake-vscode/blob/feature/cleanup-deps/src/shared/utils/readConfigFile.ts)
[code]

### Versions

- `node -v`: v14.13.1
- `npm -v`:

[2020-11-23 19:51] rumpl commented on #613
@nils-a I wish all the issues created were as thorough as yours is, thank you!

I will take a look

[2020-11-23 20:03] rumpl commented on #613
Ok so the thing is that we are using babel to parse typescript files and one of the plugins loaded is the `jsx` one and it's causing problems with the `readConfig.ts` file because of `return <T>(`, if I remove the jsx plugin it all works fine, gotta find a nice solution, this might be a bug in babel and its typescript/jsx parser.

[2020-11-23 20:13] rumpl commented on #613
A temporary solution for you would be to change your code to

[code]

[It would seem that using `as` is the preferred way](https://acdcjunior.github.io/typescript-cast-object-to-other-type-or-instanceof.html) because `<T>` cast is [not available for tsx files](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-1-6.html#new-tsx-file-extension-and-as-operator).

Now I could split

[2020-11-23 20:20] nils-a commented on #613
@rumpl the code base is a bit older and I am hesitant to cleanup all at once :)

Could I remove the `jsx` plugin via configuration? (I don't need that currently)

[2020-11-23 20:42] rumpl commented on #613
I understand your reluctance, it’s only natural :)

You can’t do anything with the cinfiguration easily unfortunately. It’s getting late here, I’ll find a solution for you tomorrow. Eiteher with a new parser or some mix of your own parser and configuration. I’m sure this is not the only case where this happens. Maybe I can change the ts parser to try once with the jsx plugin and if it fails retry

[2020-11-23 20:54] nils-a commented on #613
It's getting late here, too. We're in the same TZ :-)
Thanks for the work you put in this 🙇

[2020-11-23 21:18] clar-cmp commented on #572
Still an issue

[2020-11-23 21:19] clar-cmp commented on #569
Still an issue

[2020-11-23 22:01] rumpl commented on #572
PRs are welcome 🤗

[2020-11-24 10:33] nils-a commented on #613
@rumpl I re-visisted the usage of casting with `<>` vs casting with `as` and in the end it was only 6 places in 3 files to modify (two of those casts were actually not needed) so I went along and made the changes.
No errors are reported in `depcheck --json` and no false positives anymore.

Thanks again for all your help!

(I'll leave this open so you have a reminder on why you wanted to re-work th

[2020-11-26 03:06] #562 closed

[2020-11-26 16:38] vjpr opened #614 "How to disable a special when using the API?"
I want to disable `ttypescript` because it is failing to parse `tsconfig.json` when it includes line comments.

Is there some way to access all the default specials?

[2020-11-26 16:41] vjpr commented on #614
[code]

[2020-11-26 16:41] #614 closed

[2020-11-26 17:12] rumpl commented on #614
👍

[2020-11-30 18:24] WadePeterson commented on #612
Another reason for supporting `.js`config  files would be for extensibility of config files within a large project made up of multiple modules.

I am working in a large monorepo with multiple packages, and we have base configs for most tooling at the root, all using `.js` extensions. We currently do this for `jest`, `babel`, `webpack`, and `eslint`. This allows us to override specific things in in

[2020-12-03 10:45] siddhantvirus commented on #605
Could anyone help me figure how could I try and fix this ?

[2020-12-03 11:13] rumpl commented on #605
Hey @siddhantvirus

Could you paste the output of `depcheck --json` here please?

[2020-12-04 11:12] MRVDH commented on #312
Hi @rumpl , have you found a solution? I installed the latest version but I still get this:

[code]

with this package.json:
[code]

[2020-12-04 11:33] rumpl commented on #312
👋 not yet no, didn't really have the time to look at this particular issue

[2020-12-06 16:24] Milad opened #615 "Hard time to get it to work with a project that has .mjs files"
### Bug Description

I have a project that has mjs files. Depcheck doesn't check them out of the box.

### Code snippets

Where the dependency is used:

index.mjs:
[code]

Where the dependency is listed in package.json:

[code]

### Versions

- `node -v`: `v14.15.1`
- `npm -v`: `6.14.9`
- `depcheck --version`: `1.3.1`

### Extra info

I tried to create a file `.depcheckrc` but it didn't help!

[co

[2020-12-06 16:57] rumpl commented on #615
Hey @Milad

Could you try with this configuration please:

[code]

[2020-12-06 17:11] siddhantvirus commented on #605
Hi @rumpl , I'm sorry for not being able o attach the same earlier . here is the output of `npx depcheck --json`

[code]

[2020-12-06 17:25] Milad commented on #615
Thanks @rumpl! It worked!

I'd guess that it makes sense to update the documentation [here](https://github.com/depcheck/depcheck/blob/main/doc/pluggable-design.md#use-parser-from-a-configuration-file)

[2020-12-06 17:28] Milad commented on #615
Created #616

[2020-12-08 11:51] stefanos1316 opened #617 "Different output when invoke from shell script"
### Bug Description

When executing the depcheck from the command-line it works I get the expected output.
However, when trying to store depcheck's result in a Bash or Shell variable I get a different output.

### Code snippets

Here is the code snippet

[code]

and here is the output

[code]

It outputs as unused dependencies all the files of my project, but when running in the command line I get

[2020-12-08 13:50] rumpl commented on #617
@stefanos1316 found it, the problem is how you `echo` the result, the output contains `*` so bash globs it. To output the real output of depcheck use this instead:
[code]

[2020-12-08 15:09] stefanos1316 commented on #617
Nice, thanks a lot @rumpl !!!

[2020-12-15 20:07] #575 closed

[2020-12-17 04:49] #574 closed

[2020-12-17 09:26] theCuriousOne opened #619 "Support for relative paths with tilde (~)"
### Bug Description

I believe this is a false positive situation, that depcheck will report a "Missing dependencies" if an import path contains ~. I know that this must be configured via webpack to resolve alias (thus harder to know how it is configured), but it is widely used, and can be assumed that it refers to the project root directory.

### Code snippets

import isRelative from '~/utils';

[2020-12-23 06:24] chtushar opened #620 "✨ Use Chalk to give presentable results"
### Feature request description
Currently, The results shown in terminal are little monotonous like shown in attached screenshot. Here, [Chalk](https://www.npmjs.com/package/chalk) and emojis can be used to make it presentable and playful.

![Screenshot 2020-12-23 112551](https://user-images.githubusercontent.com/33191895/102965803-9831e000-4514-11eb-95cf-08285f085fc6.jpg)

[2020-12-29 20:51] mr-feek commented on #605
I just ran into the same thing but with `vue-template-compiler`. The readme says to install it, then the tool complains that it is installed and not being used

[2021-01-06 03:01] princed opened #621 "Parse husky and lint-staged commands"
### Feature request description

It would be convenient if `depcheck` could parse command of `husky` and `lint-staged` the same way it does with regular npm scripts.

### How the dependency is used
For example, the following fragment of `package.json`
[code]

would render packages `commitlint`, `eslint` and `prettier` as used.

[2021-01-31 20:48] jadamik opened #623 "False positive: mochawesome"
### Bug Description
mochawesome is listed as a unused devDependency if it's used as a reporter for Cypress. This is false positive.

### Code snippets
**Where the dependency is used:**

`cypress.json`

[code]

### Versions
`node -v`: v14.13.1
`npm -v`: 6.14.8
`depcheck --version`: 1.3.1

### Additional info

`depcheck --json` output

[code]

[2021-02-03 17:03] belaaiza commented on #310
I'm facing a false alert for @types/jest too. Should this have been resolved by https://github.com/depcheck/depcheck/issues/163? Or it is another problem considering that jest is not explicitly imported?

[2021-02-10 13:52] joscha opened #624 "`Promise.all` fails in check.ts"
### Bug Description

Big repositories seem to not be scannable:

[code]

unsure yet if it is the number of packages or number of dirs that causes this - the line numbers of the npx-installed `1.3.1` seem not to match https://github.com/depcheck/depcheck/blob/1.3.1/src/check.js

Update: seems to be readdirp-related, so maybe not the packages but the files.

### Code snippets

Where the dependency i

[2021-02-10 14:17] rumpl commented on #624
Hey @joscha the limit seems to be `2097151` how big is your project?

[2021-02-10 14:18] joscha commented on #624
Separate file descriptors in the folder I am running it on?

[2021-02-10 15:04] rumpl commented on #624
Yes

[2021-02-10 17:04] apancutt commented on #585
Affecting all my TS projects - [demo repo](https://github.com/apancutt/depcheck-585)

[2021-02-10 17:12] rumpl commented on #585
Ah yes, there was another issue opened and this is because we activate JSX on our TS parser and you can't use `<>` for type casting, you need to use the [as operator](https://www.typescriptlang.org/docs/handbook/jsx.html#the-as-operator)

[2021-02-10 17:29] apancutt commented on #585
We can't rewrite our apps just to get depcheck to work. We depend on this tool for our JS apps and works great, so would be a shame not to be able to use it across our TS apps too.

Is this behaviour by design or would a PR be welcomed?

In the meantime, is there any workaround? I've tried `depcheck --parsers '**/*.ts:typescript'` which I thought would disable all other parsers no joy.

[2021-02-10 17:34] apancutt commented on #585
What about conditionally adding the `jsx` plugin if the `filename.endsWith('.tsx')`?

[2021-02-10 17:37] rumpl commented on #585
A PR would be more than welcome, the problem is [this line](https://github.com/depcheck/depcheck/blob/main/src/parser/typescript.js#L13). We *could* create two separate parsers, one for typescript and one for tsx. Or, and this would be more work, have a way to activate/deactivate parser plugins.

One workaround I can think of is to write your own parser and pass it to depcheck, writing it would be

[2021-02-10 17:38] rumpl commented on #585
This would break too much react projects unfortunately, most of the projects I saw use the `.ts` extension for their components

[2021-02-10 17:41] rumpl commented on #585
This actually wouldn't work because it would still break for a lot of people.

Your best bet would be to create your own parser then until we find a nice way to configure parser plugins.

Sorry there aren't better solutions

[2021-02-10 17:48] rumpl commented on #585
Thinking about this some more, the `--parsers` flag can only use the already defined parsers in depcheck, if [we change how we get the parsers](https://github.com/depcheck/depcheck/blob/main/src/cli.js#L15) and make it `require` a file inside your project that defines a parser then you could do something like `depcheck --parsers '**/*.ts:file://./path/to/my/typescript-parser.js'`

Hope this makes

[2021-02-10 18:00] apancutt commented on #585
Or perhaps a `--disable-plugins` CLI option?

[2021-02-10 19:02] rumpl commented on #585
Not sure I like it because you can't really easily say what plugin you want to disable for what parser. Also you can't activate/deactivate plugins for different types of files or different directories

[2021-02-10 23:52] joscha commented on #624
[code]
not even close to that number or am I holding it wrong?

[2021-02-10 23:59] rumpl commented on #624
I'm guessing your repo is not open source?

[2021-02-11 00:09] joscha commented on #624
Unfortunately not open source, yes the number I gave you includes node_modules and any other file in the folder even though that particular file type might not be introspected by the depcheck tool.
I can recount w/o node_modules if you like?

[2021-02-11 07:53] apancutt commented on #585
Another option is `--disable-plugins "<plugin>[:<parser>][:<glob>],<plugin2>..."` (where `<parser>` and `<glob>` are optional) but this is on the edge of user-unfriendly territory.

I don't like the idea of creating a custom parser since that also creates user unfriendliness. When you have multiple projects all wanting the same custom parser you'll end up needing to roll your own `depcheck` packag

[2021-02-13 15:27] FlorianWendelborn commented on #564
Has anyone here found a workaround or an alternative project that implements this? This feature being missing greatly reduces the usefulness of depcheck for large projects 🙁

[2021-02-13 15:35] rumpl commented on #564
Open a PR

Not sure that the size has anything to do with it...

I really don't like this feature webpack and typescript implement, I mean there are better ways to do this today, like workspaces.

[2021-02-13 23:47] hvitis commented on #610
Bumping up!

[2021-02-14 18:19] rumpl commented on #610
👋 I just opened a PR https://github.com/depcheck/depcheck/pull/625

Can someone test that branch and tell me if it works? I don't really know vue... I added a test but I have no idea if the component I created is a vue 3 one

[2021-02-16 09:25] rumpl commented on #610
@The-Outrider @hvitis ping nudge nudge :)

[2021-02-16 09:57] The-Outrider commented on #610
I'll review later this afternoon (Europe time) ✌️ @rumpl

[2021-02-16 12:32] The-Outrider commented on #610
I can confirm success! @rumpl Looks good!

[2021-02-16 12:49] rumpl commented on #610
Woop woop let's goooo! 🎉

[2021-02-16 12:49] #610 closed

[2021-02-16 15:16] rumpl commented on #610
I just released version 1.4.0 with this fix

[2021-02-16 15:18] The-Outrider commented on #610
Awesome :) Thank you very much

[2021-02-17 04:40] itsMapleLeaf commented on #615
The docs update is appreciated, but I figure this should work by default, and probably for `.cjs` as well

[2021-02-17 07:49] rumpl commented on #615
I honestly have no idea what an mjs or a cjs is

[2021-02-17 08:18] itsMapleLeaf commented on #615
`mjs` files are always loaded as ESM, and `cjs` files are always loaded as commonjs. They're helpful to reduce ambiguity

Refs:

- https://nodejs.org/docs/latest/api/esm.html#esm_introduction
- https://v8.dev/features/modules#mjs

[2021-02-23 16:33] PapaStef commented on #564
This is a feature that sees a lot of use in larger projects. Whether that's recommended is ultimately an opinion, but it does solve the problem of long relative paths for imports, which brings value to certain types of projects. At the end of the day, aliased code compiles perfectly and the dependencies are - in fact - **not** missing. I think most would agree that when running a dependency checke

[2021-02-23 17:05] rumpl commented on #564
@PapaStef sure, open a PR.

Would be great to have depcheck handle this for tsconfig, webpack, and any other special we are supporting.

[2021-03-16 04:15] jakeleventhal commented on #584
NOT STALE!!!

[2021-03-16 15:44] clar-cmp commented on #570
Still an issue, just checked.

[2021-03-16 15:46] clar-cmp commented on #566
I'm fine with filing this as a bug to serverless-webpack, since the main issue is that it tries to install externals via yarn and complains about the lock file being out of date. Closing.

[2021-03-16 15:46] #566 closed

[2021-03-16 15:47] clar-cmp commented on #567
Still an issue, it just takes a while. :)

[2021-03-17 11:38] princefishthrower opened #627 "Feature Request: Support for plugins listed in netlify.toml files"
### Feature request description

Awesome tool! Just discovering this tool today, man I had some dependencies from years ago... sheesh

Anyway, I would really like it if plugins in netlify.toml files were picked up. Currently they aren't, and listed incorrectly as unused.

### Code snippets

How the dependency is used (if applicable):

In a `netlify.toml` file, like so

[code]

How the dependency i

[2021-03-17 20:10] ashward opened #628 "punycode being listed as unused, although the built in version is deprecated"
### Bug Description

If the project includes `punycode` as a dependency in `package.json`, it gets listed as unused even when it's not.

This is because `punycode` is also included as a builtin in the Node API, but as it's been deprecated there since v0.7 it should now be included as an explicit dependency.

In fact, given that's it deprecated in the NodeJS API and has been for a long time, it mig

[2021-03-18 08:30] rumpl commented on #627
Hey @princefishthrower

Thank you so much for the kind message and I'm glad you find it useful! :)

If you could open a PR for netlify that would be awesome!

What you need to do is add a new `special` that would parse the `netlify.toml` file and return the dependencies that are used in that file. In your example the special should read the toml and return the `netlify-plugin-contextual-env`.

You

[2021-03-18 08:33] rumpl commented on #628
Nice catch! I didn't know about `punycode`. We are using the [builtin-modules module to filter out native node modules but sadly punycode is listed there](https://github.com/sindresorhus/builtin-modules/blob/HEAD/builtin-modules.json#L25).

Should be an easy fix, just need to find the time to do it.

Thanks

[2021-03-18 08:37] rumpl commented on #628
Ok found some time :D

[2021-03-18 09:48] ashward commented on #628
Thanks @rumpl. Stumped me for quite a while trying to work out why it was telling me that it was unused!

[2021-03-18 09:58] #628 closed

[2021-03-18 21:44] princefishthrower commented on #627
@rumpl - I may have spoke too soon here, it may be that NPM modules for netlify plugins may not be required... though I'm not sure and it may be a bug in the specific plugin. I will look into it.

As an aside, I notice my SCSS modules using the 'import' directive are marked as 'missing dependencies' - is there a setting I'm missing here or is this expected behavior for `depcheck`?

[2021-03-18 22:08] rumpl commented on #627
SCSS should work, if you can create a small repo that reproduces the sass error I could take a look at it.

[2021-03-26 10:11] princefishthrower commented on #627
@rumpl - sorry for my delay (and I'm still looking into the details here with netlify) anyway, here's an example of what I mean with the SCSS issues

I notice the problems lie mostly with animations and keyframes:

<img width="577" alt="Screen Shot 2021-03-26 at 11 10 19" src="https://user-images.githubusercontent.com/11366744/112616420-004dd600-8e24-11eb-95da-f79537298858.png">

<img width="507"

[2021-03-26 14:28] clar-cmp commented on #568
Still a problem

[2021-03-26 14:53] clar-cmp commented on #569
Still an issue

[2021-04-02 14:11] Hypnosphi commented on #245
Here’s some activity

[2021-04-05 14:40] robross0606 commented on #181
This still appears to be happening.  My project has a peer dependency on `prom-client`:
[code]
However, `depcheck` lists it as unused:
[code]

[2021-04-05 14:43] robross0606 commented on #341
This still appears to be happening.  My project has a peer dependency on `prom-client`:
[code]
However, `depcheck` lists it as unused after installation:
[code]

[2021-04-06 06:57] rumpl commented on #341
@robross0606 could you open a new issue and provide a repository reproducing this error please?

[2021-04-07 02:43] #611 closed

[2021-04-07 02:43] #553 closed

[2021-04-07 02:43] #609 closed

[2021-04-07 02:43] #587 closed

[2021-04-07 02:43] #608 closed

[2021-04-07 02:43] #588 closed

[2021-04-07 02:43] #600 closed

[2021-04-07 02:43] #592 closed

[2021-04-07 02:43] #582 closed

[2021-04-07 02:43] #317 closed

[2021-04-07 21:47] MickeyKay commented on #380
I see it's marked as `wontfix`, however flagging that I've run into the same issue recently and am +1 for considering a solution if possible. Thanks!

[2021-04-08 07:07] rumpl commented on #380
Want to open a PR @MickeyKay ? :)

[2021-04-08 16:03] jrnail23 commented on #380
It's all yours, @MickeyKay.  Sorry I let this go stale -- I ended up just moving on and haven't had the need to go back.

[2021-04-09 15:22] dcakirkaya commented on #143
Same issue, my webpack config file is called "webpack.config.js" and --specials=babel,bin,eslint,husky,jest,prettier,webpack
using depcheck 1.4.0

[2021-04-18 22:54] #526 closed

[2021-04-18 22:54] #613 closed

[2021-04-18 22:54] #572 closed

[2021-04-20 14:29] TheSimpleZ opened #630 "False positives for devDependencies used in scripts"
When running depcheck i get the following false positives:

Unused devDependencies
* nodemon
* eslint
* eslint-plugin-import
* eslint-plugin-mocha
* license-checker
* mocha

All of them, except the eslint plugins are used in the package.json

<details>
<summary>package.json</summary>

[code]
</details>

<details>
<summary>$ npx depcheck box-authentication/code --json | jq .</summary>

[code]
</det

[2021-04-20 14:33] rumpl commented on #630
Hum, that's odd, IIRC we are looking at `"scripts"` in the package.json file... Thanks for openning the issue. 👍

[2021-04-21 14:35] Rauno56 commented on #584
Using `cross-env` in scripts is a common usecase depcheck doesn't catch so the parentheses real or imaginary, do not seem to matter. Somewhat more simple example for a script:
[code]

[2021-04-28 17:35] jawil003 commented on #545
I have the same issue, it says distdir is missing in my `next.config.js` but I don't understand why it is needed for. I could imagine it has resolved a wrong path to the `next.config.js`? Maybe it searches in `src/` by default? Idk.
[code]

[2021-04-30 07:51] theKashey opened #632 "[false negative] SCSS variables are partially broken"
### Bug Description

This is not the issue of depcheck, but scss-parser - https://github.com/salesforce-ux/scss-parser/issues/38 - adding here for traceability

Behavior - scss-parser generates a run time exception parsing file content, as a result used packages are not tracked

### Code snippets

[code]

[2021-04-30 07:57] theKashey opened #633 "[false positives] SCSS variables are tracked as packages, while they are not"
### Bug Description

In some circumstances _@including_ a mixin is treated as an import

### Code snippets

Where the dependency is used:

[code]

### Extra info

The [current code](https://github.com/depcheck/depcheck/blob/main/src/parser/sass.js#L58) basically reacts at any "@at" rules.
I've tried to filter only `import`/`use` and it seems to work fine.

I can draft a PR if such solution is acce

[2021-04-30 09:13] theKashey commented on #633
Technically speaking the required amount of parsing can be achieved via simple regexp - there is no real need to build full ast, solving #632 as well.

[2021-05-04 12:42] DavidHenri008 opened #634 "Add peerDependencies in API"
### Feature request description

In the API, the data structure received by the promise (the ```unused``` variable in the example) already includes the dependencies and the devDependencies but it lacks the peerDependencies. It would be nice to have that list also in case we need to validate other conditions.

[code]

[2021-05-05 16:19] dattar01-instructure opened #636 "False positive dependencies which are used as plugins, or sub-libraries"
### Bug Description

I'm receiving a number of false positive for babel-related plugins. These plugins are used as strings in configuration files, rather than as imports.

In addition, d3 sub-libraries are incorrectly appearing as well (perhaps because they aren't imported like other libraries are usually imported).

### Code snippets

Where the dependency is used:

[code]

Where the dependency is

[2021-05-05 18:27] kaaax0815 commented on #310
I'm facing a false alert for `@types/node`. I need to have it installed to use `console.log`

[2021-05-10 09:31] sgarnotel opened #637 "Next.js webpack configuration detection failed"
### Bug Description

An error message is displayed related to nextjs webpack configuration:
[code]

### Code snippets

Where the dependency is used:

In the `next.config.js`:
[code]

Where the dependency is listed in package.json:

[code]

### Versions

- `node -v`: 16.1.0
- `npm -v`: 7.12.0
- `yarn -v`: 1.22.10
- `depcheck --version`: 1.4.0

### Extra info

I use `yarn` and not `npm`.

[2021-05-10 12:51] rumpl commented on #637
@sgarnotel thanks for openning this issue, is there a repo somewhere that reproduces this error?

[2021-05-10 13:12] sgarnotel commented on #637
I have created this minimal example https://github.com/Airthium/depcheck-issue
When you run `yarn depcheck` the error occurs.

[2021-05-10 13:23] rumpl commented on #637
Thanks! This however seems like a bug in [the `next-transpile-modules` code](https://github.com/martpie/next-transpile-modules/pull/180)

[2021-05-21 08:29] smbkr opened #639 "Fails to parse `serverless.yml` if it contains certain CloudFormation syntax"
### Bug Description

Depcheck fails to parse `serverless.yml` when using the "serverless" special, and a `serverless.yml` file which contains certain CloudFormation syntax.

### Code snippets

The error:

[code]

Snippet from `serverless.yml`:

[code]

I haven't included where the dependency is used or listed in `package.json` because it doesn't even get that far, but they are included in the repo

[2021-05-21 10:51] jahed-snyk opened #640 "Detect `import type X from Y` as importing `@types/Y`"
### Feature request description

This is a follow-up to #526.

It would be nice if `depcheck` detected `@types` when using `import type` in TypeScript.

### Code snippets

[code]

[code]

`depcheck` should notice the "import type" for "sarif" and understand this is satisfied by "@types/sarif". Currently it will think "sarif" is a missing dependency even though only its types from "@types/sarif" ar

[2021-05-21 12:12] smbkr commented on #639
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/intrinsic-function-reference-getatt.html

Using the full syntax instead of shorthand as described in the above for all CF functions works around the issue.

I'll close this as I don't think it's worth adding support to depcheck when there's a syntactically correct way to use CF in serverless.yml.

[2021-05-21 12:12] #639 closed

[2021-05-22 17:20] Xyaren commented on #570
I too experience that issue.

[2021-05-22 18:40] Xyaren commented on #570
So, I made a PR #641 with a fix.
Maybe @rumpl  can take a look :)

[2021-05-22 19:43] rumpl commented on #570
Will take a look, awesome, thanks for the PR!

[2021-05-28 08:06] stephanvierkant opened #642 "Support Symfony Webpack Encore"
### Feature request description

Depcheck doesn't  recognize dependencies when using Symfony's [Webpack Encore](https://github.com/symfony/webpack-encore).

### Code snippets

webpack.config.js:
[code]

Result:
[code]

[2021-05-30 09:56] lkashef commented on #630
Same here for: `cors`, `body-parser`, `helmet`, `@types/cors` (not imported but other types installed do not show errors)

Import statements (typescript)
[code]

I run the module using package.json script (only local install, installed and running using yarn)

`"depcheck": "depcheck ./ --ignores ts-node"`

---

Happy to open another issue if you decide that this is not-related to the original issu

[2021-05-31 08:21] #570 closed

[2021-06-01 17:29] Keysox opened #649 "Bash files should be checked for dependencies"
### Feature request description

Today, we have scripts that live in files such `lint.sh` that are running commands such as `yarn eslint .` or `npx eslint .`. Unfortunately, `depcheck` fails saying that eslint is unused because it is not parsing these files. Is this something that can be supported? Thanks!

### Any extra info

Reproduce here: https://github.com/Keysox/depcheck-bash-issue

[2021-06-02 17:08] #612 closed

[2021-06-02 17:08] #619 closed

[2021-06-02 17:10] siddhantvirus commented on #605
@rumpl could look into this issue or recommend a fix that one could implement?

[2021-06-07 00:59] princed commented on #621
I' still d love to have this feature, but having the issue open doesn't change anything ¯\\\_(ツ)_/¯

[2021-06-07 00:59] #621 closed

[2021-06-07 09:51] rumpl commented on #621
PRs are welcome

[2021-06-07 14:42] kristianvld opened #650 "Svelte Support"
### Feature request description

It would be nice to have support for svelte projects (raw Svelte, Sapper or SvelteKit projects), similar to the React and Vue support that exists currently.

### Any extra info

Currently when you run `depcheck` on a Svelte project, it reports imports used within `.svelte` files as unused. Have not tested with raw Svelte projects or SvelteKit, but assuming that it

[2021-06-08 12:06] tony commented on #319
Hey this isn't stale.  For those who have depcheck working, can you please paste the `depcheck` command and/or configuration file(s) please? thank you!

[2021-06-08 12:14] rumpl commented on #319
Nothing is really ever stale and all the issues should stay open, the truth is I do not have enough time to fix all the issues, new frameworks and new ways of importing code comes out every day. I am open to contributions though so if you feel like this is something that should *really* be fixed/implemented then I'll be more than happy to help with reviews or hand-holding around the codebase.

[2021-06-08 12:16] boeckMt commented on #319
Hey I use it inside a script

[code]

[2021-06-08 12:16] tony opened #651 "More examples (invocation, flags, and configs?)"
Hi, thank you for the project!  This seems very valuable!  I have a project that likely has many unused dependencies, but I'm not sure how to set up depcheck.

My project is a larger project using babel, typescript, webpack (with typescript webpack config), sass, eslint, etc.

When searching, I have had a difficult time finding examples. StackOverflow, Medium, GitHub Issues, documentataion here it

[2021-06-08 12:22] tony commented on #319
@rumpl

Hey, thank you for the project!  This has a lot of work put into it.

Yes it seems hard to comprehend the challenge - The myriad of ways JS projects can be assembled, invoked, etc. is immense.

Yes you're also right here.

Hey I want to make a side note: It's easier said than done to make a PR, there's a learning curve to understand the innards of a project and contribute to it.  If they h

[2021-06-08 12:32] rumpl commented on #319
@boeckMt what version of depcheck are you using? I think this line:
[code]

Should be

[code]

[2021-06-08 12:34] rumpl commented on #319
@tony Thank you for understanding :)

I do realize this, my hope is that one day I'll have the time and courage to fix some of the more complicated things or that someone with a will does it for everyone :)

[2021-06-08 13:12] boeckMt commented on #319
@rumpl I'm using version `^1.4.0`
All details are in the package https://github.com/dlr-eoc/ukis-frontend-libraries/blob/v7.3.1/scripts/library and it is used inside the file https://github.com/dlr-eoc/ukis-frontend-libraries/blob/v7.3.1/scripts/library/utils.ts

[2021-06-08 14:02] rumpl commented on #319
Hm, I'm surprised it works then, we changed the way regexes work quite a while ago

[2021-06-08 14:39] #650 closed

[2021-06-09 08:04] boeckMt commented on #319
@rumpl you are right, I don't have recognised that it was not working as expected.

So it really should be

[code]

[2021-06-09 08:58] eric-burel commented on #245
Ended up with the following command in my package.json that gives more clarity:
[code]

Note that `yarn run lerna exec` won't work as expected with the `--no-bail` option (this messes up the option order, because you run a command with yarn that runs a command with Lerna...). If you need to quick test this command instead do `./node_modules/.bin/lerna exec --no-bail -- depcheck`.

[2021-06-16 21:59] #620 closed

[2021-06-16 21:59] #623 closed

[2021-06-17 00:40] nichoth opened #653 ""Missing dependencies" local .scss file"
### Bug Description

I have added to this project -- https://github.com/nichoth/mars-roving/blob/main/package.json#L20

Using like this
[code]

And it returns incorrectly that it's missing `./src/style/main.scss`, a local .scss file.

[code]

### Versions

- `node -v`:
`v14.3.0`
- `npm -v`:
`7.12.1`
- `depcheck --version`:
`1.4.1`

[2021-06-20 18:54] thedeveloperr commented on #564
I am using a similar config but mine seems to work ok with depcheck.
If  use path it works if I  don't and only use basUrl it fails depcheck

**This fails depcheck:**
[code]
[code]

**This don't fails depcheck:**
[code]
[code]

[2021-06-26 00:59] #624 closed

[2021-06-29 13:41] tm-slavik57 opened #654 "reports false alert on swagger-ui-express"
The command resukt:
[code]
{
   ...
  "main": "src/index.ts",
  ...
 "dependencies": {
    ...
    "@types/swagger-ui-express": "^4.1.2",
    "swagger-ui-express": "^4.1.6",
    ...
  }
}
[code]
export * from './server'
...
[code]
import { ... } from './swagger-configuration'
[code]
import swaggerUi from 'swagger-ui-express'
...
[code]

[2021-06-29 14:33] tm-slavik57 commented on #654
I've pinpointed the issue to this function:

[code]

More specifically to the `<Server>` on the last line.
When I change it to `return servers.map(s => ({ url: s }))` it works.

[2021-06-29 14:38] rumpl commented on #654
Ah yes, there are some issues with typescript/react so whenever you use the deprecated cast depcheck doesn't work

[2021-06-30 02:29] #585 closed

[2021-06-30 08:29] armandorod2000 commented on #630
Same here... I have **ts-node** in my _DevDependencies_ and I'm using **ts-node/register** in one of my scripts (in package.json). Just like this: `"start": "...node -r ts-node/register -- ./src/app.ts"`
When I run **depcheck**, it shows **ts-node** listed as an unused dependency

[2021-07-01 12:56] thopiddock commented on #144
not stale

[2021-07-01 12:57] thopiddock commented on #144
Still would be nice to know if there's inbuilt support for this as I'm having the same issues as previous commenters
.

[2021-07-01 12:58] rumpl commented on #144
PRs welcome

[2021-07-08 01:17] #615 closed

[2021-07-09 02:50] mhamri commented on #426
I have the same issue , any solution for this?

[2021-07-09 19:12] sepsol commented on #605
I also have the same issue on a `create-react-app` project.

[2021-07-15 18:50] jfoclpf opened #655 "false alert on file src/server.js"
depcheck says I don't use `util`, but it's right there at the top of the file `src/server.js`

[code]

[2021-07-15 19:37] jfoclpf commented on #655
another very strange false alarm, module `path` which I use everywhere, depcheck oddly says I don't use it

[code]

[2021-07-15 20:24] jfoclpf commented on #655
AHH, now I get it :) there's no need to install `path`
https://nodejs.dev/learn/the-nodejs-path-module

and the same for `util` I guess

You guys are great!

[2021-07-15 20:24] #655 closed

[2021-07-22 02:57] tklltkioc commented on #651
I also think so.I need more examples, such as invocation, flags and configs.

[2021-07-22 07:33] crossjs commented on #249
not stale

[2021-07-26 15:56] joeyparis commented on #143
Can we have a way to specify the webpack config path? Mine is nested and follows a different path (e.g. `internals/webpack/webpack.prod.babel.js`)

[2021-07-27 17:29] clar-cmp commented on #568
Still a problem

[2021-07-30 15:12] #567 closed

[2021-08-03 10:09] crossjs commented on #553
not stale

[2021-08-04 14:12] dommyboy commented on #426
bump

[2021-08-06 18:35] axwils2 opened #661 "False Alert - aliasing a dependency in wepack config"
### Bug Description
In a repo that contains both rails/react apps (package.json lives in root directory). We use webpack.
A specific dependency is the `@hot-loader/react-dom` library. We alias this dependency and use it elsewhere in our codebase

### Code snippets

[code]

Where the dependency is listed in package.json:

[code]

### Versions

- `node -v`: `v14.5.0`
- `npm -v`: `6.14.5`
- `depcheck

[2021-08-10 02:49] #627 closed

[2021-08-10 02:49] #569 closed

[2021-08-10 11:37] Avivhdr opened #662 "False alert for package that is being used in "browserlist""
False alert for package that is being used in "browserlist"

### Code snippets

Where the dependency is used (`packege.json`):
[code]

Where the dependency is listed in package.json:

[code]

### Versions

- `node -v`: 16.4.2
- `npm -v`: 7.18.1
- `depcheck --version`: 1.4.2

### Extra info

![image](https://user-images.githubusercontent.com/23265867/128860090-6698d87e-77c2-4aea-9f54-4b4348806fee.p

[2021-08-11 00:50] chrisbobbe commented on #522
I think `rumpl` is asking you to clarify the use case. What are you trying to do, that you can't do with `depcheck` in its current state? That's a different question from "How should `depcheck` be changed?" 🙂

[2021-08-11 01:18] chrisbobbe opened #663 "Peer dependencies still showing as "unused" after being installed"
### Bug Description

Following up from https://github.com/depcheck/depcheck/issues/341#issuecomment-813430765, when I noticed a similar-looking issue. 🙂 If I've installed a package because of peer-dependency requirements, I don't expect it to show up under "unused".

Please see https://github.com/chrisbobbe/depcheck-repro for a minimal reproduction. I'm using Yarn 1.22.10.

In that project, which

[2021-08-11 18:54] KrisLau opened #664 "Package causing "RCTBridge required dispatch_sync to load RCTDevLoadingView" error"
### Bug Description
Getting this error whenever I include `depcheck` in my project. I tested it by removing and running the app then re-adding the package and running the app again.
[code]

### Code snippets

Where the dependency is used: In the command line/terminal

Where the dependency is listed in package.json:
[code]

### Versions

- `node -v`: `16.5.0`
- `npm -v`: `7.19.1`
- `depcheck --vers

[2021-08-12 21:36] KilgoreTrout9 opened #665 "False Positive"
depcheck --json

I used depcheck in a legacy code and it listed body-parser and cookie-parser even though both are being called in the server app.js.  I understand that body-parser is deprecated and that is maybe why that should be removed but cookie-parser is still used.  FYI.

Pete Cowles

[2021-08-13 08:17] Mossop opened #666 "Module imports defined in packages.json should not show as missing dependencies"
### Bug Description

It is possible to define import mappings in package.json: https://nodejs.org/api/packages.html#packages_imports. Currently depcheck flags imports from these as missing dependencies.

### Code snippets

Where the dependency is used:

[code]

Where the dependency is listed in package.json:

[code]

### Versions

- `node -v`: `v16.6.1`
- `npm -v`: `7.20.3`
- `depcheck --version`:

[2021-08-16 10:08] svandragt opened #667 "No matching version found for multimatch@^5.0.0"
### Bug Description

Cannot run depcheck

[code]

[2021-08-21 03:09] #380 closed

[2021-08-29 00:02] theKashey commented on #632
Still a problem

[2021-08-30 00:18] theKashey commented on #633
Still valid issue

[2021-08-30 19:54] ai opened #668 "Add PostCSS plugins support"
### Feature request description

Now `depcheck` shows `autoprefixer` in Unused dependencies. We can read PostCSS config and detect, that what dependencies was used there.

### Code snippets (if applicable)

`.postcssrc.json` (PostCSS support other config formats too):

[code]

How the dependency is listed in package.json (if applicable):

[code]

### Any extra info

Config docs: https://github.com

[2021-08-30 19:59] ai opened #669 "Tool doesn’t see `require()` from `.cjs` files"
### Bug Description

I have ESM project.

When I run `npx depcheck` I see many dependencies which is used in `webpack.config.cjs`.

### Code snippets

Where the dependency is used:

[code]

The header of `webpack.config.cjs`:

[code]

### Versions

- `node -v`: `v14.17.5`
- `npm -v`: `v14.17.5`
- `depcheck --version`: `1.4.2`

[2021-09-01 14:42] clemsos commented on #245
`yarn workspace foreach dlx depcheck` seems to work okay with yarn@2.4.2

[2021-09-04 23:17] #584 closed

[2021-09-09 14:55] karlhorky opened #671 "Fails with Top-Level Await"
### Bug Description

The following files will report an unused dependency of `node-fetch`, seemingly because of top-level await not being supported:

`index.js`

[code]

`package.json`

[code]

### Versions

- `node -v`: `v16.5.0`
- `npm -v`: `7.19.1`
- `depcheck --version`: `1.4.2` (latest)

### Extra info

Any extra info you want to include. Thank you for the bug report!

BONUS POINTS: If you wi

[2021-09-09 14:56] karlhorky commented on #671
Here's the output of `depcheck --json`:

[code]

[2021-09-09 14:58] karlhorky commented on #671
Lol I guess it was an issue with the `@babel/parser` transitive dependency, just did an `npm uninstall depcheck` and `npm install depcheck` and it worked 🙈 Closing!

[2021-09-09 14:58] #671 closed

[2021-09-09 17:48] rumpl commented on #671
Hahaha, glad it all worked in the end!

Sent from mobile - please excuse tone and brevity

[2021-09-14 13:22] hariombalhara commented on #669
Creating .depcheckrc file fixes it for me
[code]

[2021-09-14 13:47] jakeleventhal opened #672 "Inline script commands in package.json are ignored"
Reopening #584 and #257

When a dependency is only used inside parenthesis of another command in package.json scripts, depcheck marks this dependency as unused. e.g.:
[code]
Here, cross-env and wait-on are marked as unused.

This problem also happens with husky and jest

[2021-09-15 19:18] blwinters opened #673 "False alerts on unused dependencies"
We have a large React Native project that uses Typescript and I installed depcheck with `npm install -g depcheck typescript`. However, when I run `depcheck` in the project root it lists pretty much all dependencies and devDependencies as unused. For example, `expo-camera` is listed as unused, but a few active files import/use it via `import { Camera } from 'expo-camera'
`.  The project uses mostly

[2021-09-16 21:34] unglud opened #674 "False positive @types/chrome"
Hi!
I making a chrome extension with TS and use @types/chrome for chrome API types. It's not explicitly imported but used by IDE for type checking.

Example:
`await chrome.action.setBadgeBackgroundColor({ color: "green" });`

JSON output
[code]

[2021-09-19 01:39] #634 closed

[2021-09-19 01:39] #636 closed

[2021-09-26 10:29] Wyctus commented on #673
Same here in a large RN project.

[2021-09-27 07:34] hakimio commented on #663
Same issue here.
@rumpl any progress on this?

[2021-09-27 11:09] aamir-mns opened #675 "Make dep linked to npm"
### Add dep link to npm so it's easy to check the usage before removing it from package.json

From CLI, I copy the name of dep and search it on npm to check the usage. It will be nice that in CLI it prints the URL to npm as well.

### Code snippets
https://github.com/depcheck/depcheck/blob/main/src/cli.js#L63-L66

[code]

[2021-09-29 13:49] zardoy opened #676 "API is not usuable with bundler"
### Bug Description

https://github.com/depcheck/depcheck/blob/1c6efe2851b188d2c6bb24c5477c15692a1da2ed/src/constants.js#L5-L13

Please don't use dynamic requires here. Can we make them at compile time? My bundler isn't so smart, so it can't detect (and bundle) these imports. Because it isn't surrounded with try/catch, bundled code just crashes at runtime.

I suggest you to dynamically create `dis

[2021-09-29 14:00] rumpl commented on #676
PRs are more than welcome

On Wed, Sep 29, 2021 at 3:49 PM Vitaly ***@***.***> wrote:

[2021-10-01 23:54] #637 closed

[2021-10-02 10:24] Keysox commented on #649
Activity

[2021-10-11 07:00] #640 closed

[2021-10-13 09:11] scinos commented on #541
Can we reopen this? It is still relevant.

[2021-10-25 12:50] mishra-animesh opened #678 "Depcheck is reporting a false alert"
When I am running, depcheck, it is reporting a false alert for some of the dependencies. Child_process being one of them.

Snip from depcheck

![image](https://user-images.githubusercontent.com/50451900/138697241-50e2464b-2b8e-4bc0-89d0-4172ada0f87f.png)

Snip from package.json

![image](https://user-images.githubusercontent.com/50451900/138697299-f275dc89-2884-49af-abea-408c14b55fb3.png)

Snip fr

[2021-11-01 05:52] ptmkenny commented on #633
I'm only seeing a potentially related issue with media queries.

**styles.scss**

[code]

And `depcheck` reports:

`Missing dependencies
* only: ./styles.scss`

[2021-11-10 17:22] #568 closed

[2021-11-25 22:10] FlorianWendelborn commented on #564
Please don’t close it Mr. Bot

[2021-11-30 13:53] shian15810 commented on #630
Not stale, issue is still persisting

[2021-12-03 07:14] chaoccc729 opened #683 "Expect to allow scanning of ’one file‘"

[2021-12-03 20:51] Alfagun74 opened #684 "Svelte (with Typescript) support"
### Feature request description
Depcheck should recognize imports in .svelte files that use lang="ts" and typescript in their script tags.

### Code Example
[code]

[2021-12-07 01:11] BigForNothing opened #685 "Allow overriding gitignore"
### Feature request description

Allow overriding gitignore.

### Code snippets (if applicable)

`getIgnore` [parses .gitignore](https://github.com/depcheck/depcheck/blob/180e05a72e97fef1be40090b9deafa91081c68c9/src/index.js#L78). However you aren't able to override gitignore unless you do something like add `--ignore-path='fake'` (or the equivalent in the api/config). Doing so will prevent `.giti

[2021-12-09 00:25] #642 closed

[2021-12-14 06:53] Sam-Scheding opened #686 "False Negatives for peerDependencies"
### Bug Description

Running `npx depcheck` on a repo with missing `peerDependencies` incorrectly reports `"No depcheck issue"`

I've created a test repo to demonstrate the issue. The repo is just a fresh npm project with `babel-loader` installed (and a dummy webpack config so that `depcheck` doesn't report `babel-loader` as unused)

I've used `babel-loader` because it has `peerDependencies` defin

[2021-12-14 10:34] tm-slavik57 opened #687 "Depcheck started returning incorrect unused dependencies without any changes"
### Bug Description

I'm not sure it's related, but since of today depcheck started reporting incorrect unused dependencies.

### Versions

- `node -v`: 14.16.1
- `npm -v`: 6.14.12
- `depcheck --version`: 1.4.2

### Extra info

We are using `npx depcheck` and until yesterday it worked in our CI, starting from today it stopped working.
We didn't change anything, and on the same commit, it worked ye

[2021-12-14 10:39] filipw01 commented on #687
It's not just you, `@babel/parser` version 7.16.5 broke it, released 12 hours ago
Workaround, is to lock it using yarn resolutions
[code]

[2021-12-14 11:59] tm-slavik57 commented on #687
Do I have to make depcheck part of the `package.json` dev dependencies for it to work or is there a way to make it work with `npx` as well?

[2021-12-14 12:05] filipw01 commented on #687
For this exact solution you need to use `yarn` and have `depcheck` as your dependency. I'm not aware of any manual dependency locking mechanism for `npx`. For `npm` [npm-force-resolutions](https://github.com/rogeriochaves/npm-force-resolutions) might work, but I haven't tried it personally

[2021-12-14 16:49] olof-nord commented on #245
As someone who want to introduce npm workspaces for a monorepo, I am wondering if depcheck at all works.

As dependencies used in more than one sub-project are moved (hoisted?) to the root node_modules, basically several `dependencies` are reported as unused.

I imagine if the sub-project package.json in combination with the local as well as root node_modules would be taken into account, the depen

[2021-12-14 18:28] danielreidwoebot opened #688 "Running against .ts files fails with error: 'TypeError: p is not iterable'"
### Bug Description
I'm trying to run depcheck against TypeScript code but it's failing with the error: ` TypeError: p is not iterable`. I've tried installing with `npm i -g depcheck` and also `npm i -g depcheck typescript`.

The error was generated after running:
[code]

I have tried:
[code]
However, when I run this (^) command I get the error: `Cannot read property 'split' of undefined`. It does

[2021-12-14 18:33] rumpl commented on #688
Can you try with `depcheck path/to/my/repo --parsers="**/*.ts:ts" --json`

[2021-12-14 22:57] theahura opened #689 "Different results when running depcheck from npm install -g vs npx"
### Bug Description

When I run `npx depcheck` I get `No depcheck issue`. When I run `npm install -g depcheck` followed by `depcheck` I get a list of ~13 unused dependencies that are actually used. As far as I can tell this is a new phenomenon -- depcheck was working fine yesterday.

### Code snippets

NA (not including because its like the entire codebase, and it doesn't really seem to be relevan

[2021-12-15 07:01] hedgepigdaniel commented on #688
I think the problem is that this is not a valid plugin configuration: https://github.com/depcheck/depcheck/blob/180e05a72e97fef1be40090b9deafa91081c68c9/src/parser/typescript.js#L34

[2021-12-15 09:25] filipw01 commented on #689
Might be related to #687

[2021-12-15 09:49] rumpl commented on #689
Yeah, npx is doing something funky and uses the wrong babel parser... Not sure what I can do, I'll close this one as it's a duplicate

[2021-12-15 09:49] #689 closed

[2021-12-21 14:36] slavoroi commented on #688
I can confirm. I feel like it's a dependency of a dependency.
Using node 16 and depcheck `1.4.0`, `1.4.1` and `1.4.2`

[2021-12-22 19:45] josemlira commented on #673
Hi! Do we have any updates on this? I'm also having this issue in a RN project.

[2021-12-26 03:21] theahura opened #693 "Depcheck fails on express, socketio, mongodb"
### Bug Description

I have an index.ts file that imports a set of libraries. These are considered missing by depcheck. See code snippets below.
Error is:
[code]

### Code snippets

Where the dependency is used:

[code]

Where the dependency is listed in package.json:

[code]

### Versions

- `node -v`: 14.18.1
- `npm -v`: 6.14.15
- `depcheck --version`: 1.4.2

### Extra info

Any extra info you w

[2021-12-26 03:27] theahura opened #694 "depcheck github action"
This is less of a feature request and more of an FYI: we've been using github actions for our internal ci/cd and built out a wrapper to make depcheck compatible. It's a fairly lightweight wrapper, literally just installs the library and then passes whatever args right through to the CLI. Figured I'd let the community know: https://github.com/theahura/depcheck-action

[2021-12-28 10:53] capsuleman commented on #688
I can confirm, I modified my `yarn.loock` file to change the `@babel/parser` version to `7.16.5` and the errors have diseapeared. Thanks!

[2021-12-28 14:05] Chocobozzz commented on #688
`7.16.5` does not seem to work on my side. Had to install `7.16.4`. `package.json` config for people that use yarn:

[code]

and then run `yarn install` to update `yarn.lock`

[2021-12-29 13:11] kpala commented on #693
Based on the provided `depcheck --json` output, you are getting the same error as reported in https://github.com/depcheck/depcheck/issues/688.

[2021-12-30 02:35] zhoushoujian commented on #687
I tried 'npm npm-force-resolutions', it doesn't work, because npm-force-resolutions only install babel in my npm project, not in depCheck project, so in  depCheck folder, it has its own node_modules and only its babel. In fact, my npm project needn't babel, with npm npm-force-resolutions, it will install babel in my npm project.
By the way, as my npm project package, user may use npm or pnpm to in

[2022-01-09 15:39] karlhorky commented on #687
@rumpl can you release a new version locked to `"@babel/parser": "7.16.4"`?

[2022-01-09 17:00] karlhorky commented on #687
In the meantime, for anyone looking for a fixed version of `depcheck` (eg if you cannot use resolutions for whatever reason), change your version in your `package.json` to the version below.

We locked the version of `@babel/parser` to `7.16.4` and ran the `compile` and `component` scripts. Check the repo here: https://github.com/upleveled/depcheck

[code]

[2022-01-09 19:06] rumpl commented on #687
I just released [version 1.4.3](https://www.npmjs.com/package/depcheck/v/1.4.3)

[2022-01-09 19:08] rumpl commented on #687
@karlhorky thanks, next time feel free to open a PR 👍

[2022-01-09 22:10] karlhorky commented on #687
@rumpl Thanks for the quick response and publish! 🙌 Good idea about the PR - I definitely try to do this most times, and will continue to do this in the future.

[2022-01-09 23:00] #633 closed

[2022-01-10 09:45] karlhorky commented on #600
Is this actually stale? Or is this still an issue? I don't see a `postcss.js` file in [the `special` folder](https://github.com/depcheck/depcheck/tree/main/src/special)

cc @rumpl

[2022-01-10 09:47] rumpl commented on #600
It's stale in a sense that no one is working on it for a long time so the bot closes it

[2022-01-10 09:57] karlhorky commented on #600
Ok no worries, should a new issue be opened? Or can this one be reopened?

[2022-01-10 10:13] znarf commented on #687
@rumpl @karlhorky I don't see the rationale for fixing this particular dependency, and not others like say `@babel/traverse`. We could end up with inconsistencies.

Now that it's fixed, what will be the strategy moving forward to update it?

I think https://github.com/depcheck/depcheck/pull/692 was a better answer to the problem.

[2022-01-10 10:18] rumpl commented on #687
I only followed this from afar but from what I can tell the issue is that:

1. babel/parser released a new patch version that had some backward incompatible changes
2. `npx` doesn't read the lockfile for some reason

`1.` is fine I guess, happens all the time, `2.` is more problematic since it would seem that there is no way to make this work reliably.

Best strategy would be to update all `@babel

[2022-01-10 10:19] karlhorky commented on #687
This was only a short-term hotfix, because the latest published version of `depcheck` was broken for new users - it was reporting false positives. Locking this dependency is a short-term workaround for the problem, which did not show any other problems in my testing.

As mentioned above, it's not a longer-term fix, so it still needs to be resolved in a more permanent way. This is also why this cur

[2022-01-10 10:20] rumpl commented on #687
Dammit, I didn't read the #692 since it was red but it's because codecov is just broken, I'll remove it...

[2022-01-10 10:32] znarf commented on #687
The lockfile is currently not published in the package, and that's right, it should not. npx only relies on package.json.
https://stackoverflow.com/questions/44546718/should-package-lock-json-also-be-published

For a library/package, I would say it should even not be commited to the git repository.

[2022-01-10 10:35] rumpl commented on #687
Ok, today I learned something and I cannot imagine why they would do that...

It should, why wouldn't someone want to lock the dependencies?

[2022-01-10 10:44] znarf commented on #687
As we just saw, it's not used and not published, so it could be confusing. If it's only used in dev environment, is it worth it? You can check, libraries are commonly not committing their package-lock.json https://github.com/eslint/eslint   https://github.com/vercel/next.js https://github.com/facebook/react

[2022-01-10 10:54] rumpl commented on #687
next.js and react use yarn, found [this](https://www.twilio.com/blog/lockfiles-nodejs), kinda explains the thing...

Well... Okay then #696

[2022-01-10 11:19] znarf commented on #687
oh, true! and in the case of React and Next.js, the yarn.lock is committed

[2022-01-12 20:27] efriandika commented on #663
This feature works as expected.
Please check your `node_modules/some-libs/package.json` if it has peerDependencies info or no. Because this libs rely on peerDependencies info in `node_modules/some-libs/package.json`

[2022-01-12 20:37] chrisbobbe commented on #663
Thanks for the response! 🙂

Do you mean the bug hasn't reproduced when you've followed my instructions with my sample project? 🙂 Or do you mean you don't think the behavior I'm describing is a bug (and why)?

Here is the relevant part of node_modules/@octokit/plugin-request-log/package.json:

[code]

(This is what I expect to see there, based on the peer-dep warning I quoted in the reproduction re

[2022-01-12 21:00] efriandika commented on #663
There is something wrong with your repo.

All of your [dependencies](https://github.com/chrisbobbe/depcheck-repro/blob/main/package.json#L6) are unused. Because you never use it in `import { Octokit } from "@octokit/core"` or `require("@octokit/core")`

Try to add this:
index.js:
[code]

[2022-01-12 21:23] chrisbobbe commented on #663
Ah OK, thanks for that explanation! I think we're working with different meanings of "unused".

In the meaning I have in mind (and the author of https://github.com/depcheck/depcheck/issues/341#issuecomment-813430765), I say that I'm "using" `@octokit/core` to satisfy peer-dependency requirements, by including it in `dependencies`. That's why I said this:

I don't have any reason to "use" `@octokit

[2022-01-12 22:45] efriandika commented on #663
**Your https://github.com/chrisbobbe/depcheck-repro is NOT correct.**

Please keep in mind:
* This libs detect unused libs if it is not imported in any files.
* If you import a libs, and it has peerDependencies, its peer dependencies WILL NOT marked as unused.

Example:
If you have a dependency to `X` which X has peerDependencies to `Y`. Both of them will be considered as used.
But, please keep in

[2022-01-12 23:11] rumpl commented on #663
@efriandika thanks for jumping in and explaining the issue. I guess we can close this now right?

[2022-01-13 04:19] efriandika commented on #663
????

Have you read the all aspect of the prev comments?

[2022-01-13 10:53] blazkovicz opened #697 "Support React 17"
With upgrade to react 17 this tool stops parsing valid .tsx files, says that all their dependencies are unused.

[2022-01-13 10:55] rumpl commented on #697
Hi @blazkovicz can you please update your issue with all the things that are asked please? And even better if you have a repository that reproduces the issue?

[2022-01-13 11:02] #697 closed

[2022-01-14 13:16] hakimio commented on #663
@efriandika you are clearly the one lacking reading comprehension here. Just stop. You are not helping anyone.

[2022-01-14 13:17] rumpl commented on #663
Ok people, please calm down, promise I'll take a look at this issue on Monday, please stop commenting if you want to be rude. Sorry everyone for not being more involved with this issue. <3

[2022-01-15 18:31] jonaskello commented on #245
If anyone is looking for a bash workaround this oneliner in as a package.json script worked out quite well for me:

[code]

[2022-02-20 11:37] vaclav-stummer commented on #568
Still a problem for the devDependecy `"@types/geojson": "7946.0.8",`

[2022-02-21 11:07] KnisterPeter opened #699 "Ignore false positives in code"
### Feature request description

It would be nice to be able to mark false positives as such.
Like the eslint magic comments or typescript magic comments to suppress errors which are false positives.

### Code snippets (if applicable)

How the dependency is used (if applicable):

[code]

How the dependency is listed in package.json (if applicable):

[code]

`webpack` is imported, but not declared.

[2022-03-01 12:29] denbezrukov opened #700 "Gatsby dependency spec"
Hello,
Thank you for your work.

Could you please help me to understand expected result of [the test](https://github.com/depcheck/depcheck/blob/3d1a45fe8ceb4d7d38c34e99d61b327aa97f65d3/test/spec.js#L168)?. It seems that `['gatsby-plugin-react-helmet', 'gatsby-plugin-sass']` are unused dependencies. But fake module [contains](https://github.com/depcheck/depcheck/blob/3d1a45fe8ceb4d7d38c34e99d61b327

[2022-03-02 10:05] #651 closed

[2022-03-02 10:05] #661 closed

[2022-03-02 10:05] #662 closed

[2022-03-02 10:05] #653 closed

[2022-03-02 10:05] #605 closed

[2022-03-02 14:49] Keysox commented on #649
Bump

[2022-03-22 09:28] davidstrouk opened #701 "react-avatar"
### Bug Description

When running "depcheck" on my project it says that "react-avatar" is an unused dependency whereas I'm explicitly importing it.

### Code snippets

Where the dependency is used:

[code]

Where the dependency is listed in package.json:

[code]

### Versions

- `node -v`: v16.13.2
- `npm -v`: 8.1.2
- `depcheck --version`: 1.4.3

### Extra info

Any extra info you want to include.

[2022-03-22 09:28] davidstrouk opened #702 "react-syntax-highlighter"
### Bug Description

When running "depcheck" on my project it says that "react-syntax-highlighter" is an unused dependency whereas I'm explicitly importing it.

### Code snippets

Where the dependency is used:

[code]

Where the dependency is listed in package.json:

[code]

### Versions

- `node -v`: v16.13.2
- `npm -v`: 8.1.2
- `depcheck --version`: 1.4.3

### Extra info

Any extra info you want

[2022-03-23 08:30] hakimio commented on #663
@rumpl any progress on the issue?

[2022-03-29 18:22] dapirian commented on #545
I have the same issue, would appreciate some guidance

[2022-03-30 19:29] dapirian opened #703 "recursive gitignore files are not respected"
### Bug Description

depcheck only uses the repo's root gitignore file for default depcheck ignores, but gitignore is a file that can be placed anywhere in a repo, often multiple of them. Currently the only workaround for this issue is to either collapse all of a repo's gitignores into the root gitignore, or to make depcheck ignore mirror gitignore.

### Versions

- `node -v`: v16.6.2
- `npm -v`:

[2022-03-31 06:52] jeswr opened #704 "--include-path and --include-pattern"
### Feature request description

It would be nice to be able to whitelist paths/patterns rather than just blacklisting patterns. Here is a [use case](https://github.com/comunica/comunica/pull/967#discussion_r837450688)

[2022-04-05 22:39] ahutch95 commented on #687
I seem to be experiencing this same issue again. Is it possible another dependency has been updated?

[2022-04-06 17:29] miluoshi opened #707 "'events' dependency is reported as unused even if directly imported"
### Bug Description

`events` package is browser implementation of native NodeJS package. Even it is directly imported in the code `depcheck` reports it as unused dependency. Because it is a native NodeJS package, it is detected as `@types/node`. See output of `DEBUG=* depcheck`:

[code]

### Code snippets

Where the dependency is used:

[code]

Where the dependency is listed in package.json:

[co

[2022-04-06 19:32] TomNUSDS commented on #672
Came here to report this very same issue.
Something as simple as this generates a glaring false positive report.

[code]

[2022-04-07 21:33] rubengmurray commented on #630
I don't get the issue with `eslint` in `devDependencies` with this included in my `package.json`:

[code]

[2022-04-07 21:40] rubengmurray opened #708 "ELIFECYCLE 255 ERR! When run as a `package.json` script"
### Bug Description

Running `npx depcheck` in the root directory of my project produces a printout without an error
Running `depcheck` as a `package.json` script in the same folder (`"depcheck": "depcheck"`) produces the same read out followed by

[code]

### Code snippets

Where the dependency is used:

I wanted to use this as part of a husky pre-commit / pre-push hook... but running it there ev

[2022-04-11 13:42] j1n3l0 opened #709 "False alerts for a few dev dependencies"
As per your _false alerts_ instructions [here](https://github.com/depcheck/depcheck#false-alert) I have what I would consider to be a few false alerts.

--    The output from depcheck --json command. Beautified JSON is better.

[code]

--    Which dependencies are considered as false alert?

[code]

--    How are you using those dependencies, what do the files look like?

    **"@tsconfig/recommen

[2022-04-12 20:35] hdidier commented on #663
Wanted to add that I'm also seeing this issue and looking forward to a resolution.

[2022-04-14 02:35] jasperdunn commented on #708
I'm getting this issue too, using pnpm 6.32.6 and node v14.8.0

[2022-04-16 02:24] jeremy-daley-kr commented on #533
@rumpl I'm using `child_process.exec()` to `npx depcheck`, and that helped. It kept exiting otherwise. It'd be nice if there was a `--prevent-exit` flag or something... but this works for now:

[code]

Thanks!

[2022-04-16 15:30] #664 closed

[2022-04-16 15:30] #665 closed

[2022-04-16 15:30] #632 closed

[2022-04-16 15:30] #666 closed

[2022-04-16 15:30] #668 closed

[2022-04-16 15:30] #669 closed

[2022-04-16 15:30] #674 closed

[2022-04-16 15:30] #675 closed

[2022-04-16 15:30] #676 closed

[2022-04-16 15:30] #678 closed

[2022-04-16 15:30] #667 closed

[2022-04-16 16:57] FlorianWendelborn commented on #564
@stale still not a good idea

[2022-04-19 13:56] miluoshi commented on #632
This is not solved yet. Actually, there's no need for unmaintained `scss-parser`, because `sass` can parse scss files.

[2022-04-25 15:32] vire opened #711 "Allow marking a directory to pass the `isModule` check"
### Feature request description

When using `depcheck` inside a [NX](https://nx.dev/) monorepo - it might happen certain folders contain `temproray` package.json which can have omitted dependencies (that will be populated during build of such packages) - but now these directories are skipped by `depcheck`

I'd welcome an config option either to explicitly allow depchecking or some better advice.

[2022-04-26 09:40] vire commented on #711
duplicate #704

[2022-04-26 09:40] #711 closed

[2022-04-30 23:12] #683 closed

[2022-04-30 23:12] #684 closed

[2022-04-30 23:12] #685 closed

[2022-04-30 23:12] #686 closed

[2022-05-10 05:15] meskill opened #712 "False alert for css modules after upgrade from v0.9.2"
### Bug Description

We have a monorepo that uses depcheck for dependencies control.

After upgrading from depcheck v0.9.2 to v1+ we got one failed unit-test related to css modules.

Source code for [test](https://github.com/Tinkoff/tramvai/blob/main/tools/monorepo/depscheck/src/depscheck.spec.ts#L123) and [fixture](https://github.com/Tinkoff/tramvai/blob/main/tools/monorepo/depscheck/src/__fixtur

[2022-05-10 13:00] JohnBerd opened #713 "Add a --skip-dev-dependencies flag"
### Feature request description

There are too many false positives in devDependencies React Native project, and I would like to add this tool to my CI without having to change the .depcheckrc each time I add a dev dependency.

It would be great to have an option to skip the devDependencies

Cheers!

[2022-05-10 14:01] rumpl commented on #713
So we actually used to have this option, then we deprecated it and finally removed it, there were too many issues with it... You can see here: https://github.com/depcheck/depcheck/pull/450

What false positives do you get?

[2022-05-11 13:40] JohnBerd commented on #713
Thank you for your quick answer!

Such a shame. Sorry for not having found this issue, so I have exactly the same problem.
For example with babel, types, typescript, eslint modules.
Anyway I don't want the devDependencies to be checked at all.

[2022-05-17 20:18] tal-rofe opened #714 "Depcheck skips commonjs files"
### Bug Description

Depcheck skips ".cjs" files

### Code snippets

Where the dependency is used:

[code]

Where the dependency is listed in package.json:

not relevant

### Versions

not relevant

### Extra info

if file name ends with .cjs depcheck will skip
I got an error for unused import: "chalk"
after changing file name to .js it worked

Any extra info you want to include. Thank you for the

[2022-05-19 17:07] dep opened #715 "Unexpected token '.'"
### Bug Description

This just started appearing today without warning in our CI builds. I'm not sure why, we haven't changed anything related to depcheck.

### Code snippets

[code]

Where the dependency is listed in package.json:

[code]

### Versions

- `node -v`: v10.15.0
- `npm -v`: 6.4.1
- `depcheck --version`: 1.4.3

### Extra info

n/a

[2022-05-20 13:12] Alyshtar commented on #715
I have the same problem using depcheck with npx or trying to install it to use it localy.
Local invocation provides more details about the error :

[code]

 It seems to come from [vue/compiler-sfc](https://www.npmjs.com/package/@vue/compiler-sfc) recent update.

[2022-05-20 13:16] rumpl commented on #715
Yeah, `npx` doesn't read the package lock, we would need to update the dependency and see what broke and how to fix it.

I opened a PR months ago, still have to merge it: https://github.com/depcheck/depcheck/pull/696

Anyone up for fixing this and opening a PR?

[2022-05-23 10:27] jorisknulst commented on #708
Me too!  Just like [rubengmurray](https://github.com/rubengmurray) I want to include it as a pre-commit script...

[2022-05-23 15:46] dep commented on #715
Started working again mysteriously today! Gonna be a good week. 🎉

[2022-05-23 15:46] #715 closed

[2022-05-27 00:54] dobesv commented on #672
If you look at https://github.com/depcheck/depcheck/blob/main/src/special/bin.js you can see the rules it uses - they aren't comprehensive.  You could try opening a PR to try and handle additional cases.

[2022-06-01 17:50] dobesv opened #719 "Support babel preset scope shorthand"
### Feature request description

In babel config, you can specify a preset as `@foo` and babel will search for a package named `@foo/babel-preset` instead.

[2022-06-01 18:38] dobesv opened #720 "Support typescript "extends" and "types" fields"
### Feature request description

In TypeScript you can referenced your dependencies in the `extends` field, for example:

[code]

or just

[code]

So when processing typescript files we need to look into the `tsconfig.json` file and if we see an `extends` key we need to treat that like an import.

Also, in `tsconfig.json` you can specify a `types` field which sort of implicitly imports those types

[2022-06-01 19:00] dobesv opened #721 "Detect babel config in package.json"
Babel configuration can be placed into `package.json`, e.g.

[code]

In this case `@foo/bar` should be considered a dependency.

[2022-06-01 19:17] dobesv opened #722 "Support graphql imports"
### Feature request description

GraphQL is a popular technology, which uses files with the `.graphql` extension to define schemas and operations.  In many environments, these files can import other files (including from packages) use a syntax like:

[code]

The given path is passed directly to node's `require` mechanism.

Example parser implementation:

[code]

[2022-06-01 19:59] dobesv commented on #722
The code above doesn't quite work, though ... still working on it.

[2022-06-03 00:24] dobesv opened #723 "Support babel config that exports a function"
### Feature request description

When you define a `babel.config.js` you can return a function, e.g.

https://gist.github.com/gtzilla/a6ae9777a987df1ee1357df51bf9cd61

When parsing this config file, if it a returns a function the function has to be called and provided a stub implementation of that babel api.

See https://babeljs.io/docs/en/config-files#config-function-api

[2022-06-03 00:41] dobesv commented on #722
Would you accept a PR for this feature?  Or should I just keep this local to our project?

[2022-06-03 07:48] rumpl commented on #722
Oh I would definitely accept a PR for this! :)

thanks

[2022-06-03 18:18] #722 closed

[2022-06-04 23:21] unional opened #728 "should ignore `.yarn` folder"
### Bug Description

the `.yarn` folder is used by `yarn` 2+ and probably should be excluded from `depcheck`.

I'm getting this error:

[code]

`.yarnrc.yml`
[code]

### Versions

- `node -v`: v16.15.0
- `npm -v`: 8.5.5
- `yarn -v`: 3.2.1
- `depcheck --version`: 1.4.3

### Extra info

`depcheck --json`:

[code]

[2022-06-11 13:13] ericcornelissen opened #733 "mjs and cjs extensions not detected by default"
### Bug Description

depcheck does not seem to recognize JavaScript files using the file extensions `.mjs` and `.cjs` by default. These file extensions are used to allow writing JavaScript with ESModule syntax in CommonJS projects (`.mjs`) or JavaScript with CommonJS syntax in ESModule projects (`.cjs`). You can read more about this in the Node.js documentation, see [ECMAScript modules](https://no

[2022-06-11 13:22] ericcornelissen opened #734 "Rollup not detected in npm command definition"
### Bug Description

Depcheck does not seem to recognize [rollup.js] when it's used in a npm command definition.

This problem was raised before in #231 but it wasn't addressed. In the context of #231, I do feel like detecting whether [rollup.js] is used based on the configuration file is not a great idea. The configuration file may exist even though [rollup.js] isn't actually used.

### Code snip

[2022-06-15 11:21] supalarry opened #735 "Depcheck errors without "--parsers" flag"
### Bug Description

If I do not add `--parsers` flag, then I get syntax errors raised by the babel parser.
However, if I add ANYTHING in the `--parsers` flag, the syntax errors raised by babel are gone.

### Not working example
[code]

### Working example

[code]

When I said adding anything in the parsers flag I meant literally anything. I added actually ran  `--parsers` with the value of `"hell

[2022-06-15 11:39] supalarry opened #736 "255 exit code is confusing"
### Feature request description

Handle missing "invalidFiles" and "invalidDirs" differently than dependency issues.

### Example

If I run `pnpm depcheck` and I have unused dependencies BUT THERE ARE NO invalid files or dirs, I get a message
[code]

However, if there are invalid files or dirs (as can be seen with the `--json` flag), the message is the same:
[code]

Unless the problem is on my end

[2022-06-16 15:45] nocive commented on #736
We started seeing weird exit codes with node 16.15 as well, in our case it was exit code 243.
Rolling back to node 16.14 fixed the issue for us.

[2022-06-22 14:43] thorsent commented on #615
The `parsers` config seems to override the defaults, so if you're using different types of files then you'll need to provide all of them, including what would otherwise be built in. Here's a complete list that includes the node and typescript ES6/CommonJS extensions. If you're using Coffeescript, Svelte, Vue etc then you can follow this syntax and add those extensions. Here are all the builtins (h

[2022-06-25 01:25] khaing211 commented on #721
There is eslint and prettier config in `package.json`. I hope this issue covers that.

[2022-06-29 12:16] jlarmstrongiv commented on #649
Bash and npm scripts coverage would be nice

[2022-06-29 15:41] jlarmstrongiv commented on #733
For the cli version, `--parsers='**/*.js:es6,**/*.cjs:es6,**/*.mjs:es6'`

[2022-07-08 07:52] darlenya opened #737 "False Alert on unused dependency"
### Bug Description

I have a dependency which is alerted as unused.
The reason for it is the folder Structure like this:
root
   |- someDir
       |- lib
           - fileUsingTheDependency

The dependencies used in the files in the 'lib' folder are ignored.
After moving the file to a folder called 'lub' the dependency was not alerted any more.

### Versions

node: v16.14.2
depcheck 1.4.3

[2022-07-14 16:32] taschmidt commented on #639
I think this should be reopened since it makes the serverless functionality pretty useless. We make extensive use of the short form syntax in our configs and it's valid in `serverless.yml`.

[2022-07-26 23:48] dobesv commented on #663
I think the rules of npm are such that if a module has to satisfy the peer dependencies of its dependencies using a dependency or propagate them upwards using a peer dependency.

If you have packages that aren't properly re-exporting the peer dependencies they don't satisfy that is likely a bug in that package, not depcheck, and should be reported there.

At least, that's my interpration based on

[2022-07-26 23:48] #723 closed

[2022-07-26 23:49] dobesv commented on #721
This issue only refers to babel, probably safer to open separate issues for those ones.

[2022-07-28 02:23] nnfans commented on #130
`node-sass` is deprecated and it makes the npm install throw an error
can we remove it or update to `7.0.1` so it does't throw an error
[code]

[2022-07-28 02:24] nnfans opened #738 "Error npm install node-sass"
`node-sass` is deprecated and it makes the npm install throw an error
can we remove it or update to `7.0.1` so it does't throw an error
[code]

[2022-07-29 16:29] dobesv opened #740 "Option to error if peer dependencies are not supplied"
### Feature request description

Currently depcheck does support peerDependencies in that it will not consider a dependency unused if it's a peer dependency of a dependency.

The idea here is to have a stronger version of this check where it actually will consider app peer dependencies of a module's dependency as used, unless they are marked `optional` in `peerDependenciesMeta`.

### Why?

If peer

[2022-07-31 04:19] #688 closed

[2022-07-31 04:19] #693 closed

[2022-07-31 04:19] #694 closed

[2022-07-31 04:19] #673 closed

[2022-07-31 09:47] jeswr commented on #704
This would still be a useful feature, and I am not the only one wanting it as seen in #711

[2022-07-31 14:36] robdefeo commented on #245
Commenting to un-stale issue. It's an important feature, we and others use monorepo's and this would be helpful as it's easy to add dependencies but checking if they are no longer needed is more problematic.

[2022-08-02 02:00] garyking opened #742 "Fails to detect `import type` usage"
I know that `import type` support was apparently added [here](https://github.com/depcheck/depcheck/pull/439), but it doesn't seem to be working.

If I have `"eslint": "7",` in `dependencies` in `package.json`, and I have `import type eslint from 'eslint';` at the top of a `.ts` file, then `depcheck` still marks `eslint` as unused.

[2022-08-02 02:17] garyking opened #743 "Can't use a `config` file in API"
It seems like we can't use a `config` file in the API. There is no `config` option available. And running `depcheck` on a project doesn't seem to read that project's `.depcheckrc` file.

[2022-08-04 09:35] Dimrok opened #744 "`invalidFiles` and `invalidDirs` are silently ignored and cause false positives."
### Bug Description

`invalidFiles` and `invalidDirs` are silently ignored and cause false positives.

Minimal example: https://github.com/Dimrok/depcheck-cast-bug

In my example, code is valid typescript but uses the <> cast operator (https://www.typescripttutorial.net/typescript-tutorial/type-casting)

[code]

This causes depcheck to fail.
[code]

But with further investigation (using --json)

[

[2022-08-05 00:42] martinsagat commented on #743
Hi @garyking, can you provide an example of how you are trying to implement your code?

[2022-08-05 00:45] martinsagat commented on #737
@darlenya have you added parsers?

`
const options = {
  parsers: {
      // the target parsers
      '**/*.js': depcheck.parser.es6,
      '**/*.jsx': depcheck.parser.jsx,
      '*.ts': depcheck.parser.typescript,
      '*.vue': depcheck.parser.vue,
  },
 }

depcheck(__dirname, options).then((unused) => {
  /* eslint-disable */
  console.log('Unused dependencies: ', unused.dependencies) // an arr

[2022-08-05 11:26] cope commented on #737
@martinsagat how does one add parsers in .depcheckrc file?

[2022-08-05 11:31] martinsagat commented on #737
@cope you don't add them to file, you can pass them in parameter:

--parsers="*.js:es6,*.jsx:jsx,*.json:json1&json2" etc..

[2022-08-05 11:34] cope commented on #737
I think this may work:

[code]

you gotta be able to add them to a file?

See: https://github.com/depcheck/depcheck/blob/main/doc/pluggable-design.md#use-parser-from-a-configuration-file

[2022-08-05 11:36] martinsagat commented on #737
@cope you are right actually, glad you found what you were looking for 🙂

[2022-08-05 11:42] darlenya commented on #737
Hi, no I have not added any parsers. It is just that the files in a folder Called 'lib' are ignored.
I do not understand why this parser setting is the solution. Could you explain it?

[2022-08-05 11:43] cope opened #746 ".vue false positives"
I have a .depcheckrc file, that I am not 100% sure about, tbh:
[code]

And depcheck reports:
[code]

But, each of those is imported in some .vue file.

@headlessui/vue:
[code]

Both @headlessui/vue and @vueuse/core:
[code]

Both chartjs-plugin-datalabels and vue-chartjs:
[code]

query-string:
[code]

I believe I am doing _something_ wrong, but I can't figure out what? 😢

[2022-08-05 12:29] cope commented on #737
@darlenya no, I'm just guessing since I had a similar problem but on my side there is no lib folder...

[2022-08-05 12:42] darlenya commented on #737
ok, thanks. Was a little bit confused :-)

[2022-08-05 15:38] garyking commented on #743
I have one project, which uses the depcheck API (`await depcheck()`) to run it on any of my other project's.

Let's say in one of my projects, I have a `.depcheckrc` file containing `ignores: ["eslint"]`. If I run `depcheck` in the console on this project, then it reads the config file just fine.

But the `await depcheck()` API function does not support a `config` property as one of its options (w

[2022-08-15 21:47] karlhorky commented on #687
I guess this is not stale, right?

[2022-08-16 15:58] rasmusbe opened #747 "Gatsby special is not parsing typescript configs"
### Bug Description

Gatsby supports typescript configs since version 4.9 but the depcheck.
https://www.gatsbyjs.com/docs/how-to/custom-configuration/typescript/#gatsby-configts

### Versions

- `node -v`: v16.15.0
- `npm -v`: 8.5.5
- `depcheck --version`: 1.4.3

[2022-08-17 15:30] AndersDJohnson opened #748 "support custom module resolvers"
### Feature request description

It might be a nice feature to add an option to specify additional module roots where imports can be resolved, or other means of specifying custom resolvers, similar to `eslint-plugin-import`: https://github.com/import-js/eslint-plugin-import/blob/main/README.md#resolvers. We could perhaps even look at how those ESLint resolvers are written, and use the same API so

[2022-08-23 06:36] sambs commented on #744
I encountered the same issue (with the same typescript syntax too). I would much prefer to be warned about invalid files.

[2022-08-25 22:55] jfoclpf opened #750 "Suddenly stopped working"
### Bug Description

depcheck was working fine and it was part of my test script, but it stopped working.

I run it and it does not do anything. I wait for several seconds, even minutes and nothing.

![image](https://user-images.githubusercontent.com/3984909/186782551-1d83f344-a768-4845-bb66-55248079d775.png)

I was using it on command line, in my test script.

I didn't install depcheck globally,

[2022-08-25 23:04] jfoclpf commented on #750
found the issue with `DEBUG=* npx depcheck`. You should mention in the docs that you guys have the module `debug`

I have hundreds of thousands of new JSON files and he was searching through all these files

![image](https://user-images.githubusercontent.com/3984909/186783745-3106c61b-db78-4757-8ca3-74976c88e8a9.png)

[2022-08-25 23:04] #750 closed

[2022-09-01 21:53] fleetwire opened #751 ""path" false positive"
`"path": "^0.12.7"` dependency shows up as unused. I use it in two files via `const path = require('path');`

Files where `path` is used:`webpack.config.js` & `vue.config.js` in the root folder.

[code]

[2022-09-16 05:07] ianwremmel commented on #742
I suspect part of the problem is that `detectTypescriptImportType` never got added to `defaultOptions`, but even when passed explicitly, it doesn't seem to work as expected.

[2022-09-21 01:59] #707 closed

[2022-09-21 01:59] #709 closed

[2022-09-21 01:59] #630 closed

[2022-09-21 01:59] #245 closed

[2022-09-21 01:59] #699 closed

[2022-09-21 01:59] #701 closed

[2022-09-21 01:59] #700 closed

[2022-09-21 01:59] #702 closed

[2022-09-21 01:59] #703 closed

[2022-09-21 06:16] meskill commented on #712
still an issue...

[2022-09-23 12:46] rubengmurray commented on #708
This might need one of us on this PR to take a look?

[2022-09-27 12:24] matz3 commented on #297
I fully agree with @phil-lgr. This should not cause a missing dependency issue in case the package defines "exports" in the `package.json`.

[2022-09-27 14:00] timdp opened #753 "Cannot load metadata from ESM package"
### Bug Description

`utils.loadModuleData()` is defeated b yESM packages.

### Code snippets

[code]

This crashes the [`require.resolve('.../package.json')` call](https://github.com/depcheck/depcheck/blob/5132d5ef71feb039d5fec0615f2dd0a04f6ff285/src/utils/index.js#L24) in `loadModuleData` with:

[code]

because Miniflare [uses](https://github.com/cloudflare/miniflare/blob/9265fa4d53262ce66278b91

[2022-10-02 20:01] regseb opened #754 "typedoc doesn't find in npm scripts"
### Bug Description

Depcheck indicates that the [`typedoc`](https://www.npmjs.com/package/typedoc) dependency is unused although it's in an npm script.

### Code snippets

[code]

### Versions

- `node -v`: v18.9.1
- `npm -v`: 8.19.2
- `depcheck --version`: 1.4.3

### Extra info

[code]

[code]

[2022-10-02 21:01] regseb opened #755 "Add an option to clear the cache"
### Feature request description

I want to use depcheck in a project. In the tests, I use [`mock-fs`](https://www.npmjs.com/package/mock-fs) to mock files and test the integration of depcheck. But it's always the first values that are used by depcheck.

There should be an option to clear the cache.

### Code snippets (if applicable)

package.json:

[code]

index.js

[code]

### Any extra info

[co

[2022-10-03 02:02] bblatnick32 commented on #245
Commenting to un-stale.  As anyone found a workaround for a lerna monorepo? Bascially checking the global node_modules as well as the package node_modules in conjuction for each package?

[2022-10-05 06:35] kaboing commented on #735
Same for me

[code]
### Versions
* node -v: 16.17.1
* depcheck --version: 1.4.3

[2022-10-08 10:08] rubengmurray commented on #708
I've managed to narrow down the issue to the `exit()` function that is called when everything has finished processing.

https://github.com/depcheck/depcheck/blob/main/src/cli.js#L136

If this is commented out, the hook does not throw a `255` error and block the entire hook.

`depcheck` seems to work fine without the `exit()` function being called; this makes sense given that `exit()` merely assign

[2022-10-14 16:30] mdaverde commented on #733
Seems like specifying parsers are a complete replacement rather than a granular override of the default parsers. Had to copy and paste the ones in [constants.js](https://github.com/depcheck/depcheck/blob/main/src/constants.js). Looks like a nice workaround for now though!

[2022-10-31 15:28] alanshortis opened #757 "False alert for dependency imported to `.scss` file"
`sanitize.css@^5.0.0` is listed under `dependencies` in a repo that uses yarn workspaces. When running depcheck, it is flagged as unused.

It is imported in a `.scss` file within the workspace:

[code]

[2022-10-31 19:09] cyaris opened #758 "Parser for svelte files."
### Feature request description

Running depcheck on a svelte project results in `Error: Cannot find module 'svelte/compiler'`. Not sure if fixing this would be a bug or a feature.

[2022-11-04 18:00] runofthemill commented on #748
I also just ran into this - for the meantime I'm going to add the prefix to `.depcheckrc` in the `ignores` config, but it would be great to have it read `tsconfig.json`/`webpack.config.js`/`main.js` (for storybook config)/etc.

Cheers!

[2022-11-04 18:08] runofthemill commented on #748
Oohh just found #564 - this is probably closable as a duplicate of that. ¯\\\_(ツ)\_/¯

[2022-11-13 03:46] unional commented on #728
any update?

[2022-11-13 04:04] jakeleventhal commented on #672
not stale

[2022-11-13 06:35] dobesv commented on #719
not stale

[2022-11-13 06:35] dobesv commented on #720
not stale

[2022-11-13 15:02] Keysox commented on #649
Bump

[2022-11-14 00:24] Pablogot opened #759 "Flag to make logs readable and less verbose"
Description:
Reading the logs generated by dep check is very time-consuming, I am personally not interested in seeing hundreds of lines of  `YN0000: [@package]: No depcheck issue` to find an unused dependency.
Removing the verbose flag doesn't help either since it wouldn't display the dependency that actually has an issue and will still log hundreds of lines of `No depcheck issue`.

it would be mo

[2022-11-23 02:49] unional commented on #704
This would help specifying files such as `.eslintrc.cjs` instead of `.eslintrc.js`

[2022-11-23 23:52] dword-design commented on #753
I created a PR that fixes it https://github.com/depcheck/depcheck/pull/760.